#actionCellDownload>button {
  border: 1px solid #0029C6;
  border-radius: 2rem;
  background-color: white;
  color: #0029C6;
  padding: 0.5rem;
  width: 8rem;
}

#actionCellUpload>button {
  background: #0029c6;
  border: none;
  border-radius: 4rem;
  color: white;
  padding: 0.5rem;
  width: 8rem;
}

#header-cell {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
  word-wrap: break-word;
  padding-left: 2rem;
}

#table {
  background: #fdfdfe;
}

#table-header {
  background: #D7DFFF;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

#header-header>div {
  color: black;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15px;
}

#document-row {
  border-radius: 20px;
  border: 1px solid var(--M3-sys-light-outline-variant, #CAC4D0);
  background: var(--M3-white, #FFF);
}

#fileName {
  color: grey;
}

#helperText {
  color: grey;
  font-weight:500;
}

#svg-icon-w #icon-w {
  fill: white;
}

#actionCellDownload>button.disabledDownload {
  border: 1px solid #e3e3e4ff;
  border-radius: 2rem;
  background-color: #e3e3e4ff;
  color: #ffffff;
  padding: 0.5rem;
  width: 8rem;
}

:host .upload-download-button {
  width: 100% !important;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #0029C6 !important;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}

#accordion {
  margin-right: -2%;
  margin-left: -2%;
}

.padding-row-buttons {
  padding-left: 5rem;
}
