#dialog-save>button {
    background: #0029c6;
    border: none;
    border-radius: 4rem;
    color: white;
    padding: 8px;
    width: 80%;
  }
  
  #dialog-close>button {
    border: 1px solid #0029c6;
    border-radius: 4rem;
    background-color: white;
    color: #0029c6;
    padding: 7px;
    width: 80%;
  }