#button-container {
  text-align: center;
}

#edit-chart-container{
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

#edit-chart-container>canvas{
  margin: 0 auto;
  width: 100%;
  height: 40vh;
}

#oveflow-contianer{
  height: 95vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

#report-content{
  padding: 50px 0px;
}
