<app-confirm-dialog *ngIf="showConfirmDialog" [dialogType]="dialogTypeData"
    (confirmation)="dialogFeedBack($event)"></app-confirm-dialog>
<div class="col-12" id="accordion-container">
    <mat-accordion id="accordion" class="row">
        <mat-expansion-panel class="mt-3 rounded-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Work Experiences
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end mb-3 mt-3">
                        <button [disabled]="addingWorkExperience || sharedAccordionFunctionality.workExperience.length == 0" mat-button id="edit-button-width"
                            (click)="editWorkExperiences()">
                            <mat-icon>edit</mat-icon>Edit Details
                        </button>
                    </div>
                    <div class="col-12 col-md-9 col-lg-10">
                        <div class="col-12">
                            <div *ngFor="let experience of sharedAccordionFunctionality.workExperience; let i = index" class="col-12">
                                <div id="form-wrapper" class="col-12">
                                    <div class="row">
                                    <div class="d-flex">
                                        <div class="col-6">
                                            <div class="experience-header">
                                                <h3 class="mb-1" id="clientNameHeading">{{sharedAccordionFunctionality.workExperience[i].clientName}} | {{ formatDate(sharedAccordionFunctionality.workExperience[i].startDate) }}</h3>
                                            </div>
                                        </div>
                                        <div class="col-6 justify-content-end">
                                            <div class="experience-header"id="experience-remove-new" *ngIf="editWorkExperience">
                                                <button mat-button id="delete-button" (click)="showDialog('update',i)">
                                                    <mat-icon class="icon-color mb-1">delete_outline</mat-icon>Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 my-2">
                                        <mat-form-field appearance="outline" class="w-100"
                                            *ngIf="editWorkExperience; else NoEditName">
                                            <mat-label>Client Name</mat-label>
                                            <input type="text" matInput placeholder="Client Name"
                                                [(ngModel)]="copyOfWorkExperience[i].clientName"
                                                [value]="copyOfWorkExperience[i].clientName">
                                        </mat-form-field>
                                        <ng-template #NoEditName>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Client Name</mat-label>
                                                <input type="text" disabled matInput placeholder="Client Name"
                                                    [(ngModel)]="sharedAccordionFunctionality.workExperience[i].clientName"
                                                    [value]="sharedAccordionFunctionality.workExperience[i].clientName">
                                            </mat-form-field>
                                        </ng-template>
                                    </div>
                                    <div class="col-12 col-md-6 my-2">
                                        <mat-form-field appearance="outline" class="w-100"
                                            *ngIf="editWorkExperience; else NoEditProjectName">
                                            <mat-label>Project Name</mat-label>
                                            <input type="text" matInput placeholder="Project Name"
                                                [(ngModel)]="copyOfWorkExperience[i].projectName"
                                                [value]="copyOfWorkExperience[i].projectName">
                                        </mat-form-field>
                                        <ng-template #NoEditProjectName>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Project Name</mat-label>
                                                <input type="text" disabled matInput placeholder="Project Name"
                                                    [(ngModel)]="sharedAccordionFunctionality.workExperience[i].projectName"
                                                    [value]="sharedAccordionFunctionality.workExperience[i].projectName">
                                            </mat-form-field>
                                        </ng-template>
                                    </div>
                                    <div class="col-12 col-md-6 my-2">
                                        <mat-form-field id="container" appearance="outline" class="w-100" *ngIf="editWorkExperience; else NoEditSkillSet">
                                            <mat-label>Skillset</mat-label>
                                                <mat-select [(ngModel)]="copyOfWorkExperience[i].skillSet" multiple>
                                                <mat-select-trigger>
                                                    <mat-chip-grid>
                                                    <ng-container *ngFor="let skill of copyOfWorkExperience[i].skillSet; let idx = index">
                                                        <mat-chip-row *ngIf="idx < 2" class="matChip" [removable]="true" (removed)="onSkillRemoved(i, skill)">
                                                        {{ skill }}
                                                        <button matChipRemove>
                                                            <mat-icon>cancel</mat-icon>
                                                        </button>
                                                        </mat-chip-row>
                                                    </ng-container>
                                                    <mat-chip-row *ngIf="copyOfWorkExperience[i].skillSet!.length > 2" class="matChip">
                                                        +{{ copyOfWorkExperience[i].skillSet!.length - 2 }} 
                                                    </mat-chip-row>
                                                    </mat-chip-grid>
                                                </mat-select-trigger>
                                                <mat-option *ngFor="let skill of skillSetList" [value]="skill">{{ skill }}</mat-option>
                                                </mat-select>
                                        </mat-form-field>
                                        <ng-template #NoEditSkillSet>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Skillset</mat-label>
                                                <mat-select  [(ngModel)]="sharedAccordionFunctionality.workExperience[i].skillSet" multiple disabled>
                                                    <mat-select-trigger >
                                                      <mat-chip-grid [disabled]="isDisabled">
                                                        <ng-container *ngFor="let skill of sharedAccordionFunctionality.workExperience[i].skillSet; let i=index">
                                                          <mat-chip-row *ngIf="i < 2" class="matChip" [removable]="true" (removed)="onSkillRemoved(i, skill)">
                                                            {{ skill }}
                                                            <button matChipRemove>
                                                              <mat-icon>cancel</mat-icon>
                                                            </button>
                                                          </mat-chip-row>
                                                        </ng-container>
                                                        <mat-chip-row class="matChip" *ngIf="sharedAccordionFunctionality.workExperience[i].skillSet!.length > 2">
                                                          +{{ sharedAccordionFunctionality.workExperience[i].skillSet!.length - 2 }}
                                                        </mat-chip-row>
                                                      </mat-chip-grid>
                                                    </mat-select-trigger>
                                                    <mat-option disabled *ngFor="let skill of skillSetList" [value]="skill">{{ skill }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-template>
                                    </div>
                                    <div class="col-12 col-md-6 my-2">
                                        <mat-form-field appearance="outline" class="w-100" *ngIf="editWorkExperience; else NoEditSoftware">
                                            <mat-label>Software</mat-label>
                                            <mat-select [(ngModel)]="copyOfWorkExperience[i].software" multiple>
                                                <mat-select-trigger>
                                                    <mat-chip-grid >
                                                      <ng-container *ngFor="let software of copyOfWorkExperience[i].software; let i = index">
                                                        <mat-chip-row *ngIf="i < 2" class="matChip" [removable]="true" (removed)="removeSoftwareItem(i, software)">
                                                          {{ software }}
                                                          <button matChipRemove>
                                                            <mat-icon>cancel</mat-icon>
                                                          </button>
                                                        </mat-chip-row>
                                                      </ng-container>
                                                      <mat-chip-row class="matChip" *ngIf="copyOfWorkExperience[i].software!.length > 2">
                                                        +{{ copyOfWorkExperience[i].software!.length - 2 }}
                                                      </mat-chip-row>
                                                    </mat-chip-grid>
                                                  </mat-select-trigger>
                                                <mat-option *ngFor="let software of softwareList" [value]="software">{{ software }}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <ng-template #NoEditSoftware>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Software</mat-label>
                                                <mat-select [(ngModel)]="sharedAccordionFunctionality.workExperience[i].software" multiple disabled>
                                                    <mat-select-trigger>
                                                        <mat-chip-grid [disabled]="isDisabled">
                                                          <ng-container *ngFor="let software of sharedAccordionFunctionality.workExperience[i].software; let i = index">
                                                            <mat-chip-row *ngIf="i < 2" class="matChip" [removable]="true" (removed)="removeSoftwareItem(i, software)">
                                                              {{ software }}
                                                              <button matChipRemove>
                                                                <mat-icon>cancel</mat-icon>
                                                              </button>
                                                            </mat-chip-row>
                                                          </ng-container>
                                                          <mat-chip-row class="matChip" *ngIf="sharedAccordionFunctionality.workExperience[i].software!.length > 2">
                                                            +{{sharedAccordionFunctionality.workExperience[i].software!.length - 2 }}
                                                          </mat-chip-row>
                                                        </mat-chip-grid>
                                                      </mat-select-trigger>
                                                    <mat-option *ngFor="let software of softwareList" [value]="software">{{ software }}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </ng-template>
                                    </div>
                                    <div class="col-12 col-md-6 my-2">
                                        <mat-form-field class="w-100" appearance="outline"
                                            *ngIf="editWorkExperience; else NoEditStartDate">
                                            <mat-label>Start Date</mat-label>
                                            <input matInput [matDatepicker]="picker1" placeholder="Start Date"
                                                [(ngModel)]="copyOfWorkExperience[i].startDate"
                                                [value]="copyOfWorkExperience[i].startDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                        <ng-template #NoEditStartDate>
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Start Date</mat-label>
                                                <input matInput disabled [matDatepicker]="picker1"
                                                    placeholder="Start Date"
                                                    [(ngModel)]="sharedAccordionFunctionality.workExperience[i].startDate"
                                                    [value]="sharedAccordionFunctionality.workExperience[i].startDate">
                                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                                <mat-datepicker #picker1></mat-datepicker>
                                            </mat-form-field>
                                        </ng-template>
                                    </div>
                                    <div class="col-12 col-md-6 my-2">
                                        <mat-form-field class="w-100" appearance="outline"
                                            *ngIf="editWorkExperience; else NoEditEndDate">
                                            <mat-label>End Date</mat-label>
                                            <input matInput [matDatepicker]="picker2" placeholder="End Date"
                                                [(ngModel)]="copyOfWorkExperience[i].endDate"
                                                [value]="copyOfWorkExperience[i].endDate">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2></mat-datepicker>
                                        </mat-form-field>
                                        <ng-template #NoEditEndDate>
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>End Date</mat-label>
                                                <input matInput disabled [matDatepicker]="picker2"
                                                    placeholder="End Date"
                                                    [(ngModel)]="sharedAccordionFunctionality.workExperience[i].endDate"
                                                    [value]="sharedAccordionFunctionality.workExperience[i].endDate">
                                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                                <mat-datepicker #picker2></mat-datepicker>
                                            </mat-form-field>

                                        </ng-template>
                                    </div>
                                    <mat-form-field class="example-full-width" appearance="outline" *ngIf="editWorkExperience; else NoEditProjectDescription">
                                        <mat-label>Project description</mat-label>
                                        <textarea [(ngModel)]="copyOfWorkExperience[i].projectDescription"
                                        [value]="copyOfWorkExperience[i].projectDescription"
                                         matInput placeholder="This project was based on...."></textarea>
                                      </mat-form-field>
                                      <ng-template #NoEditProjectDescription>
                                      <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Project description</mat-label>
                                        <textarea matInput disabled [(ngModel)]="sharedAccordionFunctionality.workExperience[i].projectDescription"
                                        [value]="sharedAccordionFunctionality.workExperience[i].projectDescription"
                                         matInput placeholder="This project was based on...."></textarea>
                                      </mat-form-field>
                                      </ng-template>
                                    <hr>
                                </div>
                            </div>
                        </div>

                        <div *ngFor="let experiences of sharedAccordionFunctionality.newWorkExperiences; let i = index" class="row">
                            <div class="row d-block">
                                <div class="experience-header" id="experience-remove-new" *ngIf="addingWorkExperience">
                                    <button mat-button id="delete-button" (click)="showDialog('new',i)">
                                        <mat-icon class="icon-color mb-1">delete_outline</mat-icon>Delete
                                    </button>
                                </div>
                            </div>
                            <div class="row d-block">
                                <div class="experience-header" *ngIf="!addingWorkExperience">
                                    <h3 class="mb-2">{{sharedAccordionFunctionality.newWorkExperiences[i].clientName}}</h3>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Client Name</mat-label>
                                    <input type="text" matInput placeholder="Client Name"
                                        [(ngModel)]="sharedAccordionFunctionality.newWorkExperiences[i].clientName"
                                        [value]="sharedAccordionFunctionality.newWorkExperiences[i].clientName">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Project Name</mat-label>
                                    <input type="text" matInput placeholder="Project Name"
                                        [(ngModel)]="sharedAccordionFunctionality.newWorkExperiences[i].projectName"
                                        [value]="sharedAccordionFunctionality.newWorkExperiences[i].projectName">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Skillset</mat-label>
                                    <mat-select [(ngModel)]="sharedAccordionFunctionality.newWorkExperiences[i].skillSet" multiple>
                                        <mat-select-trigger>
                                            <mat-chip-grid >
                                              <ng-container *ngFor="let skill of sharedAccordionFunctionality.newWorkExperiences[i].skillSet; let i = index">
                                                <mat-chip-row *ngIf="i < 2" class="matChip" [removable]="true">
                                                  {{ skill }}
                                                  <button matChipRemove>
                                                    <mat-icon>cancel</mat-icon>
                                                  </button>
                                                </mat-chip-row>
                                              </ng-container>
                                              <mat-chip-row class="matChip" *ngIf="sharedAccordionFunctionality.newWorkExperiences[i].skillSet!.length > 2">
                                                +{{ sharedAccordionFunctionality.newWorkExperiences[i].skillSet!.length - 2 }}
                                              </mat-chip-row>
                                            </mat-chip-grid>
                                          </mat-select-trigger>
                                        <mat-option *ngFor="let skill of skillSetList" [value]="skill">{{ skill }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Software</mat-label>
                                    <mat-select [(ngModel)]="sharedAccordionFunctionality.newWorkExperiences[i].software" multiple>
                                        <mat-select-trigger>
                                            <mat-chip-grid >
                                              <ng-container *ngFor="let software of sharedAccordionFunctionality.newWorkExperiences[i].software; let i = index">
                                                <mat-chip-row *ngIf="i < 2" class="matChip" [removable]="true" >
                                                  {{ software }}
                                                  <button matChipRemove>
                                                    <mat-icon>cancel</mat-icon>
                                                  </button>
                                                </mat-chip-row>
                                              </ng-container>
                                              <mat-chip-row class="matChip" *ngIf="sharedAccordionFunctionality.newWorkExperiences[i].software!.length > 2">
                                                +{{ sharedAccordionFunctionality.newWorkExperiences[i].software!.length - 2 }}
                                              </mat-chip-row>
                                            </mat-chip-grid>
                                          </mat-select-trigger>
                                        <mat-option *ngFor="let software of softwareList" [value]="software">{{ software }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="picker1" placeholder="Start Date"
                                        [(ngModel)]="sharedAccordionFunctionality.newWorkExperiences[i].startDate"
                                        [value]="sharedAccordionFunctionality.newWorkExperiences[i].startDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>End Date</mat-label>
                                    <input matInput [matDatepicker]="picker2" placeholder="End Date"
                                        [(ngModel)]="sharedAccordionFunctionality.newWorkExperiences[i].endDate"
                                        [value]="sharedAccordionFunctionality.newWorkExperiences[i].endDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 my-2">
                                <mat-form-field class="" id="project-description-width" appearance="outline" >
                                    <mat-label>Project description</mat-label>
                                    <textarea [(ngModel)]="sharedAccordionFunctionality.newWorkExperiences[i].projectDescription"
                                    [value]="sharedAccordionFunctionality.newWorkExperiences[i].projectDescription"
                                     matInput placeholder="This project was based on...."></textarea>
                                </mat-form-field>
                                </div>
                            <hr>
                        </div>

                        <div *ngIf="editWorkExperience" class="col d-none d-md-flex" id="edit-buttons">
                            <button mat-button id="cancel-button" (click)="cancelWorkExperience()">
                                Cancel
                            </button>
                            <button mat-button id="save-button" type="submit" (click)="updateWorkExperience()">
                                Save
                            </button>
                        </div>
                        <div *ngIf="addingWorkExperience" class="col d-none d-md-flex" id="edit-buttons">
                            <button mat-button id="cancel-button" (click)="cancelWorkExperience()">
                                Cancel
                            </button>
                            <button mat-button id="save-button" type="submit" (click)="saveWorkExperience()">
                                Save
                            </button>
                            <hr>
                        </div>
                        <div class="pt-3">
                            <h2>Add Another Work Experience here</h2>
                            <button mat-button id="add-another-button" [disabled]="editWorkExperience" type="submit"
                                (click)="addNewWorkExperience()">
                                <mat-icon>add</mat-icon> Add Another Work Experience
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>