#add-another-button {
    background: #0029c6;
    border: none;
    border-radius: 4rem;
    color: white;
    padding: 0.5rem;
    right: 0px;
    height: 40px;
    width: 30%;
}

mat-icon{
    cursor: pointer;
}

#add-another-button:disabled{
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}

#edit-button-width {
    border: none;
    border-radius: 2rem;
    background-color: #D7DFFF;
    color: #0029C6;
    width: 170px;
}

#delete-button {
    border: none;
    border-radius: 2rem;
    color: rgb(184, 2, 2);
    width: 120px;
}

#edit-button-width:disabled{
    background-color: #ddd;
    color: #888;
    cursor: not-allowed;
}

.experience-header {
    display: flex;
    align-items: center;
}

#experience-remove-new {
    justify-content: end;
}

.icon-color{
    color: rgb(184, 2, 2);
}

.experience-header h2 {
    margin: 0; 
    margin-right: 8px;
    gap: 20px;
}

#clientNameHeading {
    font-weight: 500;
}

#alignrow{
    display: flex;
    flex-direction: row;
}

#remove-document-button , .remove-document-button{
    color: red;
}

#project-description-width{
    width:880px;
}

.matChip{
    border-radius: 8px;
}
  
mat-select-trigger {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }
  
mat-chip-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
  }