<div class="row">
    <div *ngIf="!isEdit;else IsEditing">
        <button class="btn btn-primary" (click)="toggleEdit()">Edit</button>
    </div>
    <ng-template #IsEditing>
        <div class="row">
            <div class="col-auto">
                <button class="btn btn-success" (click)="saveChanges()">Save</button>
            </div>
            <div class="col-auto">
                <button class="btn btn-danger" (click)="toggleEdit()">Cancel</button>
            </div>
        </div>
    </ng-template>
</div>
<div class="row">
    <div *ngFor="let field of EmployeeFields; index as index" class="col-6">
        <div class="row">
            <div class="col-5">
                <label for={{field.label}}>{{field.label}}</label>
            </div>
            <div class="col-6">
                <div *ngIf="field.options.length > 0; else NoOptions">
                    <select (change)="captureChange($event, index)" [disabled]="!canEdit(field)">
                        <option class="form-select" value={{option}} *ngFor="let option of field.options">{{option}}</option>
                    </select>
                </div>
                <ng-template #NoOptions>
                    <input [id]=field.label [readOnly]="!canEdit(field)" class="form-control" type={{field.type}} (change)="captureChange($event, index)" [value]=field.value>                
                </ng-template>
            </div>
        </div>
    </div>
</div>