<div class="row ">
    <div class="col-12 right">
    <button (click)="service.CaptureEvent('Workshops', selectedItem)" mat-raised-button class="btn btn-default">back</button>
    </div> 
</div>
<ng-container *ngIf="selectedWorkshop$ | async as workshop;">
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header card-header-rose">
                    <h6 class="text-white text-capitalize ps-3">{{workshop.selectedWorkshop['eventId'].title}}</h6>
                </div>
                <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Presenter:</strong> &nbsp; {{workshop.selectedWorkshop.presenter}}</li>
                    <!-- <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Date:</strong> &nbsp; {{workshop.selectedWorkshop['eventId'].startDate | date}}</li> -->
                    <!-- <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Time:</strong>
                         &nbsp; {{workshop.selectedWorkshop['eventId'].startDate | date: 'shortTime'}} - {{workshop.selectedWorkshop['eventId'].endDate | date: 'shortTime' }}
                        </li> -->
                </ul>
                <hr class="horizontal gray-light my-4">
                <p class="text-sm">
                    {{workshop.selectedWorkshop['eventId'].description}}
                </p>
                <hr class="horizontal gray-light my-4">
                <p class="text-sm">
                    <a href="#">Additional resources here</a>
                </p>
                </div>
            </div>
        </div>
    </div>
</ng-container>

