<div class="row ">
    <div class="col-12 right">
    <button (click)="service.CaptureEvent('Workshops', selectedItem)" mat-raised-button class="btn btn-default">back</button>
    </div> 
</div>
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header card-header-rose">
                <h6 class="text-white text-capitalize ps-3">Codewars Exercises</h6>
            </div>
            <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Presenter:</strong> &nbsp; Eduan H. Odendaal</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Date:</strong> &nbsp; 02/03/2023</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Time:</strong> &nbsp; 08:00 - 12:00</li>
            </ul>
            <hr class="horizontal gray-light my-4">
            <p class="text-sm">
                Workshop descript here..
            </p>
            <hr class="horizontal gray-light my-4">
            <p class="text-sm">
                <a href="#">Additional resources here</a>
            </p>
            </div>
        </div>
    </div>
</div>

