.disabled-text-address {
    color: #ccc;
  }

  #edit-button-width {
    border: none;
    border-radius: 2rem;
    background-color: #D7DFFF;
    color: #0029C6;
    width: 170px;
}

.align-text-icon{
  display: flex;
  flex-direction: row;
}