#title {
  text-align: center;
}

#button-container {
  text-align: center;
}

#save-button {
  border: none;
  border-radius: 2rem;
  background-color: #0029C6;
  color: white;
  padding: 1rem;
}

#edit-chart-container{
  max-height: fit-content;
  text-align:center;
  width: 85%;
  margin: 0 auto;
}

#edit-chart-container>canvas{
  margin: 0 auto;
  height: 100%;
}
