#chart-item {
  background-color: white;
  border-radius: 1rem;
  min-height: 50vh;
  max-width: 90%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

.chart-width-mobile {
  min-height: 30vh !important;
  max-width: 90% !important;
}

.chart-width-tablet {
  border-radius: 1rem;
  min-height: 30% !important;
  max-width: 90% !important;
  margin-left: 10px;
}

#chart-header {
  text-align: left;
  color: #0029C6;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
}

#chart-body {
  display: flex;
}

#canvas-container-bar {
  max-width: 75vh;
  max-height: 75vh;
  text-align: center;
  margin: 0 auto;
}

#canvas-container-pie {
  max-height: 50vh;
  max-width: 50vh;
  text-align: center;
  margin: 0 auto;
}

#bar-role-names {
  text-align: left;
  margin-top: 5%;
}

#pie-role-names {
  text-align: left;
  margin-top: 10%;
}

#menu-icon {
  color: #0029c6;
  border-width: 2px;
  margin: 0 auto;
}

#options-trigger {
  align-items: center;
  border-radius: 50%;
  background-color: #b9c8ff;
  display: flex;
  padding: 0;
  justify-content: center;
  min-width: 0;
  height: 2.5rem;
  width: 2.5rem;
}

.icon-width-mobile {
  width: 65px !important;
  height: 1rem !important;
}

.icon-width-tablet {
  width: 65px !important;
  height: 1rem !important;
}

#edit-controls>button {
  margin: 1rem;
}

#edit-chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 48vh;
  max-width: 95%;
  margin: 0 auto;
}

#custom-width {
  width: 10%;
}

#regular-width {
  width: fit-content;
}

h4 {
  font-weight: 500;
}