<app-confirm-dialog *ngIf="showConfirmDialog" [dialogType]="dialogTypeData"
  (confirmation)="dialogFeedBack($event)"></app-confirm-dialog>
<div id="chart-container" *ngIf="showUpdateForm">
  <div class="row pt-3">
    <div class="col-12 col-lg-8" style="max-height: 50vh;">
      <div id="edit-chart-container">
        <canvas [plugins]="activeChart.type == 'bar' ? barChartPlugins : pieChartPlugins" baseChart
          [datasets]='activeChart.datasets'
          [labels]="activeChart.type == 'bar'? activeChart.labels : activeChart.labels" [type]="activeChart.type"
          [options]="getChartOptions(activeChart.type)">
        </canvas>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row p-4 d-flex justify-content-center">
        <h3>Update Chart</h3>
        <div class="row">
          <div class="col-12" id="dialog-radios">
            <mat-form-field appearance="outline" style="width: 100%;">
              <mat-label>Chart Name</mat-label>
              <input matInput [(ngModel)]="updateFormData.name">
            </mat-form-field>
          </div>
          <div class="col-12" *ngIf="activeChart.subtype != 'stacked'">
            <mat-radio-group class="d-flex row" aria-label="Chart Type" [(ngModel)]="updateFormData.type">
              <mat-radio-button class="d-flex" value='bar'>Bar</mat-radio-button>
              <mat-radio-button class="d-flex" value='pie'>Pie</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-12 row mt-3 justify-content justify-content-md-end ms-lg-3" id="edit-controls">
            <button mat-button class="col-12 col-md-5 col-lg-12" id="save-button" (click)="updateChart()">
              Save
            </button>
            <button mat-button class="col-12 mt-0 col-md-5  col-lg-12 offset-md-2 ms-md-5 ms-lg-0" id="cancel-button"
              (click)="showUpdateForm = false">Cancel</button>
          </div>
          <div class="report-controls">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="report-page" *ngIf="showReport">
  <div style="height: 90%;" class="my-2">
    <app-report
      [chartData]="{selectedChart : updateFormData, canvasData :chartCanvasArray[selectedChartIndex]}"></app-report>
  </div>
  <div class="mt-4">
    <button mat-button id="cancel-button" (click)="showReport= false">Back</button>
  </div>
</div>
<div class="row  justify-content-center d-flex flex-wrap" id="chart-container" *ngIf="!showUpdateForm && !showReport">
  <div class="col-lg-12 col-sm-2 col-md-6 my-2 border" *ngFor="let chart of chartData;index as i" id="chart-item"
    [ngClass]="screenWidth >= 767 ? 'chart-width-tablet' : 'chart-width-mobile'">
    <div id="chart-header" class="row px-2 pt-2">
      <div class="col d-inline-flex">
        <h4 class="mt-3">{{chart.name}}</h4>
      </div>
      <div class="col-md-1 col-sm-3 d-sm-inline-flex mt-3" id="chart-icon"
        [ngClass]="screenWidth >= 767 ? 'icon-width-tablet' : 'icon-width-mobile'">
        <button mat-button [matMenuTriggerFor]="menu" id="options-trigger" class="ms-sm-4 ms-lg-auto">
          <mat-icon id="menu-icon">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="rounded-4 p-2">
          <button mat-menu-item (click)="pdfPreview(i)">
            <mat-icon class="pe-3">download-doc</mat-icon> Export Graph
          </button>
          <button mat-menu-item (click)="generateReport(i)">
            <mat-icon class="pe-3">arrow_forward_ios</mat-icon> View Graph Details
          </button>
          <button mat-menu-item (click)="editChart(i)">
            <mat-icon class="pe-3">edit</mat-icon> Edit Graph
          </button>
          <button mat-menu-item (click)="confirmDelete(i)">
            <mat-icon class="pe-3">delete_outline</mat-icon> Delete Graph
          </button>
        </mat-menu>
      </div>
    </div>
    <hr>
    <div id="chart-body" class="pb-2">
      <div class="col-9 col-md-9 col-sm-6" id="canvas-container-bar" *ngIf="chart.type == 'bar'">
        <canvas [plugins]="chart.type == 'bar' ? barChartPlugins : pieChartPlugins" baseChart
          [datasets]='chart.datasets' [labels]="chart.type == 'bar'? chart.labels : chart.labels" [type]="chart.type"
          [options]="getChartOptions(chart.type)"></canvas>
      </div>
      <div class="col-9 col-md-9 col-sm-6" id="canvas-container-pie" *ngIf="chart.type == 'pie'">
        <canvas [plugins]="chart.type == 'bar' ? barChartPlugins : pieChartPlugins" baseChart
          [datasets]='chart.datasets' [labels]="chart.type == 'bar'? chart.labels : chart.labels" [type]="chart.type"
          [options]="getChartOptions(chart.type)"></canvas>
      </div>
      <div class="col-3 col-md-3 col-sm-6" id="bar-role-names" *ngIf="chart.type == 'bar' && chart.subtype == 'standard'">Roles:
        <div *ngFor="let role of chart.roles;index as k">
          - {{chart.roles[k]}}
        </div>
      </div>
      <div class="col-3 col-md-3 col-sm-6" id="pie-role-names" *ngIf="chart.type == 'pie' && chart.subtype == 'standard'">Roles:
        <div *ngFor="let role of chart.roles;index as k">
          - {{chart.roles[k]}}
        </div>
      </div>
    </div>
  </div>
</div>