<section class="fluid-container">
</section>
<div class="btn-group" role="group">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-primary" for="btnradio1" (click)="currentTab = 'Evaluations'">Evaluations</label>

    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-primary" for="btnradio2" (click)="currentTab = 'Templates'">Templates</label>
</div>

<div class="fluid-container" *ngIf="currentTab === 'Evaluations'">
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Owner</th>
                <th scope="col">Employee</th>
                <th scope="col">Subject</th>
                <th scope="col">Template</th>
                <th scope="col">Start-Date</th>
                <th scope="col">End-Date</th>
            </tr>
        </thead>
        <tbody>
            <tr (click)="goToEvaluationsWithoutSelection()">
                <td>
                    <span class="material-icons">
                        add_circle
                    </span>
                </td>
                <td>
                    Add Evaluation
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr *ngFor="let evaluation of evaluations$ | async" (click)="selectEvaluation(evaluation)">
                <td>{{ evaluation.owner.email }}</td>
                <td>{{ evaluation.employee.email }}</td>
                <td>{{ evaluation.subject }}</td>
                <td>{{ evaluation.template.description }}</td>
                <td>{{ evaluation.startDate }}</td>
                <td>{{ evaluation.endDate }}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="fluid-container" *ngIf="currentTab === 'Templates'">
    <app-template-items></app-template-items>
</div>
