<button id="savechangesbtn">Save Changes</button>

<div class="table-responsive">
  <table class="table" id="mattable">
    <thead>
      <tr>
        <th scope="col"id="tableheader">
          Permissions
         </th>
        <th scope="col" *ngFor="let p of roles" id="tableheader">
         {{p.description}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" id="subheader">
          Charts
         </th>
         <th scope="row" *ngFor="let r of roles" id="subheader">
          <mat-checkbox
            color="primary"
            [(ngModel)]="parentSelector"
            [value]="-1 + ''"
        >All RoleID :{{r.id}}</mat-checkbox>
         </th>
      </tr>
      <tr *ngFor="let n of chartsPermissions">
        <th scope="row">
         {{n.description}}
        </th>
        <th *ngFor="let r of roles">
          <mat-checkbox
          color="primary"
          [checked]="false"
          (change)="onChangeRoleAccess($event, r.description, n.description)"
        >role : {{r.description}} Permission: {{n.description}}</mat-checkbox>
        </th>
      </tr>
    </tbody>
  </table>
</div>
 

