#nav-item>div {
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

#nav-item>div:hover {
    cursor: pointer;
}

#nav-item>div.active {
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.nav-item-mobile{
  width: 150px;
  max-width: 100%;
  overflow-x: scroll;
  flex-shrink: 0;
  display: flex;
  margin-left: 7%;
}

#new-candidate {
    text-align: center;
    display: flex;
    margin: 0px auto;
    width: 223px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
  }
  
  #new-candidate>button {
    background: #0029c6;
    border: none;
    border-radius: 4rem;
    color: white;
    margin: 0px auto;
    width: 12rem;
    margin-right: 2rem;
    padding: 0.5rem;
    right: 0px;
    position: absolute;
  }