<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="logo offcanvas-header">
        <a class="simple-text">
            <div class="logo-img">
                <img src=""/>
            </div>
            Retro Onboarding
        </a>
    </div>
    <div class="sidebar-wrapper offcanvas-body">
        <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
                <a class="nav-link" (click)="CaptureEvent($event)" *ngIf="IsMenuItemVisible(menuItem)">
                    <i class="material-icons">{{menuItem.icon}}</i>
                    <p>{{menuItem.title}}</p>
                </a>
            </li>
        </ul>
    </div>
</div>
