<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src=""/>
        </div>
        Retro Grad Onboarding
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">      
        <li routerLinkActive="active" *ngIf="GetUserType() !== undefined" class="nav-item">
            <a class="nav-link" (click)="CaptureEvent($event)">
                <i class="material-icons">dashboard</i>
                <p>Dashboard</p>
            </a>
        </li>
        <li routerLinkActive="active" *ngIf="GetUserType() === 0" class="nav-item">
            <a class="nav-link" (click)="CaptureEvent($event)">
                <i class="material-icons">home_repair_service</i>
                <p>Workshops</p>
            </a>
        </li>
        <li routerLinkActive="active" *ngIf="GetUserType() === 2" class="nav-item">
            <a class="nav-link" (click)="CaptureEvent($event)">
                <i class="material-icons">assignment</i>
                <p>Personal Project</p>
            </a>
        </li>
    </ul>
</div>
