<div class="col-12" id="accordion-container">
  <mat-accordion id="accordion" class="row">
    <mat-expansion-panel class="mt-3 rounded-3" (opened)="sharedAccordionFunctionality.panelOpenState = true"
      (closed)="sharedAccordionFunctionality.panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Details
        </mat-panel-title>
        <mat-panel-description *ngIf="sharedAccordionFunctionality.personalFormProgress != 100" class="pe-0 pe-md-5">
          <mat-icon class="mx-1">error</mat-icon><span class="d-none d-md-block d-lg-block">Missing Information</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form [formGroup]="sharedAccordionFunctionality.personalDetailsForm">
        <button class="d-flex d-md-none col-12" *ngIf="!sharedAccordionFunctionality.editPersonal" mat-button id="edit-button"
          (click)="editPersonalDetails()" [ngClass]="screenWidth <= 767 ?'col-12':''">
          <mat-icon>edit</mat-icon>Edit Details
        </button>
        <div class="row">
          <div class="row">
            <div class="col-12 col-md-9 col-lg-10">
              <div class="row">
                <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.gender" class="col-11 my-2">
                  <h4 [ngStyle]="{'color' : sharedAccordionFunctionality.editPersonal ? 'black' :'grey'}">Gender</h4>
                  <mat-radio-group aria-label="Select your gender" formControlName="gender"
                    class="row col-12 col-md-7 col-lg-5 d-flex" [value]="employeeProfile.employeeDetails.gender">
                    <mat-radio-button [value]=1>Male</mat-radio-button>
                    <mat-radio-button [value]=2>Female</mat-radio-button>
                    <mat-radio-button [value]=0>Prefer not to say</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.race" class="col-12 col-md-6 my-2">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Race</mat-label>
                    <mat-select formControlName="race" hideSingleSelectionIndicator="true">
                      <mat-option *ngFor="let race of sharedAccordionFunctionality.races; index as i" [value]="i">
                        {{race.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-12 my-2 col-md-6">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Country of Birth</mat-label>
                    <mat-select formControlName="countryOfBirth"
                    hideSingleSelectionIndicator="true">
                    <mat-option *ngFor="let country of countries" [value]="country"> {{ country }} </mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
                <div class="col-12 my-2 col-md-6">
                  <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nationality</mat-label>
                    <mat-select formControlName="nationality"
                    hideSingleSelectionIndicator="true">
                    <mat-option *ngFor="let country of countries" [value]="country"> {{ country }} </mat-option>
                  </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.disability" class="col-12 my-1">
                  <h3 [ngStyle]="{'color' : sharedAccordionFunctionality.editPersonal ? 'black' :'grey'}">
                    Do you have any disabilities?
                  </h3>
                  <mat-radio-group aria-label="Select status" (change)="setHasDisability($event)"
                    formControlName="disability" class="row d-flex">
                    <mat-radio-button [value]=false>No</mat-radio-button>
                    <mat-radio-button [value]=true>Yes</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-12"
                  *ngIf="sharedAccordionFunctionality.hasDisability && sharedPropertyAccessService.employeeProfilePermissions.disability">
                  <div class="row">
                    <div class="col-12 col-md-6 mt-3">
                      <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Disability</mat-label>
                        <mat-select formControlName="disabilityType" hideSingleSelectionIndicator="true" (selectionChange)="setTypeOther($event)">
                          <mat-option *ngFor="let disability of sharedAccordionFunctionality.disabilities;"
                            [value]="disability.value">
                            {{disability.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div *ngIf="sharedAccordionFunctionality.typeOther == true" class="col-12 col-md-6 mt-3">
                      <mat-form-field id="mat-field" appearance="outline" style="width: 100%;"
                        class="disability-description">
                        <textarea matInput placeholder="Disability Notes" formControlName="disabilityNotes" class="text-area"></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 d-none d-md-flex mt-md-2 justify-content-end">
              <button *ngIf="!sharedAccordionFunctionality.editPersonal" mat-button id="edit-button-width"
              (click)="editPersonalDetails()" [ngClass]="screenWidth <= 767 ?'col-12':''">
              <mat-icon>edit</mat-icon>Edit Details
              </button>
            </div>
          </div>
          <div class="col-12 d-block d-md-none" id="edit-buttons">
            <button class="col-12 mb-2" *ngIf="sharedAccordionFunctionality.editPersonal" mat-button id="save-button"
              (click)="savePersonalEdit()">
              Save
            </button>
            <button class="col-12" *ngIf="sharedAccordionFunctionality.editPersonal" mat-button id="cancel-button"
              (click)="cancelPersonalEdit()">
              Cancel
            </button>
          </div>
          <div class="col-12 d-none d-md-flex" id="edit-buttons">
            <button *ngIf="sharedAccordionFunctionality.editPersonal" mat-button id="cancel-button"
              (click)="cancelPersonalEdit()">
              Cancel
            </button>
            <button *ngIf="sharedAccordionFunctionality.editPersonal" mat-button id="save-button"
              (click)="savePersonalEdit()">
              Save
            </button>
          </div>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>