<div class="container bg-white">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-self-center">
      <form (ngSubmit)="Login()" class="mx-auto p-5">
        <span class="fw-semibold fs-2 pb-3">Sign in</span>
        <p class="text-primary fw-normal">Enter your email and password to sign in!</p>
        <button type="submit" aria-label="Sign in with Google" class="signin-btn">
          <img src="../../../assets/img/Google_Logo.svg" alt="Google Logo" class="google-logo"> Sign in with Google
        </button>
      </form>
    </div>
    <div class="col-md-6 right-side">
      <img src="../../../assets/img/lighthouse-grave-hope-angel.jpg" alt="Descriptive alt text" class="img-fluid border rounded" />
    </div>
  </div>
</div>