<div class="bg-white">
  <div class="row">
    <div class="col-md-6 half-screen-col d-flex flex-column justify-content-center align-self-center">
      <form (ngSubmit)="Login()" class="mx-auto p-5">
        <h2 class="fw-semibold">Sign in</h2>
        <p class="text-primary fw-normal">Sign in with your Retro Rabbit Email</p>
        <button type="submit" aria-label="Sign in with Google" class="signin-btn text-primary">
          <img src="../../../assets/img/Google_Logo.svg" alt="Google Logo" class="google-logo"> Sign in with Google
        </button>
      </form>
    </div>
    <div class="col-md-6 half-screen-col right-side">
      <img src="../../../assets/img/Image_1.png" alt="new-age image">
      <img src="../../../assets/img/Retro Logo.svg" alt="Retor Rabbit Logo" class="retro-logo">
    </div>
  </div>
</div>