<button>view</button>
<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card my-4">
          <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
            <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
              <h6 class="text-white text-capitalize ps-3">Today's Workshops</h6>
            </div>
          </div>
          <div class="card-body px-0 pb-2">
            <ng-container *ngIf="workshop$ | async as workshopState; else NoToday">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">From</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">To</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Presenter</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let workshop of workshopState['TodaysWorkshops']; let i=index">
                      <td class="text-xs font-weight-bold mb-0">{{workshop.eventId.startDate | date: 'shortTime'}}</td>
                      <td class="text-xs font-weight-bold mb-0">{{workshop.eventId.endDate | date: 'shortTime'}}</td>
                      <td class="text-xs font-weight-bold mb-0">{{workshop.eventId.title}}</td>
                      <td class="text-xs font-weight-bold mb-0">{{workshop.presenter}}</td>
                     
                        <td class="align-middle">
                            <div *ngIf="workshop.viewable==true">
                            <a (click)="GetTodaysWorkshop(i,workshopState['TodaysWorkshops'])" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                              View
                            </a>
                        </div>  
                          </td>        
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #NoToday>
    <h1>No Workshops for today</h1>
  </ng-template>
  
  <div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3">Past Workshops</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
        <ng-container *ngIf="workshop$ | async as workshopState; else NoPast">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Time</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Presenter</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let workshop of workshopState.AllWorkshops; let i=index">
                  <td class="text-xs font-weight-bold mb-0">{{workshop.eventId.startDate | date: 'shortTime'}}</td>
                  <td class="text-xs font-weight-bold mb-0">{{workshop.eventId.endDate | date: 'shortTime'}}</td>
                  <td class="text-xs font-weight-bold mb-0">{{workshop.eventId.title}}</td>
                  <td class="text-xs font-weight-bold mb-0">{{workshop.presenter}}</td>
                  <td class="align-middle">
                    <div *ngIf="workshop.viewable==true">
                    <a (click)="GetTodaysWorkshop(i,workshopState.TodaysWorkshops)" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                      View
                    </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </ng-container>
        </div>
      </div>
    </div>
  </div>

  <ng-template #NoPast>
    <h1>No Workshops for today</h1>
  </ng-template>
  
