<div *ngIf="workshop$ | async as workshop">
    <div *ngIf="workshop.TodaysWorkshops[0]; else NoToday">
        <div *ngFor="let object of workshop.TodaysWorkshops; let i=index">
            <button (click)="GetTodaysWorkshop(i, workshop.TodaysWorkshops)">{{object.presenter}}</button>
        </div>
    </div>
    <ng-template #NoToday>
        <h1>No Workshops for today</h1>
    </ng-template>
    <p>workshop</p>
</div>
<div *ngIf="workshop$ | async as workshop">
    <div *ngIf="workshop.AllWorkshops[0]; else NoToday">
        <div *ngFor="let object of workshop.AllWorkshops; let i=index">
            <button (click)="GetTodaysWorkshop(i, workshop.AllWorkshops)">{{object.presenter}}</button>
        </div>
    </div>
    <ng-template #NoToday>
        <h1>No Workshops for today</h1>
    </ng-template>
    <p>workshop</p>
</div>