<div class="col-12 mb-5" id="accordion-container">

    <mat-accordion id="accordion" class="row">
        <mat-expansion-panel class=" rounded-3">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Custom Documents
                </mat-panel-title>
                <mat-panel-description class="pe-0 pe-md-5">
                    <mat-icon class="mx-1">error</mat-icon><span class="d-none d-md-block d-lg-block"> Missing information</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div id="table">
                <div id="table-header" class="row pt-3 d-none d-md-flex d-lg-flex">
                    <div class="col-6">
                        <h4 class="ms-2 mt-1">Document</h4>
                    </div>
                    <div class="col-4">
                        <h4 class="ms-1 mt-1">Action</h4>
                    </div>
                    <div class="col-2">
                        <h4 class="ms-1 mt-1">Status</h4>
                    </div>
                </div>
                </div>
                <div id="table-body" class="my-2">
                    <div class="row my-2 py-2" id="document-row">
                        <div id="document" class="col-12 col-md-6 col-lg-6">


                            
                            </div>
                            </div>
                      </div>      
        </mat-expansion-panel>
    </mat-accordion>

</div>