<div class="col-12 mb-5" id="accordion-container">

    <mat-accordion id="accordion" class="row">
        <mat-expansion-panel class=" rounded-3">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Custom Documents
                </mat-panel-title>
                <mat-panel-description class="pe-0 pe-md-5">
                    <mat-icon class="mx-1">error</mat-icon><span class="d-none d-md-block d-lg-block"> Missing information</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>

</div>