#banking-field {
    width: 100%;
}

#last-updated {
    color: #666666ff
}

#uploadfile:hover {
    cursor: pointer;
<<<<<<< HEAD
=======
}

#pdf-icon{
    width: 14px;
    height: 18px;
>>>>>>> b4b664c65a016479c675288e5b00e3785d0c808c
}