<section class="fluid-container">
    <form [formGroup]="EvaluationForm">
        <header class="fluid-container p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
            <button type="button" class="btn btn-danger" (click)="backToEvaluations()">Back</button>
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
                <button type="submit" class="btn btn-warning" (click)="update()">Update</button>
                <button type="button" class="btn btn-danger" (click)="remove()">Delete</button>
            </div>
            <hr>
            <datalist id="email-list">
                <option *ngFor="let employee of employees$ | async" [value]="employee['email']">
                    {{ employee['name'] + ' ' + employee['surname'] }}
                </option>
            </datalist>
            <div class="row g2">
                <div class="form-floating mb-3 col-md">
                    <input list="email-list" class="form-control form-control-sm col-auto border-bottom border-success" id="owner" aria-describedby="owner-email" formControlName="ownerEmail">
                    <label for="owner" class="p-3">Email Address(Owner)</label>
                </div>
                <div class="form-floating mb-3 col-md">
                    <input list="email-list" class="form-control form-control-sm col-auto border-bottom border-success" id="employee" aria-describedby="employee-email" formControlName="employeeEmail">
                    <label for="employee" class="p-3">Email Address(Employee)</label>
                </div>
                <div class="form-floating mb-3 col-md">
                    <input class="form-control form-control-sm col-auto border-bottom border-success" id="subject" aria-describedby="subject" formControlName="subject">
                    <label for="subject" class="p-3">Subject</label>
                </div>
                <div class="form-floating mb-3 col-md">
                    <datalist id="template-list" (change)="tempChange($event)">
                        <option  *ngFor="let template of templates$ | async" [value]=template.description>
                            {{ template['description'] }}
                        </option>
                    </datalist>
                   <input (input)="templateChange()" list="template-list" class="form-control form-control-sm col-auto border-bottom border-success" id="description" aria-describedby="template" formControlName="template">
                    <label for="description" class="p-3">Template</label>
                </div>
            </div>
        </header>
        <div *ngIf="EvaluationForm.controls['template'].valid">
            <section class="card" *ngFor="let templateDesc of templateItems | keyvalue">
                <div class="card-header">
                    <h4>Template: <b>{{ templateDesc.key }}</b></h4>
                </div>
                <div class="card-body">
                    <div class="border-bottom border-secondary" *ngFor="let section of templateDesc.value | keyvalue">
                        <h5 class="card-title"><b>{{ section.key }}</b></h5>
                        <span class="card-text" *ngFor="let item of section.value">{{ item }} <br> </span>
                    </div>
                </div>
            </section>
        </div>
        <div class="fluid-container p-3 bg-secondary bg-opacity-10 border border-secondary border-start-0 rounded-end">
            <div class="form-floating mb-3 col-md">
                <textarea id="description" cols="30" rows="10" class="form-control form-control-sm col-auto border-bottom border-success"></textarea>
                <label for="description">Description</label>
            </div>
            <div *ngFor="let ratings of EvaluationForm.value.rating">
                by: {{ ratings.by }}<br>
                <div class="d-flex">
                    <span>rating:</span>
                    <i class="material-icons">
                        star_outline
                    </i>
                    <i class="material-icons">
                        star_outline
                    </i>
                    <i class="material-icons">
                        star_outline
                    </i>
                    <i class="material-icons">
                        star_outline
                    </i>
                    <i class="material-icons">
                        star_outline
                    </i>
                </div><br>
                <div class="form-floating mb-3 col-md">
                    <textarea id="comments" cols="30" rows="10" class="form-control form-control-sm col-auto border-bottom border-success">{{ratings.comments}}</textarea>
                    <label for="comments">Comments</label>
                </div>
            </div>
        </div>
    </form>
</section>
