<p>evaluations works!</p>
<section>
    <form [formGroup]="EvaluationForm">
        <header class="d-flex">
            <div class="d-flex">
                <label for="owner">Owner:</label>
                <input class="form-control" list="email-list" id="owner" name="owner" placeholder="Owner" formControlName="owner">
            </div>
            <div class="d-flex">
                <label for="employee">Employee:</label>
                <input class="form-control" list="email-list" id="employee" name="employee" placeholder="Employee" formControlName="employee">
                <datalist id="email-list">
                    <option *ngFor="let employee of employees$ | async" [value]="employee['email']">
                        {{ employee['name'] + ' ' + employee['surname'] }}
                    </option>
                </datalist>
            </div>
            <div class="d-flex">
                <label for="subject">Subject</label>
                <input class="form-control" list="subjects" id="subject" name="subject" placeholder="Subject" formControlName="subject">
                <datalist id="subjects">
                    <option value="PCCheckIn">PC Checkin</option>
                </datalist>
            </div>
            <div class="d-flex">
                <label for="template">Template</label>
                <input class="form-control" list="templates" id="template" name="template" placeholder="Template" formControlName="template">
                <datalist id="templates">
                    <option *ngFor="let template of templates$ | async" [value]="template">{{template}}</option>
                </datalist>
            </div>
        </header>
        <article>
            <div>
                <label for="description">Description:</label>
                <br>
                <textarea class="form-control" name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
            </div>
            <div>
                <span>50 %</span>
                <input class="btn btn-primary" type="button" (click)="createEvaluation()" value="Save">
                <input class="btn btn-danger" type="button" value="Delete">
            </div>
            <div>
                <label for="comments">Comments:</label>
                <br>
                <textarea class="form-control" name="comments" id="comments" cols="30" rows="10" formControlName="comments"></textarea>
            </div>
        </article>
    </form>
</section>