<p>evaluations works!</p>
<section>
    <form>
        <header class="d-flex">
            <div class="d-flex">
                <label for="owner">Owner:</label>
                <input class="form-control" type="text" id="owner" name="owner" placeholder="Owner" [disabled]="true" formControlName="owner">
            </div>
            <div class="d-flex">
                <label for="employee">Employee:</label>
                <input class="form-control" list="email-list" id="employee" name="employee" placeholder="Employee" formControlName="employee">
                <datalist id="email-list">
                    <option value="kmatsomela@retrorabbit.co.za">Kamogelo Matsomela</option>
                    <option value="mschoeman@retrorabbit.co.za">Matthew Schoeman</option>
                    <option value="cwhel@retrorabbit.co.za">Carl Wehl</option>
                </datalist>
            </div>
            <div class="d-flex">
                <label for="subject">Subject</label>
                <input class="form-control" list="subjects" id="subject" name="subject" placeholder="Subject" formControlName="subject">
                <datalist id="subjects">
                    <option value="PIP">PIP</option>
                    <option value="PCCheckIn">PC Checkin</option>
                </datalist>
            </div>
        </header>
        <article>
            <div>
                <label for="description">Description:</label>
                <br>
                <textarea class="form-control" name="description" id="description" cols="30" rows="10" formControlName="description"></textarea>
            </div>
            <div>
                <span>50 %</span>
                <input class="btn btn-primary" type="button" value="Save">
                <input class="btn btn-danger" type="button" value="Delete">
            </div>
            <div>
                <label for="comments">Comments:</label>
                <br>
                <textarea class="form-control" name="comments" id="comments" cols="30" rows="10" formControlName="comments"></textarea>
            </div>
        </article>
    </form>
</section>