<div class="content" role="main">
    <!-- Technology Stack -->
    <h2>Tech Stack Generator</h2>
    <p>Generate a technology stack for your personal project.</p>
    <!-- Randomizer -->
    <button class="card">
        <span>Randomize</span>
    </button>
    <!-- Technology Stack -->
    <div class="card-container">
        <a class="card" target="_blank" rel="noopener">
            <span>Frontend</span>
        </a>
        <a class="card" target="_blank" rel="noopener">
            <span>Backend</span>
        </a>
        <a class="card" target="_blank" rel="noopener">
            <span>Database</span>
        </a>
    </div>
    <!-- Next Steps -->
    <h2>Next Steps</h2>
    <p>Provide a description about you project idea...</p>
    <!-- From Input - Project Description -->
    <div class="my-3">
        <input type="text-area" class="form-control" />
    </div>
    <!-- Status -->
    <div class="card-container">
        <p>Status: Pending</p>
    </div>
    <!-- Footer -->
    <footer></footer>
</div>