<!-- <div class="wrapper">
  <div>
    <div class="m-3 border-bottom">
      <h1 class="page-heading">Manage Field Code</h1>
    </div>
    <div style="overflow: auto">
      <div class="container-fluid">
        <button class="btn btn-primary" (click)="CaptureEvent($event)">Add new field code</button>
        <div style="padding-top: 30px;"></div>
        <label>Custom Fields:</label><br>
        <label>Search:</label>
        <input pInputText type="text" [(ngModel)]="filterText" (input)="filterData()" /><br>
        <div *ngIf="filteredFieldCodes" class="custom-table" style="overflow: auto">
          <p-table [value]="filteredFieldCodes" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id">ID</th>
                <th pSortableColumn="name">Name</th>
                <th pSortableColumn="description">Description</th>
                <th pSortableColumn="status">Status</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-fieldCode>
              <tr [ngClass]="{'selected-row': selectedFieldCode === fieldCode}" (click)="onRowSelect(fieldCode)">
                <td>{{ fieldCode.id }}</td>
                <td>{{ fieldCode.code }}</td>
                <td>{{ fieldCode.name }}</td>
                <td>
                  <ng-container *ngIf="fieldCode.status === 0; else archived">{{ 'Active' }}</ng-container>
                  <ng-template #archived>Archived</ng-template>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <div style="padding-top: 30px;"></div>
    <div *ngIf="selectedFieldCode != null" class="update-form">
      <app-update-field [selectedFieldCode]="selectedFieldCode"></app-update-field>
    </div>
  </div>
</div> -->
<div id="field-code-container" class="mt-4">
  <div id="interact-fields" class="justify-content-between ms-3">
    <div id="search-container" class="row">
      <div class="col-10 ps-4">
        <input pInputText [(ngModel)]="filterText" (input)="filterData()" type="text" placeholder="Search custom field"
          class="w-100" id="search-field">
      </div>
      <div id="icon" class="col-1 pt-2 ps-4">
        <mat-icon>search</mat-icon>
      </div>
    </div>
    <div id="button-container">
      <button (click)="AddNewField()">+ Add New Field</button>
    </div>
  </div>
  <div id="tab-buttons" class="mb-0">
    <div id="tab" (click)="changeTab(0)" [ngClass]="activeTab == 0 ? 'activeTab' : ''">
      Active ({{activeFields}})
    </div>
    <div id="tab" (click)="changeTab(-1)" [ngClass]="activeTab == -1 ? 'activeTab' : ''">
      Archived ({{passiveFields}})
    </div>
  </div>
  <hr class="m-0 p-0">
  <div id="field-table-container">
    <div id="table-buttons">
      <button [ngClass]="selectedFields > 0 ? 'archive-active' : ''">Archive</button>
    </div>
    <div id="table-header" class="row">

    </div>
    <!-- <p-table [value]="filteredFieldCodes" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">ID</th>
        <th pSortableColumn="name">Name</th>
        <th pSortableColumn="description">Description</th>
        <th pSortableColumn="status">Status</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fieldCode>
      <tr [ngClass]="{'selected-row': selectedFieldCode === fieldCode}" (click)="onRowSelect(fieldCode)">
        <td>{{ fieldCode.id }}</td>
        <td>{{ fieldCode.name }}</td>
        <td>{{ fieldCode.description }}</td>
        <td>{{fieldCode.status === 0 ? 'Active' : 'Archived'}}</td>
      </tr>
    </ng-template>
  </p-table> -->
    <div id="table-body" class="row">
      <div class="card px-0">
        <div class="table-responsive p-0 m-0">
          <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.id }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.description }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.status === 0 ? 'Active' : 'Archived' }}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button id="cancel-button" class="mt-1">
                  <mat-icon id="mat-icon">mode_edit_24px</mat-icon>
                  Edit
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowSelect(row)"></mat-row>

          </mat-table>
          <mat-paginator hidden></mat-paginator>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center mt-3"
        *ngIf="dataSource.filteredData.length > 0">
        <div class="col-lg-4 col-md-4 fs-6" id="paginatorText">
          <span class="fw-medium">
            Showing {{ start }}-{{ end }}
          </span>
          <span>of {{ paginator.length }} results</span>
        </div>
        <div class="col-lg-4 col-md-4 row justify-content-center">
          <button mat-icon-button (click)="paginator.previousPage()" [disabled]="!paginator.hasPreviousPage()">
            <mat-icon>arrow_left</mat-icon>
          </button>
          <button mat-icon-button *ngFor="let page of visiblePages" (click)="goToPage(page)">
            <span class="paginator" [ngClass]="{ active: page === pageIndex + 1 }">
              {{ page }}
            </span>
          </button>
          <button mat-icon-button (click)="paginator.nextPage()" [disabled]="!paginator.hasNextPage()">
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>
        <div class="col-lg-4 col-md-4 row justify-content-end align-items-center" id="paginator-text">
          <span class="col-lg-4 col-md-7 fw-medium"> Items per page </span>
          <mat-form-field appearance="outline" class="col-lg-3 col-md-5" id="paginator-dropdown">
            <input id="pageSize" matInput type="number" min="1" [(ngModel)]="pageSize"
              (ngModelChange)="changePageSize(pageSize)" (focus)="pageNumber.open()" />
            <mat-select #pageNumber [(ngModel)]="pageSize" hidden>
              <mat-option *ngFor="let pageSize of pageSizes" [value]="pageSize">
                {{ pageSize }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>