@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

#btnAddOption {
    border: 1px outset lightgray;
    height:30px;
    width:30px;
    border-radius: 20px;
    cursor:pointer;
    padding: 0px;
    margin-left: 30px;
}

#btnRemoveOption {
    border: 1px outset;
    height:30px;
    width:30px;
    border-radius: 20px;
    cursor:pointer;
    padding: 0px;
    margin-left: 10px;
}

#lblOption {
    margin-right: 10px;
}
.custom-dropdown {
    position: relative;
    width: 200px; 
  }
  
  .custom-dropdown select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 14px;
  }
  
  .custom-dropdown select option {
    font-size: 14px;
  }
  
  .custom-dropdown select:focus {
    outline: none;
    border-color: #007bff; 
  }
  
  .button-container {
    margin-top: 10px;
  }
  
  .button-container button {
    margin-right: 10px;
    padding: 8px 16px;
    background-color: #42A948;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: lightgreen;
  }