<div class="col-12" id="accordion-container">
    <mat-accordion id="accordion" class="row">
        <mat-expansion-panel class="mt-3 rounded-3" (opened)="sharedAccordionFunctionality.panelOpenState = true"
            (closed)="sharedAccordionFunctionality.panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Contact Details
                </mat-panel-title>
                <mat-panel-description *ngIf="sharedAccordionFunctionality.contactFormProgress != 100"
                    class="pe-0 pe-md-5">
                    <mat-icon class="mx-1">error</mat-icon>
                    <span class="d-none d-md-block d-lg-block">Missing Information</span>
                </mat-panel-description>

            </mat-expansion-panel-header>
            <form [formGroup]="sharedAccordionFunctionality.employeeContactForm">
                <div class="col-12 mb-2 d-flex justify-content-end">
                    <button class="d-flex d-md-none col-12" *ngIf="!editContact" mat-button
                        id="edit-button" (click)="editContactDetails()" [ngClass]="screenWidth <= 767 ?'col-12':''">
                        <mat-icon>edit</mat-icon>Edit Details
                    </button>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="col-12 col-md-9 col-lg-10">
                            <div class="row">
                                <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.personalEmail"
                                    class="col-12 col-md-6 my-2">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>Personal Email</mat-label>
                                        <div class="align-text-icon">
                                        <input matInput formControlName="personalEmail" >
                                        <mat-icon *ngIf="sharedAccordionFunctionality.employeeContactForm.get('personalEmail')?.value === null || sharedAccordionFunctionality.employeeContactForm.get('personalEmail')?.value === ''" [ngStyle]="{color: editContact  ? '#B3261E' : 'grey'}" class="mx-1 flex-end" matSuffix>error</mat-icon>
                                    </div>
                                        <mat-error
                                        *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['personalEmail'].hasError('required')">
                                        Personal email is required
                                        </mat-error>
                                        <mat-error
                                            *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['personalEmail'].hasError('pattern') && !sharedAccordionFunctionality.employeeContactForm.controls['personalEmail'].hasError('required')">
                                            This is not a valid email
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.email"
                                    class="col-12 col-md-6 my-2">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>Work Email</mat-label>
                                        <div class="align-text-icon">
                                            <input matInput formControlName="email">
                                            <mat-icon *ngIf="sharedAccordionFunctionality.employeeContactForm.get('email')?.value === null || sharedAccordionFunctionality.employeeContactForm.get('email')?.value === ''" [ngStyle]="{color: editContact  ? '#B3261E' : 'grey'}" class="mx-1 flex-end" matSuffix>error</mat-icon>
                                        </div>
                                        <mat-error
                                            *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['email'].hasError('pattern') && !sharedAccordionFunctionality.employeeContactForm.controls['email'].hasError('required')">
                                            Work email must end with @retrorabbit.co.za
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.cellphoneNo"
                                    class="col-12 col-md-6 my-2">
                                    <mat-form-field appearance="outline" style="width: 100%;" class="telephone-container">
                                        <mat-label class="cellphone-number-label">Cellphone Number</mat-label>
                                        <div class="align-text-icon">
                                        <ngx-mat-intl-tel-input
                                            #cellphoneField
                                            matInput
                                            [preferredCountries]="['za', 'gb']"
                                            [enablePlaceholder]="true"
                                            [enableSearch]="true"
                                            [required]="true"
                                            formControlName="cellphoneNo"
                                            (input)="checkCellphoneNumberValue(cellphoneField.value??'')">
                                        </ngx-mat-intl-tel-input>
                                        <mat-icon *ngIf="sharedAccordionFunctionality.employeeContactForm.get('cellphoneNo')?.value === null || sharedAccordionFunctionality.employeeContactForm.get('cellphoneNo')?.value === undefined" [ngStyle]="{color: editContact? '#B3261E' : 'grey'}" class="move-icon" matSuffix>error</mat-icon>
                                    </div>
                                        <mat-error
                                        *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['cellphoneNo'].hasError('required') && sharedAccordionFunctionality.employeeContactForm.controls['cellphoneNo'].value == '' ">
                                        Cellphone number is required
                                       </mat-error>
                                        <mat-error
                                            *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['cellphoneNo'].value != '' && sharedAccordionFunctionality.employeeContactForm.controls['cellphoneNo'].invalid">
                                            Please enter a valid Cellphone number
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.houseNo"
                                    class="col-12 col-md-6 my-2">
                                    <mat-form-field appearance="outline" style="width: 100%;" class="telephone-container">
                                        <mat-label class="house-number-label">Alternative Number</mat-label>
                                        <ngx-mat-intl-tel-input
                                            #houseField
                                            matInput
                                            [preferredCountries]="['za', 'gb']"
                                            [enablePlaceholder]="true"
                                            [enableSearch]="true"
                                            formControlName="houseNo"
                                            (input)="checkHouseNumberValue(houseField.value?? '')">
                                        </ngx-mat-intl-tel-input>
                                        <mat-error
                                            *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['houseNo'].value != '' && sharedAccordionFunctionality.employeeContactForm.controls['houseNo'].invalid">
                                            Home number must be a valid Cellphone Number
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-12">
                                    <h3
                                        [ngStyle]="{'color' : editContact ? 'black' :'grey'}">
                                        Emergency Contact
                                    </h3>
                                </div>
                                <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.emergencyContactName"
                                    class="col-12 col-md-6 my-2">
                                    <mat-form-field appearance="outline" style="width: 100%;">
                                        <mat-label>Emergency Contact Name</mat-label>
                                        <div class="align-text-icon">
                                        <input matInput formControlName="emergencyContactName">
                                        <mat-icon *ngIf="sharedAccordionFunctionality.employeeContactForm.get('emergencyContactName')?.value === null || sharedAccordionFunctionality.employeeContactForm.get('emergencyContactName')?.value === ''" [ngStyle]="{color: editContact? '#B3261E' : 'grey'}" class="mx-1 flex-end" matSuffix>error</mat-icon>
                                        </div>
                                        <mat-error
                                            *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['emergencyContactName'].hasError('required')">
                                            Emergency contact name is required</mat-error>
                                        <mat-error
                                            *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['emergencyContactName'].hasError('pattern') && !sharedAccordionFunctionality.employeeContactForm.controls['emergencyContactName'].hasError('required')">
                                            Contact name must not contain numbers</mat-error>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.emergencyContactNo"
                                    class="col-12 col-md-6 my-2">
                                    <mat-form-field appearance="outline" style="width: 100%;" class="telephone-container" >
                                        <mat-label class="emergency-number-label">Emergency Contact Number</mat-label>
                                        <div class="align-text-icon">
                                        <ngx-mat-intl-tel-input
                                            #emergencyField
                                            matInput
                                            [preferredCountries]="['za', 'gb']"
                                            [enablePlaceholder]="true"
                                            [enableSearch]="true"
                                            [required]="true"
                                            formControlName="emergencyContactNo"
                                            (input)="checkEmergencyNumberValue(emergencyField.value??'')">
                                        </ngx-mat-intl-tel-input>
                                        <mat-icon *ngIf="sharedAccordionFunctionality.employeeContactForm.get('emergencyContactNo')?.value === null || sharedAccordionFunctionality.employeeContactForm.get('emergencyContactNo')?.value === undefined" [ngStyle]="{color: editContact? '#B3261E' : 'grey'}" class="move-icon" matSuffix>error</mat-icon>
                                        </div>
                                        <mat-error
                                            *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['emergencyContactNo'].value != '' && sharedAccordionFunctionality.employeeContactForm.controls['emergencyContactNo'].invalid">
                                            Emergency contact number must be a valid Cellphone Number
                                        </mat-error>
                                    </mat-form-field>
                                    <ng-template #emergencyNumber>
                                    <mat-form-field>
                                    <ngx-mat-intl-tel-input
                                    #emergencyField
                                    matInput
                                    [preferredCountries]="['za', 'gb']"
                                    [enablePlaceholder]="true"
                                    [enableSearch]="true"
                                    [required]="true"
                                    formControlName="emergencyContactNo"
                                    (input)="checkEmergencyNumberValue(emergencyField.value??'')">
                                </ngx-mat-intl-tel-input>
                                <mat-error
                                    *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['emergencyContactNo'].hasError('required') && sharedAccordionFunctionality.employeeContactForm.controls['emergencyContactNo'].value == ''">
                                    Emergency contact number is required
                                </mat-error>
                                <mat-error
                                    *ngIf="sharedAccordionFunctionality.employeeContactForm.controls['emergencyContactNo'].value != '' && sharedAccordionFunctionality.employeeContactForm.controls['emergencyContactNo'].invalid">
                                    Emergency contact number must be a valid Cellphone Number
                                </mat-error>
                            </mat-form-field>
                        </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 d-none d-md-flex mt-md-2 justify-content-end">
                            <button *ngIf="!editContact" mat-button id="edit-button-width"
                                (click)="editContactDetails()" [ngClass]="screenWidth <= 767 ?'col-12':''">
                                <mat-icon>edit</mat-icon>Edit Details
                            </button>
                        </div>
                    </div>
                    <div class="col-12 d-none d-md-flex" id="edit-buttons">
                        <button *ngIf="editContact" mat-button id="cancel-button"
                            (click)="cancelContactEdit()">
                            Cancel
                        </button>
                        <button *ngIf="editContact" mat-button id="save-button"
                            type="submit" (click)="saveContactDetails()">
                            Save
                        </button>
                    </div>
                    <div class="col-12 d-block d-md-none" id="edit-buttons">
                        <button *ngIf="editContact" mat-button id="save-button"
                            type="submit" class="col-12 mb-2" (click)="saveContactDetails()">
                            Save
                        </button>
                        <button *ngIf="editContact" mat-button id="cancel-button"
                            class="col-12" (click)="cancelContactEdit()">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>