<div class="col-12" id="accordion-container">
    <mat-accordion id="accordion" class="row">
        <mat-expansion-panel class="mt-3 rounded-3" (opened)="sharedAccordionFunctionality.panelOpenState = true"
            (closed)="sharedAccordionFunctionality.panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Qualifications
                </mat-panel-title>
                <mat-panel-description *ngIf="this.sharedAccordionFunctionality.qualificationFormProgress != 100"
                    class="pe-0 pe-md-5">
                    <mat-icon class="mx-1">error</mat-icon>
                     <span class="d-none d-md-block d-lg-block">Missing Information</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="flex-row">
                <div class="mat-expansion-panel-content">
                    <form [formGroup]="sharedAccordionFunctionality.employeeQualificationForm">
                        <div class="row">
                            <div class="row">
                                <div class="col-12 col-md-9 col-lg-10">
                                    <div class="row">
                                        <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.highestQualification"
                                            class="col-12 col-md-6 my-2">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label>Highest Qualification</mat-label>
                                                <div class="align-text-icon">
                                                <mat-select formControlName="highestQualification"
                                                    placeholder="Highest Qualification"
                                                    hideSingleSelectionIndicator="true">
                                                    <mat-option
                                                        *ngFor="let level of sharedAccordionFunctionality.nqfLevels"
                                                        [value]="level.id">
                                                        {{level.value}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-icon *ngIf="sharedAccordionFunctionality.employeeQualificationForm.get('highestQualification')?.value === null || sharedAccordionFunctionality.employeeQualificationForm.get('highestQualification')?.value === ''" [ngStyle]="{color: editQualifications? '#B3261E' : 'grey'}" class="mx-1 flex-end" matSuffix>error</mat-icon>
                                            </div>
                                                <mat-error
                                                    *ngIf="sharedAccordionFunctionality.employeeQualificationForm.controls['highestQualification'].hasError('required')">
                                                    Highest Qualification is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.school"
                                            class="col-12 col-md-6 my-2">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label>School</mat-label>
                                                <div class="align-text-icon">
                                                <input matInput formControlName="school"
                                                    placeholder="e.g University of Pretoria">
                                                    <mat-icon *ngIf="sharedAccordionFunctionality.employeeQualificationForm.get('school')?.value === null || sharedAccordionFunctionality.employeeQualificationForm.get('school')?.value === ''" [ngStyle]="{color: editQualifications? '#B3261E' : 'grey'}" class="mx-1 flex-end" matSuffix>error</mat-icon>
                                                </div>
                                                    <mat-error
                                                    *ngIf="sharedAccordionFunctionality.employeeQualificationForm.controls['school'].hasError('required')">
                                                    School is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.fieldOfStudy"
                                            class="col-12 col-md-6 my-2">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label>Field Of Study</mat-label>
                                                <div class="align-text-icon">
                                                <input matInput formControlName="fieldOfStudy"
                                                    placeholder="e.g Field of Study">
                                                    <mat-icon *ngIf="sharedAccordionFunctionality.employeeQualificationForm.get('fieldOfStudy')?.value === null || sharedAccordionFunctionality.employeeQualificationForm.get('fieldOfStudy')?.value === ''" [ngStyle]="{color: editQualifications? '#B3261E' : 'grey'}" class="mx-1 flex-end" matSuffix>error</mat-icon>
                                                </div>
                                                    <mat-error
                                                    *ngIf="sharedAccordionFunctionality.employeeQualificationForm.controls['fieldOfStudy'].hasError('required')">
                                                    Field of study is required
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div *ngIf="sharedPropertyAccessService.employeeProfilePermissions.year"
                                            class="col-12 col-md-6 my-2">
                                            <mat-form-field appearance="outline" style="width: 100%;">
                                                <mat-label>Year Obtained</mat-label>
                                                <div class="align-text-icon">
                                                <input matInput formControlName="year" placeholder="yyyy">
                                                <mat-icon *ngIf="sharedAccordionFunctionality.employeeQualificationForm.get('year')?.value === null || sharedAccordionFunctionality.employeeQualificationForm.get('year')?.value === ''" [ngStyle]="{color: editQualifications? '#B3261E' : 'grey'}" class="mx-1 flex-end" matSuffix>error</mat-icon>
                                            </div>
                                                <mat-error
                                                    *ngIf="sharedAccordionFunctionality.employeeQualificationForm.controls['year'].hasError('required')">
                                                    Year Obtained is required
                                                </mat-error>
                                                <mat-error
                                                    *ngIf="sharedAccordionFunctionality.employeeQualificationForm.controls['year'].hasError('pattern')">
                                                    Year Obtained is must be in yyyy format
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3 col-lg-2">
                                    <div *ngIf="!editQualifications"
                                        class="col-12 mb-2 d-flex justify-content-end">
                                        <button class="d-flex" mat-button id="edit-button"
                                            (click)="editQualificationsDetails()"
                                            [ngClass]="screenWidth <= 767 ?'col-12':''">
                                            <mat-icon>edit</mat-icon>Edit Details
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 ms-2">
                            <h3
                                [ngStyle]="{'color' : editQualifications? 'black' :'grey'}">
                                Copy of Qualification
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col-6 d-md-flex">
                                <div class="d-flex flex-start">
                                    <div
                                        [ngClass]="fileName != '' ? 'd-block me-4 mt-2 ms-2 ': 'd-none'">
                                        <div
                                            [ngStyle]="{'color' : editQualifications ? 'black' :'grey'}">
                                            {{ fileName }}
                                        </div>
                                    </div>
                                    <button [disabled]="isDisabledDownload" mat-button class="me-2" id="file-buttons"
                                            (click)="downloadFile()"
                                        [ngClass]="editQualifications ? 'download-button':'download-disabled'"
                                        *ngIf="this.sharedAccordionFunctionality.employeeQualification && this.sharedAccordionFunctionality.employeeQualification.documentName">
                                        <div class="row" id="button-size">
                                            <div class="col-1 p-0 ms-3 mt-2"
                                                *ngIf="editQualifications == true">
                                                <img id="pdf-icon" alt="pdf-icon"
                                                    src="../../../../../../../../assets/img/file_download_alt.svg">
                                            </div>
                                            <div class="col-1 p-0 ms-3 mt-2"
                                                *ngIf="editQualifications == false">
                                                <img id="pdf-icon" alt="pdf-icon"
                                                    src="../../../../../../../../assets/img/file_download_grey.svg">
                                            </div>
                                            <div class="col-auto"
                                                [ngStyle]="{'color' : editQualifications ? '#0029C6' :'grey'}">
                                                <h4 class="m-2">Download</h4>
                                            </div>
                                        </div>
                                    </button>
                                    <button [disabled]="isDisabledUpload" mat-button class="" (click)="uploadFile.click()" id="file-buttons"
                                        [ngClass]="editQualifications? 'upload-button':'upload-disabled'">
                                        <div class="row">
                                            <div class="col-1 p-0 ms-3 mt-2"
                                                *ngIf="editQualifications == true">
                                                <img id="pdf-icon" alt="pdf-icon"
                                                    src="../../../../../../../../assets/img/file_upload_19px_white.svg">
                                            </div>
                                            <div class="col-1 p-0 ms-3 mt-2"
                                                *ngIf="editQualifications == false">
                                                <img id="pdf-icon" alt="pdf-icon"
                                                    src="../../../../../../../../assets/img/file_upload_19px_grey.svg">
                                            </div>
                                            <div class="col-auto"
                                                [ngStyle]="{'color' : editQualifications ? '#FFF' :'grey'}">
                                                <h4 class="m-2">Upload</h4>
                                            </div>
                                        </div>
                                    </button>
                                    <input formControlName="proofOfQualification" hidden>
                                    <input #uploadFile (change)="onFileChange($event)" type="file" accept=".pdf" hidden>
                                </div>
                            </div>
                            <div class="col d-none d-md-flex" id="edit-buttons">
                                <button *ngIf="editQualifications" mat-button
                                    id="cancel-button" (click)="cancelQualificationsEdit()">
                                    Cancel
                                </button>
                                <button *ngIf="editQualifications" mat-button
                                    id="save-button" type="submit" (click)="saveQualificationsEdit()">
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>