/* .profile-container {
    background-color: #f0f5f0;
    border: 1px solid #d0e0d0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.edit-button, .save-button, .cancel-button {
    background-color: #48a648;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover, .save-button:hover, .cancel-button:hover {
    background-color: #397f39;
}

.profile-details {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #d0e0d0;
    border-radius: 5px;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label{
    color: black;
    font-size: larger;
    width: 50%;
} */

.container-fluid{
    border: 1px solid black;
}

#profile-header{
    background-color: white;
    border-radius: 2rem;
}

/* #profile-header h1{
    color: #000;
font-family: Poppins;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 36px;
} */