<div class="container mt-4">
    <div id="profile-header" class="row p-2">
        <div class="col-2 mt-4">
            <div id="profile-image">
                <img [src]="EmployeeProfile?.photo" alt="">
            </div>
        </div>
        <div class="col-md-8 offset-md-2 offset-lg-0 col-lg-10 mt-4">
            <div class="row mt-3">
                <div class="col-6 col-md-8" id="header-name">
                    <h1>{{EmployeeProfile?.name}} {{EmployeeProfile?.surname}}</h1>
                </div>
                <div class="col-6 col-md-4" id="header-email">
                    <div class="row me-4">
                        <div class="col-auto">{{EmployeeProfile?.email}}</div>
                        <div class="col-1 mt-2" id="header-email-clip"><mat-icon>attachment</mat-icon></div>
                    </div>
                </div>
                <div class="col-12 my-2" id="header-role">
                    {{EmployeeProfile?.employeeType?.name}} | Level {{EmployeeProfile?.level}}
                </div>
                <div class="col-12 my-2" id="header-based">
                    Based in Johannesburg
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-10 offset-lg-2 my-4">
            <div class="row" id="quick-info">
                <div class="col-3 mb-md-2">
                    <div class="row">
                        <div class="col-3" id="outer-icon-container">
                            <div id="icon-container">
                                <mat-icon>people_outline</mat-icon>
                            </div>
                        </div>
                        <div class="col-9 my-2">
                            <div id="header-label">Team Lead</div>
                            <div id="header-value">Rouan van der Walt</div>
                        </div>
                    </div>
                </div>
                <div class="col-3 mb-md-2">
                    <div class="row">
                        <div class="col-3" id="outer-icon-container">
                            <div id="icon-container">
                                <mat-icon>card_membership</mat-icon>
                            </div>
                        </div>
                        <div class="col-9 my-2">
                            <div id="header-label">People Champion</div>
                            <div id="header-value">Mandy Pelser</div>
                        </div>
                    </div>
                </div>
                <div class="col-3 mb-md-2">
                    <div class="row">
                        <div class="col-3" id="outer-icon-container">
                            <div id="icon-container">
                                <mat-icon>business_center</mat-icon>
                            </div>
                        </div>
                        <div class="col-9 my-2">
                            <div id="header-label">Client Allocated</div>
                            <div id="header-value">Discovery</div>
                        </div>
                    </div>
                </div>
                <div class="col-3 mb-md-2">
                    <div class="row">
                        <div class="col-3" id="outer-icon-container">
                            <div id="icon-container">
                                <mat-icon>date_range</mat-icon>
                            </div>
                        </div>
                        <div class="col-9 my-2">
                            <div id="header-label">Start Date</div>
                            <div id="header-value">{{EmployeeProfile?.engagementDate}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="profile-completion" class="row p-2">
        <!-- ToDo: Add Tracking for Accordions -->
    </div>

    <div id="profile-accordions">
        <div id="accordions-nav" class="row">
            <div class="col-3">
                <div id="nav-item-container" class="col-auto">
                    <div id="nav-item">
                        <div (click)="CaptureEvent($event)"
                            [ngClass]="selectedItem == 'Profile Details' ? 'active' : 'idle'">
                            Profile Details
                        </div>
                        <div *ngIf="selectedItem == 'Profile Details'" id="selected-line-box">
                            <div id="selected-line">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div id="nav-item-container" class="col-auto">
                    <div id="nav-item">
                        <div (click)="CaptureEvent($event)"
                            [ngClass]="selectedItem == 'Capture Summary' ? 'active' : 'idle'">
                            Capture Summary
                        </div>
                        <div *ngIf="selectedItem == 'Capture Summary'" id="selected-line-box">
                            <div id="selected-line">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div id="nav-item-container" class="col-auto">
                    <div id="nav-item">
                        <div (click)="CaptureEvent($event)"
                            [ngClass]="selectedItem == 'Bank Information' ? 'active' : 'idle'">
                            Bank Information
                        </div>
                        <div *ngIf="selectedItem == 'Bank Information'" id="selected-line-box">
                            <div id="selected-line">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div id="nav-item-container" class="col-auto">
                    <div id="nav-item">
                        <div (click)="CaptureEvent($event)" [ngClass]="selectedItem == 'Documents' ? 'active' : 'idle'">
                            Documents
                        </div>
                        <div *ngIf="selectedItem == 'Documents'" id="selected-line-box">
                            <div id="selected-line">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="accordions-body`" class="row">
            <div class="col-12" *ngIf="selectedItem == 'Profile Details'" id="accordion-container">
                <mat-accordion id="accordion" class="row">
                    <mat-expansion-panel class="my-3" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Employee Details
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div>
                            <h1>Content goes here</h1>
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel class="my-3" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Personal Details
                            </mat-panel-title>
                            <mat-panel-description>
                                <mat-icon class="mx-1">error</mat-icon> Missing information
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-10">
                                <div class="row">
                                    <div class="col-12 my-2">
                                        <h4 [ngStyle]="{'color' : editPersonal ? 'black' :'grey'}">Gender</h4>
                                        <mat-radio-group aria-label="Select your gender" [disabled]="!editPersonal">
                                            <mat-radio-button [value]=1>Male</mat-radio-button>
                                            <mat-radio-button [value]=2>Female</mat-radio-button>
                                            <mat-radio-button [value]=0>Unclassified</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-4  my-2">
                                        <mat-form-field appearance="outline" style="width: 100%;">
                                            <mat-label>Race</mat-label>
                                            <mat-select [disabled]="!editPersonal">
                                                <mat-option *ngFor="let race of races" [value]="race.id">
                                                    {{race.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 mt-1"></div>
                                    <div class="col-6  my-1">
                                        <h3 [ngStyle]="{'color' : editPersonal ? 'black' :'grey'}">Do you have any disabilities that you are aware of?</h3>
                                        <mat-radio-group aria-label="Select status" (change)="setHasDisability($event)" [disabled]="!editPersonal">
                                            <mat-radio-button [value]=true>yes</mat-radio-button>
                                            <mat-radio-button [value]=false>false</mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-12" *ngIf="hasDisbility">
                                        <div class="row">
                                            <div class="col-4" >
                                                <mat-form-field appearance="outline" style="width: 100%;">
                                                    <mat-label>Disability</mat-label>
                                                    <mat-select>
                                                        <mat-option *ngFor="let disability of disabilities" [value]="disability.id">
                                                            {{disability.value}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-6">
                                                <mat-form-field appearance="outline" style="width: 100%;">
                                                    <textarea matInput placeholder="Disability Notes"></textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button *ngIf="editPersonal" mat-button id="cancel-button" (click)="editPersonalDetails()">Cancel</button>
                                        <button *ngIf="editPersonal" mat-button id="save-button" (click)="cancelPersonalEdit()">Save changes</button>        
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <button *ngIf="!editPersonal" mat-button id="edit-button" (click)="editPersonalDetails()"> <mat-icon>edit</mat-icon>Edit Detail</button>
                            </div>
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel class="my-3" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Contact Details
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div>
                            <h1>Content goes here</h1>
                        </div>

                    </mat-expansion-panel>
                    <mat-expansion-panel class="my-3" (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Address Details
                            </mat-panel-title>
                            <mat-panel-description>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div>
                            <h1>Content goes here</h1>
                        </div>

                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>