<div class="row" *ngIf="currentTab == 'Template'">
  <h5><i>Add new template</i></h5>
  <form [formGroup]="templateForm" class="d-flex">
    <input type="submit" class="btn btn-success" value="Save" (click)="saveTemplate()">
    <div class="form-floating">
      <input type="text" class="form-control form-control-sm" id="template" placeholder="Employement Contract" formControlName="template">
      <label for="template" class="p-3">Template</label>
    </div>
  </form>
  <hr>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Tempate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let template of templates$ | async">
          <td>
            <button type="button" class="btn btn-primary" id="edit-items" (click)="editTemplateItems(template['description'])">
              <i class="material-icons">edit</i>
            </button>
            <button type="button" class="btn btn-danger" id="edit-items" (click)="deleteTemplate(template['description'])">
              <i class="material-icons">remove_circle</i>
            </button>
          </td>
          <td>
            <label for="edit-items">{{ template['description'] }}</label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" *ngIf="currentTab == 'Template Items'">
  <button type="button" class="btn btn-warning" (click)="currentTab = 'Template'">
    <i class="material-icons">
      arrow_back_ios
    </i>
  </button>
  <hr>
  <div class="row">
    <form [formGroup]="templateItemForm">
      <input type="submit" class="btn btn-success" value="Save" (click)="save()">
      <div class="d-flex">
        <div class="form-floating">
          <input type="text" class="form-control form-control-md" id="section" placeholder="Section" formControlName="section">
          <label for="section" class="p-3">Section</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control form-control-md" id="question" placeholder="Question" formControlName="question">
          <label for="question" class="p-3">Question</label>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Section</th>
          <th>Question</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of templateItems$ | async">
          <td>
            <button type="button" class="btn btn-danger" id="edit-items" (click)="delete(item['section'], item['question'])">
              <i class="material-icons">remove_circle</i>
            </button>
          </td>
          <td>
            <label for="edit-items">{{ item['section'] }}</label>
          </td>
          <td>
            <label for="edit-items">{{ item['question'] }}</label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div class="row">
  <div class="card">
    <div *ngIf="templateItems$ | async as items" class="table-responsive">
      <form [formGroup]="templateItemForm">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>Operation</th>
              <th>Id</th>
              <th>Template</th>
              <th>Section</th>
              <th>Question</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table table-light">
              <td>
                <div class="btn-toolbar" role="toolbar">
                  <button type="submit" class="btn btn-primary" (click)="save()">
                      <i class="material-icons">add_circle</i>
                  </button>
                  <button type="submit" class="btn btn-danger" (click)="clearForm()">
                      <i class="material-icons">remove_circle</i>
                  </button>
                </div>
              </td>
              <td></td>
              <datalist id="templates">
                <option *ngFor="let template of templates$ | async" [value]=template.description>
                  {{ template['description'] }}
                </option>
              </datalist>
              <td class="form-floating mb-3 col-md">
                <input type="text" list="templates" id="template" class="form-control form-control-sm col-auto" formControlName="template">
                <label for="template" class="p-3">Template</label>
              </td>
              <td class="form-floating mb-3 col-md">
                <input type="text" id="section" class="form-control form-control-sm col-auto" formControlName="section">
                <label for="template" class="p-3">Section</label>
              </td>
              <td class="form-floating mb-3 col-md">
                <input type="text" id="question" class="form-control form-control-sm col-auto" formControlName="question">
                <label for="template" class="p-3">Question</label>
              </td>
            </tr>
            <tr *ngFor="let item of items" class="table table-light">
              <td>
                <button type="submit" class="btn btn-danger" (click)="delete(item.template.description, item.section, item.question)">
                  <i class="material-icons">remove_circle</i>
                </button>
              </td>
              <td>
                <b>{{ item.id }}</b>
              </td>
              <td>{{ item.template.description }}</td>
              <td>{{ item.section }}</td>
              <td>{{ item.question }}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div> -->
