<div class="row" *ngIf="currentTab == 'Template'">
  <h5><i>Add new template</i></h5>
  <form [formGroup]="templateForm" class="d-flex">
    <input type="submit" class="btn btn-success" value="Save" (click)="saveTemplate()">
    <div class="form-floating">
      <input type="text" class="form-control form-control-sm" id="template" placeholder="Employement Contract" formControlName="template">
      <label for="template" class="p-3">Template</label>
    </div>
  </form>
  <hr>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Tempate</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let template of templates$ | async">
          <td>
            <button type="button" class="btn btn-primary" id="edit-items" (click)="editTemplateItems(template['description'])">
              <i class="material-icons">edit</i>
            </button>
            <button type="button" class="btn btn-danger" id="edit-items" (click)="deleteTemplate(template['description'])">
              <i class="material-icons">remove_circle</i>
            </button>
          </td>
          <td>
            <label for="edit-items">{{ template['description'] }}</label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" *ngIf="currentTab == 'Template Items'">
  <button type="button" class="btn btn-warning" (click)="currentTab = 'Template'">
    <i class="material-icons">
      arrow_back_ios
    </i>
  </button>
  <hr>
  <div class="row">
    <form [formGroup]="templateItemForm">
      <input type="submit" class="btn btn-success" value="Save" (click)="saveTemplateItem()">
      <div class="d-flex">
        <div class="form-floating">
          <input type="text" class="form-control form-control-md" id="section" placeholder="Section" formControlName="section">
          <label for="section" class="p-3">Section</label>
        </div>
        <div class="form-floating">
          <input type="text" class="form-control form-control-md" id="question" placeholder="Question" formControlName="question">
          <label for="question" class="p-3">Question</label>
        </div>
      </div>
    </form>
  </div>
  <hr>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Section</th>
          <th>Question</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of templateItems$ | async">
          <td>
            <button type="button" class="btn btn-danger" id="edit-items" (click)="deleteTemplateItem(item['section'], item['question'])">
              <i class="material-icons">remove_circle</i>
            </button>
          </td>
          <td>
            <label for="edit-items">{{ item['section'] }}</label>
          </td>
          <td>
            <label for="edit-items">{{ item['question'] }}</label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>