<app-confirm-dialog *ngIf="showConfirmDialog" [dialogType]="dialogTypeData"
    (confirmation)="dialogFeedBack($event)"></app-confirm-dialog>
<div class="col-12" id="accordion-container">
    <mat-accordion id="accordion" class="row">
        <mat-expansion-panel class="mt-3 rounded-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Certificates
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 d-flex justify-content-end mb-3 mt-3">
                        <button [disabled]="addingCertificate || sharedAccordionFunctionality.employeeCertificates.length == 0" mat-button id="edit-button-width"
                            (click)="editCertificateDetails()">
                            <mat-icon>edit</mat-icon>Edit Details
                        </button>
                    </div>
                    <div class="col-12 col-md-9 col-lg-10">
                        <div *ngFor="let certificate of sharedAccordionFunctionality.employeeCertificates; let i = index" class="col-12">
                            <div id="form-wrapper" class="col-12">
                                <div class="row">
                                    <div class="d-flex">
                                        <div class="col-6">
                                            <div class="certificate-header">
                                                <h3 class="mb-1" id="certificateNameHeading">{{sharedAccordionFunctionality.employeeCertificates[i].certificateName}}</h3>
                                            </div>
                                        </div>
                                        <div class="col-6 justify-content-end">
                                            <div class="certificate-header" id="certificate-remove-new" *ngIf="editCertificate">
                                                <button mat-button id="delete-button" (click)="showDialog('update',i)">
                                                    <mat-icon class="icon-color mb-1">delete_outline</mat-icon>Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 my-2">
                                        <mat-form-field appearance="outline" class="w-100"
                                            *ngIf="editCertificate; else NoEditName">
                                            <mat-label>Name Of Certificate</mat-label>
                                            <input type="text" matInput placeholder="Name of certificate"
                                                [(ngModel)]="copyOfCertificates[i].certificateName"
                                                [value]="copyOfCertificates[i].certificateName">
                                        </mat-form-field>
                                        <ng-template #NoEditName>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Name Of Certificate</mat-label>
                                                <input type="text" disabled matInput placeholder="Name of certificate"
                                                    [(ngModel)]="sharedAccordionFunctionality.employeeCertificates[i].certificateName"
                                                    [value]="sharedAccordionFunctionality.employeeCertificates[i].certificateName">
                                            </mat-form-field>
                                        </ng-template>
                                    </div>
                                    <div class="col-12 col-md-6 my-2">
                                        <mat-form-field appearance="outline" class="w-100"
                                            *ngIf="editCertificate; else NoEditOrganization">
                                            <mat-label>Name Of Organization</mat-label>
                                            <input type="text" matInput placeholder="Name of organization"
                                                [(ngModel)]="copyOfCertificates[i].issueOrganization"
                                                [value]="copyOfCertificates[i].issueOrganization">
                                        </mat-form-field>
                                        <ng-template #NoEditOrganization>
                                            <mat-form-field appearance="outline" class="w-100">
                                                <mat-label>Name Of organization</mat-label>
                                                <input type="text" disabled matInput placeholder="Name of organization"
                                                    [(ngModel)]="sharedAccordionFunctionality.employeeCertificates[i].issueOrganization"
                                                    [value]="sharedAccordionFunctionality.employeeCertificates[i].issueOrganization">
                                            </mat-form-field>
                                        </ng-template>
                                    </div>
                                    <div class="col-12 col-md-6 my-2">
                                        <mat-form-field class="w-100" appearance="outline"
                                            *ngIf="editCertificate; else NoEditIssueDate">
                                            <mat-label>Issue Date</mat-label>
                                            <input matInput [matDatepicker]="picker" placeholder="Issue date"
                                                [(ngModel)]="copyOfCertificates[i].issueDate"
                                                [value]="copyOfCertificates[i].issueDate"
                                                [matDatepickerFilter]="disableFutureDates">
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field>
                                        <ng-template #NoEditIssueDate>
                                            <mat-form-field class="w-100" appearance="outline">
                                                <mat-label>Issue Date</mat-label>
                                                <input matInput disabled [matDatepicker]="picker"
                                                    placeholder="Issue date"
                                                    [(ngModel)]="sharedAccordionFunctionality.employeeCertificates[i].issueDate"
                                                    [value]="sharedAccordionFunctionality.employeeCertificates[i].issueDate">
                                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                <mat-datepicker #picker></mat-datepicker>
                                            </mat-form-field>
                                        </ng-template>
                                    </div>
                                    <div class="col-12 ms-2">
                                        <h3 class='ml-1' [ngStyle]="{'color': editCertificate ? 'black' : 'grey'}">Proof
                                            of certificate</h3>
                                    </div>
                                    <div>
                                    <div
                                        [ngStyle]="{'color' : editCertificate ? 'black' :'grey'}">
                                        {{ sharedAccordionFunctionality.employeeCertificates[i].documentName}}
                                    </div>
                                </div>
                                    <div id="actionCellDownload" class="col-12 col-md-auto mb-2">
                                        <button mat-button color="primary"
                                            (click)="downloadFile(sharedAccordionFunctionality.employeeCertificates[i].certificateDocument, sharedAccordionFunctionality.employeeCertificates[i].documentName)"
                                            [disabled]="addingCertificate"
                                            [ngClass]="screenWidth <= 767 ?'upload-download-button':''">
                                            <svg id="svg-icon" width="19" height="19" viewBox="0 0 19 19" fill="white"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <g id="Icons/file_download">
                                                    <path id="icon"
                                                        d="M13.9414 11.75V14H4.94141V11.75H3.44141V14C3.44141 14.825 4.11641 15.5 4.94141 15.5H13.9414C14.7664 15.5 15.4414 14.825 15.4414 14V11.75H13.9414ZM13.1914 8.75L12.1339 7.6925L10.1914 9.6275V3.5H8.69141V9.6275L6.74891 7.6925L5.69141 8.75L9.44141 12.5L13.1914 8.75Z"
                                                        fill="#0029C6" />
                                                </g>
                                            </svg>
                                            Download
                                        </button>
                                    </div>
                                    <div id="actionCellUpload" class="col-12 col-md-auto mb-1" *ngIf="editCertificate">
                                        <button type="file" mat-button color="primary"
                                            (click)="uploadCertificateFile.click()" accept=".pdf"
                                            [ngClass]="screenWidth <= 767 ?'upload-download-button':''">
                                            <svg id="svg-icon-w" width="24" height="24" viewBox="0 0 24 24"
                                                fill="#e3e3e4ff" xmlns="http://www.w3.org/2000/svg">
                                                <g id="Icons/file_upload">
                                                    <path id="icon-w"
                                                        d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20 20 19.1 20 18V15H18ZM7 9L8.41 10.41L11 7.83V16H13V7.83L15.59 10.41L17 9L12 4L7 9Z"
                                                        fill="#FFFFFF" />
                                                </g>
                                            </svg>
                                            Upload
                                        </button>
                                        <input type="file" #uploadCertificateFile
                                            (change)="onFileChange($event, i,'update')" hidden accept=".pdf">
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div *ngFor="let newCertificate of newCertificates; let i = index" class="row">
                            <div class="row d-block">
                                <div class="certificate-header" id="certificate-remove-new" *ngIf="addingCertificate">
                                    <button mat-button id="delete-button" (click)="showDialog('new',i)">
                                        <mat-icon class="icon-color mb-1">delete_outline</mat-icon>Delete
                                    </button>
                                </div>
                            </div>
                            <div class="row d-block">
                                <div class="certificate-header" *ngIf="!addingCertificate">
                                    <h3 class="mb-2">{{newCertificates[i].certificateName}}</h3>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Name of certificate</mat-label>
                                    <input type="text" matInput placeholder="Name of certificate"
                                        [(ngModel)]="newCertificates[i].certificateName"
                                        [value]="newCertificates[i].certificateName">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Name of organization</mat-label>
                                    <input type="text" matInput placeholder="Name of organization"
                                        [(ngModel)]="newCertificates[i].issueOrganization"
                                        [value]="newCertificates[i].issueOrganization">
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>Issue date</mat-label>
                                    <input matInput [matDatepicker]="picker" placeholder="Issue date"
                                        [(ngModel)]="newCertificates[i].issueDate"
                                        [value]="newCertificates[i].issueDate"
                                        [matDatepickerFilter]="disableFutureDates">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-7 row">
                                <div id="actionCellDownload" class="col-12 col-md-auto mb-2">
                                    <button mat-button color="primary"
                                        (click)="downloadFile(newCertificates[i].certificateDocument, newCertificates[i].documentName)"
                                        [disabled]="addingCertificate"
                                        [ngClass]="screenWidth <= 767 ?'upload-download-button':''">
                                        <svg id="svg-icon" width="19" height="19" viewBox="0 0 19 19" fill="white"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g id="Icons/file_download">
                                                <path id="icon"
                                                    d="M13.9414 11.75V14H4.94141V11.75H3.44141V14C3.44141 14.825 4.11641 15.5 4.94141 15.5H13.9414C14.7664 15.5 15.4414 14.825 15.4414 14V11.75H13.9414ZM13.1914 8.75L12.1339 7.6925L10.1914 9.6275V3.5H8.69141V9.6275L6.74891 7.6925L5.69141 8.75L9.44141 12.5L13.1914 8.75Z"
                                                    fill="#0029C6" />
                                            </g>
                                        </svg>
                                        Download
                                    </button>
                                </div>
                                <div id="actionCellUpload" class="col-12 col-md-auto">
                                    <button type="file" mat-button color="primary"
                                        (click)="uploadCertificateFile.click()" accept=".pdf"
                                        [ngClass]="screenWidth <= 767 ?'upload-download-button':''">
                                        <svg id="svg-icon-w" width="24" height="24" viewBox="0 0 24 24" fill="#e3e3e4ff"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <g id="Icons/file_upload">
                                                <path id="icon-w"
                                                    d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20 20 19.1 20 18V15H18ZM7 9L8.41 10.41L11 7.83V16H13V7.83L15.59 10.41L17 9L12 4L7 9Z"
                                                    fill="#ffffff" />
                                            </g>
                                        </svg>
                                        Upload
                                    </button>
                                    <input type="file" #uploadCertificateFile (change)="onFileChange($event, i,'new')"
                                        hidden accept=".pdf">
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div *ngIf="editCertificate" class="col d-none d-md-flex" id="edit-buttons">
                            <button mat-button id="cancel-button" (click)="cancelCertificateDetails()">
                                Cancel
                            </button>
                            <button mat-button id="save-button" type="submit" (click)="updateCertificateDetails()">
                                Save
                            </button>
                        </div>
                        <div *ngIf="addingCertificate" class="col d-none d-md-flex" id="edit-buttons">
                            <button mat-button id="cancel-button" (click)="cancelCertificateDetails()">
                                Cancel
                            </button>
                            <button mat-button id="save-button" type="submit" (click)="saveCertificateDetails()">
                                Save
                            </button>
                            <hr>
                        </div>
                        <div class="pt-3">
                            <h2>Add Another New Certificate Here</h2>
                            <button mat-button id="add-another-button" [disabled]="editCertificate" type="submit"
                                (click)="addNewCertificate()">
                                <mat-icon>add</mat-icon> Add Another Certificate
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>