#certificate-field {
    width: 100%;
}

#last-updated {
    color: #666666ff
}

#uploadfile:hover {
    cursor: pointer;
}

#uploadfile{
    max-width: 70%;
}

#pdf-icon {
    width: 14px;
    height: 18px;
}

@media only screen and (max-width: 767px) {
    #status-null {
        width: 90%;
        top: 110px;
        left: 5%;
    }
}

#edit-button-width {
    border: none;
    border-radius: 2rem;
    background-color: #D7DFFF;
    color: #0029C6;
    width: 170px;
}

#upload-document-button{
    color: #0029C6;
    margin-left: 10px;
}

#document-name{
    gap: 20px;
    text-align: center;
    padding: 10px;
}

#add-button {
    background: var(--m-3-state-layers-light-on-surface-opacity-012, rgba(29, 27, 32, 0.12));
    color: var(--M3-sys-light-on-surface, #1D1B20);
    text-align: center;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    border-radius: 20px;
    padding: 20px;
}
.download-document , .add-qualification , #download-document-button {
    color: #0029C6
}

#alignrow{
    display: flex;
    flex-direction: row;
}

#remove-document-button , .remove-document-button{
    color: red;
}