#title {
  text-align: center;
}

#button-container {
  text-align: center;
}

#save-button {
  border: none;
  border-radius: 2rem;
  background-color: #0029C6;
  color: white;
  padding: 1rem;
}

.pie-chart {
  width: 100%;
  height: 450px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.bar-chart {
 width: 85%;
 max-height: 450px;
 margin: auto;
 display: flex;
 justify-content: center;
 align-items: center;
}



