.search-employee{
    width: 24px;
    cursor: pointer;
}

.report-rows{
}

.report-table{
    border: 1px solid lightgrey;
    /* width: min-content; */
}

.report-checkbox{
    width: 100%;
    height: 24px;
}

.text-area-table{
    border: none;
    background-color: transparent;
}

.text-area-table:hover{
    border: none;
    background-color: transparent;
}

.text-area-table:focus{
    box-shadow: none;
}

.table-add{
    background-color: #ffffff;
    font-size: 1.25rem;
    cursor: pointer;
}

.table-add:hover{
    background-color: #D7DFFF;
    font-size: 1.25rem;
}

.editable-field{
    background-color: #efefef;
}

:host ::ng-deep #edit-button {
    border: none;
    border-radius: 2rem;
    background-color: #D7DFFF;
    color: #0029C6;
    padding: 1rem;
}

:host ::ng-deep #edit-buttons {
    display: flex;
    justify-content: flex-end;
}

:host ::ng-deep #edit-buttons>button {
    margin-right: 1rem;
}

.header-text{
    border: none;
}

.header-text:focus{
    border: none;
}

#dialog-save>button {
    background: #0029c6;
    border: none;
    border-radius: 4rem;
    color: white;
    padding: 8px;
    width: 80%;
  }
  
  #dialog-close>button {
    border: 1px solid #0029c6;
    border-radius: 4rem;
    background-color: white;
    color: #0029c6;
    padding: 7px;
    width: 80%;
  }