<div class="col-12 mb-5" id="accordion-container">
  <mat-accordion id="accordion" class="row">
    <mat-expansion-panel class=" rounded-3">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Additional Documents
        </mat-panel-title>
        <mat-panel-description class="pe-0 pe-md-5"
          *ngIf="sharedAccordionFunctionality.additionalDocumentsProgress != 100 && sharedAccordionFunctionality.additionalDocumentsProgress != infinity">
          <mat-icon class="mx-1">error</mat-icon><span class="d-none d-md-block d-lg-block">Missing Information</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div id="table" *ngIf="unarchivedCustomDocuments[0] != undefined; else NoFieldCodes">
        <div id="table-header" class="row pt-3 d-none d-md-flex d-lg-flex">
          <div class="col-6">
            <h4 class="ms-2 mt-1">Document</h4>
          </div>
          <div class="col-6">
            <h4 class="mt-1" id="action-heading">Action</h4>
          </div>
        </div>
      </div>
      <div id="table-body" class="my-2" *ngIf="unarchivedCustomDocuments[0] != undefined">
        <div class="row my-2 py-2" id="document-row" *ngFor="let fieldcode of unarchivedCustomDocuments;let i = index">
          <div id="document" class="col-12 col-md-6 col-lg-6">
            <h3>{{fieldcode.name}}</h3>
            <div class="col-12" id="fileName" *ngIf="getDocumentName(fieldcode.name) as document;else NoFile">
              <p>{{document.fileName}}</p>
            </div>
            <ng-template #NoFile>
              <mat-label>{{fieldcode.description}}</mat-label>
            </ng-template>
          </div>
          <div class="col-12 col-md-4 col-lg-6 py-2">
            <div class="row">
              <div id="actionCellDownload" class="col-12 col-md-auto mb-2">
                <button mat-button id="cancel-button" (click)="downloadDocumentTrigger(i)"
                  [disabled]="!disableDownloadButton(i)">
                  <svg id="svg-icon" width="19" height="19" viewBox="0 0 19 19" fill="white"
                    xmlns="http://www.w3.org/2000/svg">
                    <g id="Icons/file_download">
                      <path id="icon"
                        d="M13.9414 11.75V14H4.94141V11.75H3.44141V14C3.44141 14.825 4.11641 15.5 4.94141 15.5H13.9414C14.7664 15.5 15.4414 14.825 15.4414 14V11.75H13.9414ZM13.1914 8.75L12.1339 7.6925L10.1914 9.6275V3.5H8.69141V9.6275L6.74891 7.6925L5.69141 8.75L9.44141 12.5L13.1914 8.75Z"
                        fill="#0029C6" />
                    </g>
                  </svg>
                  Download
                </button>
                <ng-template #DisabledDownload>
                  <button mat-button color="primary" [disabled]="true" [id]=i
                    [ngClass]="screenWidth <= 767 ?'disabledDownload upload-download-button':'disabledDownload'">
                    <svg id="svg-icon" width="19" height="19" viewBox="0 0 19 19" fill="white"
                      xmlns="http://www.w3.org/2000/svg">
                      <g id="Icons/file_download">
                        <path id="icon"
                          d="M13.9414 11.75V14H4.94141V11.75H3.44141V14C3.44141 14.825 4.11641 15.5 4.94141 15.5H13.9414C14.7664 15.5 15.4414 14.825 15.4414 14V11.75H13.9414ZM13.1914 8.75L12.1339 7.6925L10.1914 9.6275V3.5H8.69141V9.6275L6.74891 7.6925L5.69141 8.75L9.44141 12.5L13.1914 8.75Z"
                          fill="#ffffff" />
                      </g>
                    </svg>
                    Download
                  </button>
                </ng-template>
              </div>
              <div id="actionCellUpload" class="col-12 col-md-auto">
                <button mat-button color="primary" (click)="captureUploadButtonIndex($event, fieldcode.name)" [id]=i>
                  <svg id="svg-icon-w" width="24" height="24" viewBox="0 0 24 24" fill="#e3e3e4ff"
                    xmlns="http://www.w3.org/2000/svg">
                    <g id="Icons/file_upload">
                      <path id="icon-w"
                        d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20 20 19.1 20 18V15H18ZM7 9L8.41 10.41L11 7.83V16H13V7.83L15.59 10.41L17 9L12 4L7 9Z"
                        fill="#0029C6" />
                    </g>
                  </svg> Upload
                </button>
                <input hidden type="file" name="" [id]="i + '-additional-document'"
                  (change)="captureFileUploaded($event)">
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #NoFieldCodes>
        <div id="no-documents">
          <h1 class="headingTitle">No Additional Documents Needed</h1>
          <h5 class="subtitle">Only an admin can create custom fields that will appear here</h5>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
