<main class="container-fluid mt-3 px-5">
  <section class="container-fluid mt-4 mb-4 mx-0">
    <div class="d-flex justify-content-between gap-2">
      <div class="col-6 pl-0 d-flex align-items-center">
        <div
          id="search-container"
          class="d-flex align-items-center search-bar rounded-pill w-100"
          [ngClass]="{ 'bg-white': filter.value !== '' }"
        >
          <button
            mat-button
            (click)="filter.value = ''"
            *ngIf="filter.value !== ''"
            id="back-button"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <input
            mat-Input
            #filter
            (keyup)="applyFilter(filter.value)"
            [ngClass]="{ 'no-text': filter.value === ''}"
            class="ms-4 bg-transparent"
            id="search-input"
            placeholder="Search for employee by name"
          />
          <button mat-button id="search-button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-6 pr-0 d-flex justify-content-end align-items-center">
        <button
          (click)="CaptureEvent($event)"
          type="button"
          id="add-employee-btn"
          class="col-lg-4 btn btn-primary rounded-pill d-flex justify-content-center align-items-center"
        >
          <mat-icon>add</mat-icon>
          <span>Add Employee</span>
        </button>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="card px-0">
      <div class="table-responsive">
        <mat-table [dataSource]="dataSource" matSort>
          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="boldArrow"
              >Name</mat-header-cell
            >
            <mat-cell *matCellDef="let employee">{{ employee.Name }}</mat-cell>
          </ng-container>
          <!-- Position Column -->
          <ng-container matColumnDef="Position">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="boldArrow"
              >Position</mat-header-cell
            >
            <mat-cell *matCellDef="let employee">{{
              employee.Position
            }}</mat-cell>
          </ng-container>
          <!-- Level Column -->
          <ng-container matColumnDef="Level">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="boldArrow"
              >Level</mat-header-cell
            >
            <mat-cell *matCellDef="let employee">{{
              employee.Level == 0 ? "N/A" : employee.Level
            }}</mat-cell>
          </ng-container>
          <!-- Client Column -->
          <ng-container matColumnDef="Client">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="boldArrow"
              >Client</mat-header-cell
            >
            <mat-cell *matCellDef="let employee">{{
              employee.Client
            }}</mat-cell>
          </ng-container>
          <!-- Roles Column -->
          <ng-container matColumnDef="Roles">
            <mat-header-cell *matHeaderCellDef>Roles</mat-header-cell>
            <mat-cell *matCellDef="let employee" class="row">
              <!-- <mat-select>
                <mat-option
                  *ngFor="let role of roles | async"
                  [value]="role"
                  class="btn btn-primary"
                >
                  {{ role }}
                </mat-option>
              </mat-select> -->
              <button
                (click)="CaptureEvent($event)"
                type="button"
                id="add-employee-btn"
                class="col-lg-9 col-md-12 btn btn-primary">
                {{ employee.Roles.length > 0 ? employee.Roles[0] : "N/A" }}
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row
            *matRowDef="let row; columns: displayedColumns"
            (click)="employeeClickEvent($event, row)"
          ></mat-row>
        </mat-table>
        <mat-paginator hidden></mat-paginator>
      </div>
    </div>
    <div
      class="row justify-content-center align-items-center mt-3"
      *ngIf="paginator"
    >
      <div class="col-lg-4 col-md-4 fs-6" id="paginatorText">
        <span class="fw-medium">
          Showing {{ paginator.pageIndex * paginator.pageSize + 1 }}-{{
            (paginator.pageIndex + 1) * paginator.pageSize
          }}
        </span>
        <span>of {{ paginator.length }} results</span>
      </div>
      <div class="col-lg-4 col-md-4 row justify-content-center">
        <button
          mat-icon-button
          (click)="prevPage()"
          [disabled]="!paginator.hasPreviousPage()"
        >
          <mat-icon>arrow_left</mat-icon>
        </button>
        <button mat-icon-button *ngFor="let page of visiblePages">
          <span
            class="paginator"
            [ngClass]="{ active: page === pageIndex + 1 }"
          >
            {{ page }}
          </span>
        </button>
        <button
          mat-icon-button
          (click)="nextPage()"
          [disabled]="!paginator.hasNextPage()"
        >
          <mat-icon>arrow_right</mat-icon>
        </button>
      </div>
      <div
        class="col-lg-4 col-md-4 row justify-content-end align-items-center"
        id="paginator-text"
      >
        <span class="col-lg-4 col-md-7 fw-medium"> Items per page </span>
        <mat-form-field
          appearance="outline"
          class="col-lg-3 col-md-5"
          id="paginator-dropdown"
        >
          <mat-select #pageNo (valueChange)="changePageSize(+pageNo.value)">
            <mat-option *ngFor="let pageSize of pageSizes" [value]="pageSize">
              {{ pageSize }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</main>
