<h5>Employee List</h5>
<h6>This page identifies as beautifully styled</h6>

<button (click)="CaptureEvent($event)" type="button" class="btn btn-primary">New Employee</button>

<div class="row">
  <div class="card">
    <div class="table-responsive">
      <table class="table align-items-center mb-0">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Telephone Number</th>
            <th>Employee Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of Employees" (click)="employeeClickEvent($event,employee)">
            <td>{{ employee.name }}</td>
              <td>{{ employee.surname }}</td>
              <td>{{ employee.cellphoneNo }}</td>
              <td>{{ employee.employeeType!.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
