#banking-field {
    width: 100%;
}

#last-updated {
    color: #666666ff
}

#uploadfile:hover {
    cursor: pointer;
}

#pdf-icon {
    width: 14px;
    height: 18px;
}

#status-null {
    position: absolute !important;
    top: 64px;
    left: 15px;
    width: 30%;
    z-index: 9999;
}

#required-icon{
    color:#B3261E;
  }
  .align-text-icon{
    display: flex;
    flex-direction: row;
  }
@media only screen and (max-width: 767px) {
    #status-null {
        width: 90%;
        top: 110px;
        left: 5%;
    }
}