<div class="col-12" id="accordion-container">
    <mat-accordion id="accordion" class="row">
        <mat-expansion-panel class="mt-3 rounded-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Main Bank Account
                </mat-panel-title>
                <mat-panel-description *ngIf="bankInformationProgress != 100 || employeeBanking[this.employeeBanking.length-1].status == 2"
                    class="pe-0 pe-md-5">
                    <mat-icon class="mx-1">error</mat-icon>
                     <span class="d-none d-md-block d-lg-block">Missing Information</span>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="employeeBankingsForm">
                <div class="col-12 mb-2 d-flex justify-content-end">
                    <button *ngIf="!editBanking" mat-button id="edit-button" (click)="editBankingDetails()"
                        [ngClass]="screenWidth <= 767 ?'col-12':''">
                        <mat-icon>edit</mat-icon>Edit Details
                    </button>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 row my-3">
                                <div class="col-7 my-2">
                                    <div class="row">
                                        <div class="col-12 ps-4 mt-1"
                                            *ngIf="hasBankingData && employeeBanking[this.employeeBanking.length-1].status > 0">
                                            Last updated: {{employeeBanking[this.employeeBanking.length-1].lastUpdateDate | date}}
                                        </div>
                                        <div class="col-11 px-4" *ngIf="hasBankingData && employeeBanking[this.employeeBanking.length-1].status > 0">
                                            <hr>
                                        </div>
                                        <div class="col-7 ps-4 pt-2" id="last-updated"
                                            *ngIf="hasBankingData && employeeBanking[this.employeeBanking.length-1].pendingUpdateDate">
                                            Update submitted on {{employeeBanking[this.employeeBanking.length-1].pendingUpdateDate | date}}
                                        </div>
                                        <div *ngIf="hasBankingData;else NoBankingInfo" class="col-4" id="statuses">
                                            <div *ngIf="employeeBanking[this.employeeBanking.length-1].status === 0" id="status-0">
                                                <span>{{ 'Approved' }}</span>
                                            </div>
                                            <div *ngIf="employeeBanking[this.employeeBanking.length-1].status === 2" id="status-2">
                                                <span>{{ 'Rejected' }}</span>
                                            </div>
                                            <div *ngIf="employeeBanking[this.employeeBanking.length-1].status === 1" id="status-1">
                                                <span>{{ 'Pending Approval' }}</span>
                                            </div>
                                        </div>
                                        <ng-template #NoBankingInfo>
                                            <div id="status-null">
                                                <span>{{ 'Action Required' }}</span>
                                            </div>
                                        </ng-template>
                                        <div class="col-12" *ngIf="hasBankingData && employeeBanking[this.employeeBanking.length-1].status ==2">
                                            <div id="reject-reason" class="ps-3">
                                                <h5>{{employeeBanking[this.employeeBanking.length-1].declineReason}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field appearance="outline" id="banking-field">
                                    <mat-label>Account Type</mat-label>
                                    <div class="align-text-icon">
                                    <mat-select [(value)]="accountType" placeholder="Select Type" formControlName="accountType"
                                        hideSingleSelectionIndicator="true">
                                        <mat-option *ngFor="let accountType of accountTypes" [value]="accountType.id">
                                            {{accountType.value}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon [ngStyle]="{color: editBanking ? '#B3261E' : 'grey'}" *ngIf="!accountType"  class="mx-1 flex-end">error</mat-icon>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field appearance="outline" id="banking-field">
                                    <mat-label>Bank Name</mat-label>
                                    <div class="align-text-icon">
                                    <mat-select [(value)]="bank" placeholder="Select bank" formControlName="bankName"
                                        hideSingleSelectionIndicator="true">
                                        <mat-option *ngFor="let bank of banks" [value]="bank.value">
                                            {{bank.value}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-icon *ngIf="!bank"  [ngStyle]="{color: editBanking ? '#B3261E' : 'grey'}" class="mx-1 flex-end">error</mat-icon>
                                </div>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field appearance="outline" id="banking-field">
                                    <mat-label>Account Number</mat-label>
                                    <div class="align-text-icon">
                                    <input type="text" min="0" matInput placeholder="Enter account number"
                                        formControlName="accountNo" [(ngModel)]="accountNumber">
                                        <mat-icon *ngIf="isInputEmpty(accountNumber)"  [ngStyle]="{color: editBanking ? '#B3261E' : 'grey'}" class="mx-1 flex-end">error</mat-icon>
                                        </div>
                                        <mat-error
                                        *ngIf="employeeBankingsForm.controls['accountNo'].hasError('required')">Account
                                        number is required</mat-error>
                                    <mat-error
                                        *ngIf="employeeBankingsForm.controls['accountNo'].hasError('pattern') && !employeeBankingsForm.controls['accountNo'].hasError('required')">
                                        Account number must contain only numbers</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-6 my-2">
                                <mat-form-field appearance="outline" id="banking-field">
                                    <mat-label>Branch Code</mat-label>
                                    <div class="align-text-icon">
                                    <input type="text" min="0" matInput placeholder="Enter branch code"
                                        formControlName="branch" [(ngModel)]="branch">
                                        <mat-icon *ngIf="isInputEmpty(branch)"  [ngStyle]="{color: editBanking ? '#B3261E' : 'grey'}" class="mx-1 flex-end">error</mat-icon>
                                    </div>
                                        <mat-error
                                        *ngIf="employeeBankingsForm.controls['branch'].hasError('required')">Branch code
                                        is required</mat-error>
                                    <mat-error
                                        *ngIf="employeeBankingsForm.controls['branch'].hasError('pattern') && !employeeBankingsForm.controls['branch'].hasError('required')">
                                        Branch Code must contain only numbers</mat-error>
                                </mat-form-field>
                            </div>
                            <p id="base64"></p>
                            <div class="col-12  col-md-5 my-2">
                                <mat-label [ngStyle]="{color: editBanking ? 'black' : 'grey'}">
                                    Proof of Account
                                </mat-label>
                                <div class="my-2">
                                    <div [ngClass]="screenWidth <= 767 ?'':'row'">
                                        <div *ngIf="hasFile">
                                            <button mat-button color="primary"
                                                [hidden]="employeeBanking[this.employeeBanking.length-1].file.length == 0"
                                                (click)="convertFileToBase64()">Download</button>
                                        </div>
                                        <div class="col-12 row d-flex justify-content-center align-content-center"
                                            [hidden]="!editBanking" (click)="openFileInput()">
                                            <div class="col-12 row ms-1" *ngIf="bankingPDFName.length > 1">
                                                <div class="col-1 p-0">
                                                    <img id="pdf-icon" alt="pdf-icon"
                                                        src="../../../../../../assets/img/pdf-icon.svg">
                                                </div>
                                                <p class="col-11" id="recently-uploaded">{{bankingPDFName}}</p>
                                            </div>
                                            <div *ngIf="!editBanking"
                                                class="col-12 rounded-5 bg-light d-flex justify-content-center align-content-center align-items-center ms-4">
                                                <div class="col-1" id="uploadfile">
                                                    <img src="../../../../assets/img/file_upload_grey.svg" alt="">
                                                </div>
                                                <div class="col-auto" id="uploadfile">
                                                    <h4 class="m-2">Upload document here</h4>
                                                    <input id="fileUpload" hidden type="file" [disabled]="!editBanking"
                                                        (change)="onFileSelected($event)" accept=".pdf">
                                                </div>
                                            </div>
                                            <div *ngIf="editBanking" style="background-color:#D7DFFF;"
                                                class="col-12 rounded-5 d-flex justify-content-center align-content-center align-items-center ms-4">
                                                <div class="col-1" id="uploadfile">
                                                    <img src="../../../../assets/img/file_upload.svg" alt="">
                                                </div>
                                                <div class="col-auto" id="uploadfile">
                                                    <h4 class="m-2" style="color: #0029C6;">Upload document here</h4>
                                                    <input id="fileUpload" hidden type="file" [disabled]="!editBanking"
                                                        (change)="onFileSelected($event)" accept=".pdf">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 d-block d-md-none" id="edit-buttons">
                        <button *ngIf="editBanking" mat-button id="save-button" (click)="saveBankingDetails()"
                            class="col-12 mb-2">
                            Save
                        </button>
                        <button *ngIf="editBanking" mat-button id="cancel-button" (click)="cancelBankingDetails()"
                            class="col-12">
                            Cancel
                        </button>
                    </div>
                    <div class="col-12 d-none d-md-flex" id="edit-buttons">
                        <button *ngIf="editBanking" mat-button id="cancel-button" (click)="cancelBankingDetails()">
                            Cancel
                        </button>
                        <button *ngIf="editBanking" mat-button id="save-button" (click)="saveBankingDetails()">
                            Save
                        </button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>