#chart-item {
  background-color: white;
  border-radius: 1rem;
  min-height: 30vh;
  max-width:90%;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}

#chart-header{
  text-align: left;
  color: #0029C6;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

#canvas-container{
  max-height: 50vh;
  text-align: center;
  margin: 0 auto;
}

#menu-icon {
  color: #0029c6;
  border-width: 2px;
  margin: 0 auto;
}

#options-trigger {
  align-items: center;
  border-radius: 50%;
  background-color: #b9c8ff;
  display: flex;
  padding: 0;
  justify-content: center;
  min-width: 0;
  height: 2.5rem;
  width: 2.5rem;
}

#chart-icon-menu {
  transform: rotate(180deg);
}

#edit-controls > button{
  margin: 1rem;
}

#save-button{
  border: none;
  border-radius: 2rem;
  background-color: #0029C6;
  color: white;
  padding:1rem;
}

#cancel-button{
  border: 1px solid #0029C6;
  border-radius: 2rem;
  background-color: white;
  color: #0029C6;
  padding:1rem;
}

#edit-chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 48vh;
  max-width: 95%;
  margin: 0 auto;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: #0029C6;
  --mdc-radio-selected-hover-icon-color: #0029C6;
  --mdc-radio-selected-icon-color: #0029C6;
  --mdc-radio-selected-pressed-icon-color: #0029C6;
  --mat-radio-ripple-color: #000;
  --mat-radio-checked-ripple-color: #0029C6;
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
  --mat-radio-checked-label-color: #0029C6;
}

.mat-radio-button.mat-radio-checked .mat-radio-label-content {
  color: #0029C6 !important;
}

