<main class="bg-white">
  <article class="row">
    <div class="col-md-6 half-screen-col d-flex flex-column justify-content-center align-self-center">
      <form (ngSubmit)="Login()" class="mx-auto p-5">
        <h2 class="fw-normal fs-1 font-sans-serif">Sign in</h2>
        <p class="text-primary fw-normal font-sans-serif lh-base">Sign in with your Retro Rabbit email</p>
        <button tabindex="0" type="submit" aria-label="Sign in with Google" class="rounded-pill signin-btn text-primary fw-medium text-uppercase bg-white">
          <img src="../../../assets/img/Google_Logo.svg" alt="Google Logo" class="google-logo"> Sign in with Google
        </button>
      </form>
    </div>
    <div class="col-md-6 half-screen-col right-side">
      <img src="../../../assets/img/RR Logo.svg" alt="Retro Rabbit Logo" class="retro-logo">
    </div>
  </article>
</main>