<div class="col-12" id="accordion-container">
    <mat-accordion id="accordion" class="row">
        <mat-expansion-panel class="mt-3" (opened)="checkEmployeeDetails()" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Employee Details
                </mat-panel-title>
                <mat-panel-description *ngIf="employeeFormProgress != 100">
                    <mat-icon class="mx-1">error</mat-icon> Missing information
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="employeeDetailsForm" (submit)="saveEmployeeEdit()">
                <div class="row">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Full Names</mat-label>
                                    <input matInput formControlName="name">
                                    <mat-error *ngIf="employeeDetailsForm.controls['name'].hasError('required')"> Full
                                        name is required</mat-error>
                                    <mat-error
                                        *ngIf="employeeDetailsForm.controls['name'].hasError('pattern') && !employeeDetailsForm.controls['name'].hasError('required') ">
                                        Full name must not contain numbers</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput formControlName="surname">
                                    <mat-error *ngIf="employeeDetailsForm.controls['surname'].hasError('required')">
                                        Last name is required</mat-error>
                                    <mat-error
                                        *ngIf="employeeDetailsForm.controls['surname'].hasError('pattern') && !employeeDetailsForm.controls['surname'].hasError('required') ">
                                        Last name must not contain numbers</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Initials</mat-label>
                                    <input matInput formControlName="initials">
                                    <mat-error *ngIf="employeeDetailsForm.controls['initials'].hasError('required')">
                                        Initials are required</mat-error>
                                    <mat-error
                                        *ngIf="employeeDetailsForm.controls['initials'].hasError('pattern') && !employeeDetailsForm.controls['initials'].hasError('required')">
                                        Initials must not contain numbers</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Client Allocated</mat-label>
                                    <input type="text" placeholder="" matInput formControlName="clientAllocated"
                                        [matAutocomplete]="autoClient" (input)="filterClients($event)">
                                    <mat-autocomplete #autoClient="matAutocomplete">
                                        <mat-option *ngFor="let client of filteredClients" [value]="client.name"
                                            (onSelectionChange)="getId(client, 'client')">
                                            {{ client.name }}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Role</mat-label>
                                    <mat-select formControlName="employeeType">
                                        <mat-option *ngFor="let type of employeeTypes" [value]="type.name">
                                            {{type.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Level</mat-label>
                                    <mat-select formControlName="level">
                                        <mat-option *ngFor="let level of levels" [value]="level.value">
                                            {{level.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Team Lead</mat-label>
                                    <input *ngIf="authAccessService.isAdmin() || authAccessService.isSuperAdmin() || authAccessService.isTalent() || authAccessService.isJourney();else NonAdminTeamLeadInput" type="text" placeholder="" matInput formControlName="teamLead"
                                        [matAutocomplete]="autoLead" (input)="filterEmployees($event)">
                                    <mat-autocomplete #autoLead="matAutocomplete">
                                        <input *ngIf="authAccessService.isAdmin() || authAccessService.isSuperAdmin() || authAccessService.isTalent() || authAccessService.isJourney();else NonAdminTeamLeadInput"
                                            type="text" placeholder="" matInput formControlName="teamLead"
                                            [matAutocomplete]="autoLead"
                                            (input)="filterEmployees($event)">
                                        <mat-option *ngFor="let employee of filteredEmployees"
                                            [value]="employee.name + ' ' + employee.surname"
                                            (onSelectionChange)="getId(employee, 'teamLead')">
                                            {{ employee.name }} {{ employee.surname }}</mat-option>
                                    </mat-autocomplete>
                                    <ng-template #NonAdminTeamLeadInput>
                                        <input matInput type="text" [value]="employeeProfile.simpleEmployee.teamLeadName" [disabled]="true">
                                    </ng-template>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>People's Champion</mat-label>
                                    <input *ngIf="authAccessService.isAdmin() || authAccessService.isSuperAdmin() || authAccessService.isTalent() || authAccessService.isJourney();else NonAdminPeopleChampionInput" 
                                    type="text" placeholder="" matInput formControlName="peopleChampion"
                                    [matAutocomplete]="autoChampion" (input)="filterChampions($event)">
                                    <mat-autocomplete #autoChampion="matAutocomplete">
                                        <mat-option *ngFor="let peopleChampion of filteredPeopleChamps"
                                            [value]="peopleChampion.name + ' ' + peopleChampion.surname"
                                            (onSelectionChange)="getId(peopleChampion, 'champion')">
                                            {{ peopleChampion.name }}
                                            {{ peopleChampion.surname }}</mat-option>
                                        </mat-autocomplete>
                                        <ng-template #NonAdminPeopleChampionInput>
                                            <input matInput type="text" [value]="employeeProfile.simpleEmployee.peopleChampionName ?? 'Unassigned'" [disabled]="true">
                                        </ng-template>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>I.D number</mat-label>
                                    <input matInput formControlName="idNumber" (blur)="getGenderBirthday($event)">
                                    <mat-error *ngIf="employeeDetailsForm.controls['idNumber'].hasError('required')"> ID
                                        number is required </mat-error>
                                    <mat-error
                                        *ngIf="employeeDetailsForm.controls['idNumber'].hasError('invalidIdNumber') && !employeeDetailsForm.controls['idNumber'].hasError('required')">
                                        This is not a valid South African ID number
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Date of Birth</mat-label>
                                    <input matInput [matDatepicker]="picker1" class="form-control"
                                        formControlName="dateOfBirth">
                                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                    <mat-datepicker #picker1></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="picker2" formControlName="engagementDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button *ngIf="!editEmployee" mat-button id="edit-button" (click)="editEmployeeDetails()">
                            <mat-icon>edit</mat-icon>Edit Details</button>
                    </div>
                    <div class="col-12" id="edit-buttons">
                        <button *ngIf="editEmployee" mat-button id="cancel-button"
                            (click)="cancelEmployeeEdit()">Cancel</button>
                        <button *ngIf="editEmployee" mat-button id="save-button" type="submit">Save
                            changes</button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
        <mat-expansion-panel class="mt-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Personal Details
                </mat-panel-title>
                <mat-panel-description *ngIf="personalFormProgress != 100">
                    <mat-icon class="mx-1">error</mat-icon> Missing information
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="personalDetailsForm">
                <div class="row">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-12 my-2">
                                <h4 [ngStyle]="{'color' : editPersonal ? 'black' :'grey'}">Gender</h4>
                                <mat-radio-group aria-label="Select your gender" formControlName="gender"
                                    [value]="employeeProfile.employeeDetails.gender">
                                    <mat-radio-button [value]=1>Male</mat-radio-button>
                                    <mat-radio-button [value]=2>Female</mat-radio-button>
                                    <mat-radio-button [value]=0>Unclassified</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Race</mat-label>
                                    <mat-select formControlName="race">
                                        <mat-option *ngFor="let race of races; index as i" [value]="i">
                                            {{race.value}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 mt-1"></div>
                            <div class="col-6  my-1">
                                <h3 [ngStyle]="{'color' : editPersonal ? 'black' :'grey'}">Do you have any
                                    disabilities that you are aware of?</h3>
                                <mat-radio-group aria-label="Select status" (change)="setHasDisability($event)"
                                    formControlName="disability">
                                    <mat-radio-button [value]=true>yes</mat-radio-button>
                                    <mat-radio-button [value]=false>no</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-12" *ngIf="hasDisability">
                                <div class="row">
                                    <div class="col-4">
                                        <mat-form-field appearance="outline" style="width: 100%;">
                                            <mat-label>Disability</mat-label>
                                            <mat-select formControlName="disabilityList">
                                                <mat-option *ngFor="let disability of disabilities; index as i"
                                                    [value]="i">
                                                    {{disability.value}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field appearance="outline" style="width: 100%;">
                                            <textarea matInput placeholder="Disability Notes"
                                                formControlName="disabilityNotes"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button *ngIf="!editPersonal" mat-button id="edit-button" (click)="editPersonalDetails()">
                            <mat-icon>edit</mat-icon>Edit Details</button>
                    </div>
                    <div class="col-12" id="edit-buttons">
                        <button *ngIf="editPersonal" mat-button id="cancel-button"
                            (click)="cancelPersonalEdit()">Cancel</button>
                        <button *ngIf="editPersonal" mat-button id="save-button" (click)="savePersonalEdit()">Save
                            changes</button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
        <mat-expansion-panel class="mt-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Contact Details
                </mat-panel-title>
                <mat-panel-description *ngIf="contactFormProgress != 100">
                    <mat-icon class="mx-1">error</mat-icon> Missing information
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="employeeContactForm">
                <div class="row">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Personal Email</mat-label>
                                    <input matInput formControlName="personalEmail">
                                    <mat-error
                                        *ngIf="employeeContactForm.controls['personalEmail'].hasError('required')">
                                        Personal email is required</mat-error>
                                    <mat-error
                                        *ngIf="employeeContactForm.controls['personalEmail'].hasError('pattern') && !employeeContactForm.controls['personalEmail'].hasError('required')">
                                        This is not a valid email</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Work email</mat-label>
                                    <input matInput formControlName="email">
                                    <mat-error *ngIf="employeeContactForm.controls['email'].hasError('required')"> Work
                                        email is required</mat-error>
                                    <mat-error
                                        *ngIf="employeeContactForm.controls['email'].hasError('pattern') && !employeeContactForm.controls['email'].hasError('required')">
                                        Work email must end with @retrorabbit.co.za </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Cellphone Number</mat-label>
                                    <input matInput formControlName="cellphoneNo">
                                    <mat-error *ngIf="employeeContactForm.controls['cellphoneNo'].hasError('required')">
                                        Cellphone number is required</mat-error>
                                    <mat-error
                                        *ngIf="employeeContactForm.controls['cellphoneNo'].hasError('pattern') && !employeeContactForm.controls['cellphoneNo'].hasError('required')">
                                        Cell Phone number must only contain numbers</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Home Number</mat-label>
                                    <input matInput formControlName="houseNo">
                                    <mat-error *ngIf="employeeContactForm.controls['houseNo'].hasError('required')">
                                        Home number is required</mat-error>
                                    <mat-error
                                        *ngIf="employeeContactForm.controls['houseNo'].hasError('pattern') && !employeeContactForm.controls['cellphoneNo'].hasError('required')">
                                        Home number must only contain numbers</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12 mt-2">
                                <h3 [ngStyle]="{'color' : editPersonal ? 'black' :'grey'}">Emergency Contact
                                </h3>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Emergency contact name</mat-label>
                                    <input matInput formControlName="emergencyContactName">
                                    <mat-error
                                        *ngIf="employeeContactForm.controls['emergencyContactName'].hasError('required')">
                                        Emergency contact name is required</mat-error>
                                    <mat-error
                                        *ngIf="employeeContactForm.controls['emergencyContactName'].hasError('pattern') && !employeeContactForm.controls['emergencyContactName'].hasError('required')">
                                        Contact name must not contain numbers</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6 my-2">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Emergency contact number</mat-label>
                                    <input matInput formControlName="emergencyContactNo">
                                    <mat-error
                                        *ngIf="employeeContactForm.controls['emergencyContactNo'].hasError('required')">
                                        Emergency contact number is required</mat-error>
                                    <mat-error
                                        *ngIf="employeeContactForm.controls['emergencyContactNo'].hasError('pattern') && !employeeContactForm.controls['emergencyContactName'].hasError('required')">
                                        Contact number must only contain numbers</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button *ngIf="!editContact" mat-button id="edit-button" (click)="editContactDetails()">
                            <mat-icon>edit</mat-icon>Edit Details</button>
                    </div>
                    <div class="col-12" id="edit-buttons">
                        <button *ngIf="editContact" mat-button id="cancel-button"
                            (click)="cancelContactEdit()">Cancel</button>
                        <button *ngIf="editContact" mat-button id="save-button" type="submit"
                            (click)="saveContactEdit()">Save
                            changes</button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
        <mat-expansion-panel class="mt-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Address Details
                </mat-panel-title>
                <mat-panel-description *ngIf="addressFormProgress != 100">
                    <mat-icon class="mx-1">error</mat-icon> Missing information
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="addressDetailsForm">
                <div class="row">
                    <div class="col-10">
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Unit Number</mat-label>
                                    <input matInput formControlName="physicalUnitNumber">
                                    <mat-error
                                        *ngIf="addressDetailsForm.controls['physicalUnitNumber'].hasError('required')">
                                        Unit number is required</mat-error>
                                    <mat-error
                                        *ngIf="addressDetailsForm.controls['physicalUnitNumber'].hasError('pattern') && !addressDetailsForm.controls['physicalUnitNumber'].hasError('required')">
                                        Unit number must only contain numbers</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Complex Name</mat-label>
                                    <input matInput formControlName="physicalComplexName">
                                    <mat-error
                                        *ngIf="addressDetailsForm.controls['physicalComplexName'].hasError('required')">Complex
                                        name is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Suburb/District</mat-label>
                                    <input matInput formControlName="physicalSuburb">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Street Number</mat-label>
                                    <input matInput formControlName="physicalStreetNumber">
                                    <mat-error
                                        *ngIf="addressDetailsForm.controls['physicalStreetNumber'].hasError('required')">
                                        Street number is required</mat-error>
                                    <mat-error
                                        *ngIf="addressDetailsForm.controls['physicalStreetNumber'].hasError('pattern') && !addressDetailsForm.controls['physicalStreetNumber'].hasError('required')">
                                        Street Number must only contain numbers</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>City/Town</mat-label>
                                    <input matInput formControlName="physicalCity">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="physicalCountry">
                                        <mat-option *ngFor="let country of filteredCountries" [value]="country">
                                            {{ country }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Province</mat-label>
                                    <mat-select formControlName="physicalProvince">
                                        <mat-option *ngFor="let province of provinces" [value]="province">
                                            {{province}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Postal Code</mat-label>
                                    <input matInput formControlName="physicalPostalCode">
                                    <mat-error
                                        *ngIf="addressDetailsForm.controls['physicalPostalCode'].hasError('required')">
                                        Postal code is required</mat-error>
                                    <mat-error
                                        *ngIf="addressDetailsForm.controls['physicalPostalCode'].hasError('pattern') && !addressDetailsForm.controls['physicalPostalCode'].hasError('required')">
                                        Postal code should contain only number</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-checkbox (change)="toggleEqualFields()" [disabled]="!editAddress">Is
                                    the postal address the same as physical address?</mat-checkbox>
                            </div>
                        </div>
                        <div *ngIf="!physicalEqualPostal" class="row mt-4">
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Unit Number</mat-label>
                                    <input matInput formControlName="postalUnitNumber">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Complex Name</mat-label>
                                    <input matInput formControlName="postalComplexName">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Suburb/District</mat-label>
                                    <input matInput formControlName="postalSuburb">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Street Number</mat-label>
                                    <input matInput formControlName="postalStreetNumber">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>City/Town</mat-label>
                                    <input matInput formControlName="postalCity">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="postalCountry">
                                        <mat-option *ngFor="let country of filteredCountries" [value]="country">
                                            {{ country }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Province</mat-label>
                                    <mat-select formControlName="postalProvince">
                                        <mat-option *ngFor="let province of provinces" [value]="province">
                                            {{province}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field appearance="outline" style="width: 100%;">
                                    <mat-label>Postal Code</mat-label>
                                    <input matInput formControlName="postalPostalCode">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button *ngIf="!editAddress" mat-button id="edit-button" (click)="editAddressDetails()">
                            <mat-icon>edit</mat-icon>Edit Details
                        </button>
                    </div>
                    <div class="col-12" id="edit-buttons">
                        <button *ngIf="editAddress" mat-button id="cancel-button"
                            (click)="cancelAddressEdit()">Cancel</button>
                        <button *ngIf="editAddress" mat-button id="save-button" type="submit"
                            (click)="saveAddressEdit()">Save
                            changes</button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
        <mat-expansion-panel class="mt-3" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Additional Information
                </mat-panel-title>
                <mat-panel-description *ngIf="additionalFormProgress != 100">
                    <mat-icon class="mx-1">error</mat-icon> Missing information
                </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="additionalInfoForm">
                <div class="row">
                    <div class="col-10">
                        <div class="col-6 my-2" *ngFor="let fieldcode of customFields">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>{{fieldcode.name}}</mat-label>
                                <div *ngIf="fieldcode.type == fieldTypes[4].id">
                                    <mat-select formControlName="{{fieldcode.code}}">
                                        <mat-option *ngFor="let option of fieldcode.options" [value]="option.option">
                                            {{option.option}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <div *ngIf="fieldcode.type != fieldTypes[4].id">
                                    <input matInput formControlName="{{fieldcode.code}}">
                                </div>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-2">
                        <button *ngIf="!editAdditional" mat-button id="edit-button" (click)="editAdditionalDetails()">
                            <mat-icon>edit</mat-icon>Edit
                            Details</button>
                    </div>
                    <div class="col-12" id="edit-buttons">
                        <button *ngIf="editAdditional" mat-button id="cancel-button"
                            (click)="cancelAdditionalEdit()">Cancel</button>
                        <button *ngIf="editAdditional" mat-button id="save-button" type="submit"
                            (click)="saveAdditionalEdit()">Save
                            changes</button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </mat-accordion>
</div>
