<div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header card-header-rose">
          <h6 class="text-white text-capitalize ps-3">Users</h6>
      </div>
        <div class="card-body px-0 pb-2">
          <ng-container *ngIf="allUsers$ | async as userState; else NoUsers">
            <div class="table-responsive p-0">
            
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Surname</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Email</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Level</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of userState['AllUsers']">
                    <td class="text-xs font-weight-bold mb-0">{{user.firstName}}</td>
                    <td class="text-xs font-weight-bold mb-0">{{user.lastName}}</td>
                    <td class="text-xs font-weight-bold mb-0">{{user.email}}</td>
                    <td class="text-xs font-weight-bold mb-0"></td>
                    <td class="align-middle">
                      <a href="user_manage.html" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                        Manage
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <ng-template #NoUsers>
    <h1>No Users in the database</h1>
  </ng-template>