<div class="row">
  <div class="col-12">
    <div class="card my-4">
      <div class="card-header card-header-rose">
        <h6 class="text-white text-capitalize ps-3">Users</h6>
      </div>
      <div class="card-body px-0 pb-2">
        <!-- <p-table
         #dt1
        [value]="allUsers" 
        [tableStyle]="{ 'min-width': '50rem' }"
        dataKey="id"
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 15, 30]"
        [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['firstName', 'lastName', 'email', 'level']"
        appendTo="body"
        > -->

        <ng-template pTemplate="caption">
          <div class="flex">
              <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
              <!-- <span class="p-input-icon-left ml-auto">
                  <input #element pInputText type="text" (input)="dt1.filterGlobal(element.value, 'contains')" placeholder="Search keyword" />
              </span> -->
          </div>
        </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th style="min-width:15rem" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                <!-- <div class="flex align-items-center">
                  Name
                  <p-columnFilter type="text" field="firstName" display="menu"></p-columnFilter>
              </div> -->
              </th>
              <th style="min-width:15rem" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                <!-- <div class="flex align-items-center">
                  Surname
                  <p-columnFilter type="text" field="lastName" display="menu"></p-columnFilter>
              </div> -->
              </th>
              <th style="min-width:15rem "class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                <!-- <div class="flex align-items-center">
                  Email
                  <p-columnFilter type="text" field="email" display="menu"></p-columnFilter>
              </div> -->
              </th>
              <th style="min-width:15rem"class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                <!-- <div class="flex align-items-center">
                  Level
                  <p-columnFilter type="numeric" field="level" display="menu"></p-columnFilter>
              </div> -->
              </th>
              <th style="min-width:15rem "class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
              </th>
            </tr>
          </ng-template>
          
          <ng-template pTemplate="body" let-user>
            <tr>
              <td class="text-xs font-weight-bold mb-0">{{ user.firstName }}</td>
              <td class="text-xs font-weight-bold mb-0">{{ user.lastName }}</td>
              <td class="text-xs font-weight-bold mb-0">{{ user.email }}</td>
              <td class="text-xs font-weight-bold mb-0">{{ user.level }}</td>
              <td class="align-middle">
                <a (click)="manageUser(user)" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip"
                   data-original-title="Edit user">
                    Manage
                </a>
              </td>
            </tr>
          </ng-template>
        <!-- </p-table> -->
        <ng-template #NoUsers>
          <h1>No Users in the database</h1>
        </ng-template>
      </div>
    </div>
  </div>
</div>
