<div class="container">
    <div class="container-fluid p-4" [ngClass]="{'fullscreen-modal': isMobileScreen}">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <h1 id="form-heading" class="text-center">End Employment</h1>
                <p class="text-center">Please provide a reason for ending this employment</p>
            </div>
        </div>
        <form [formGroup]="newterminationform" id="newcandidateForm">
            <div class="row flex-column justify-content-center align-items-center col-md-12">
                <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-1">
                    <mat-label>Termination Option</mat-label>
                    <mat-select hideSingleSelectionIndicator="true" formControlName="terminationOption">
                        <mat-option *ngFor="let termination of terminationOption; index as i" [value]="termination"
                            (onSelectionChange)="setTerminationOption(i)">{{termination}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="newterminationform.controls['terminationOption'].hasError('required')">
                        Please select a termination option
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-1">
                    <mat-label>Date of Notice</mat-label>
                    <input matInput formControlName="dayOfNotice" [matDatepicker]="datePicker" />
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker #datePicker></mat-datepicker>
                    <mat-error *ngIf="newterminationform.controls['dayOfNotice'].hasError('required')">
                        Please select a day of notice
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-1">
                    <mat-label>Last Day of Employment</mat-label>
                    <input matInput [matDatepicker]="picker2" placeholder="Last day of Employment"
                        formControlName="lastDayOfEmployment" [matDatepickerFilter]="endDateFilter">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="newterminationform.controls['lastDayOfEmployment'].hasError('required')">
                        Please select the last day of employment
                    </mat-error>
                </mat-form-field>
                <div *ngIf="newterminationform.hasError('endDateAfterStartDate')" class="text-center custom-validate-error">
                    *The last day of employment cannot be before the day of notice
                </div>

                <div class="col-md-12 col-lg-7 my-2">
                    <h2 class="align-items-left">Is This Person Eligible for Re-Employment?</h2>
                    <mat-radio-group formControlName="reEmploymentStatus">
                        <mat-radio-button [value]="true">Yes</mat-radio-button><br />
                        <mat-radio-button [value]="false">No</mat-radio-button><br />
                        <mat-error *ngIf="newterminationform.controls['reEmploymentStatus'].hasError('required')">
                            Please select an option
                        </mat-error>
                    </mat-radio-group>
                </div>

                <h2 class="col-md-12 col-lg-7 my-2">Off-Boarding Tasks</h2>
                <div class="col-md-12 col-lg-7 my-2 ms-4">
                    <mat-checkbox formControlName="equipmentStatus">Handed Back Company Equipment</mat-checkbox>
                </div>
                <div class="col-md-12 col-lg-7 my-2 ms-4 align-items-left">
                    <mat-checkbox formControlName="accountsStatus">Transferred Company Accounts</mat-checkbox>
                </div>

                <div id="doc-upload" class="col-md-12 col-lg-7 my-2 p-3 mt-3"
                    [ngClass]="{'error-border': formSubmitted && !newterminationform.value.terminationDocument}"
                    style="border: 1px solid #ccc; border-radius: 10px;">
                    <div class="d-flex justify-content-md-start">
                        <div class="justify-content-md-start">
                            <h3>Exit interview document*</h3>
                            <p class="info-text">PDF only</p>
                            <p>{{ interviewDocFilename }}</p>
                        </div>
                        <div id="actionCellUpload" class="col-12 col-md-auto align-items-right">
                            <div id="removeDocButton"
                                class="col-12 col-md-6 mt-md-1  d-flex justify-content-end d-md-flex ">
                                <button mat-button color="warn" (click)="removeDocument()">Remove
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                            <button type="file" mat-button color="primary" (click)="uploadFile.click()" accept=".pdf"
                                [ngClass]="screenWidth <= 767 ? 'upload-download-button' : ''">
                                <svg id="svg-icon-w" width="24" height="24" viewBox="0 0 24 24" fill="#e3e3e4ff"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <g id="Icons/file_upload">
                                        <path id="icon-w"
                                            d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20 20 19.1 20 18V15H18ZM7 9L8.41 10.41L11 7.83V16H13V7.83L15.59 10.41L17 9L12 4L7 9Z"
                                            fill="#FFFFFF" />
                                    </g>
                                </svg>
                                Upload
                            </button>
                            <input formControlName="terminationDocument" type="file" #uploadFile
                                (change)="onCVFileChange($event)" hidden accept=".pdf">
                        </div>
                    </div>
                </div>
                <mat-form-field Id="comments-field" appearance="outline" class="col-md-12 col-lg-7 my-2 mt-3">
                    <mat-label>Additional Comments</mat-label>
                    <input matInput type="text" formControlName="terminationComments"
                        placeholder="additional comments" />
                </mat-form-field>
                <div id="footer" class="col-md-6 align-items-right">
                    <button id="cancel-button" [ngClass]="screenWidth < 768 ? 'button-mobile' : ''"
                        (click)="goToPreviousPage()">Cancel</button>
                    <button id="save-button" [ngClass]="screenWidth < 768 ? 'button-mobile button-top' : ''"
                        (click)="SaveEmployeeTermination('/profile')">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>