.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form)  {
    border-left: 5px solid #a94442;
}

#btnAddOption {
    border: 1px outset lightgray;
    height:30px;
    width:30px;
    border-radius: 20px;
    cursor:pointer;
    padding: 0px;
    margin-left: 30px;
}

#btnRemoveOption {
    border: 1px outset;
    height:30px;
    width:30px;
    border-radius: 20px;
    cursor:pointer;
    padding: 0px;
    margin-left: 10px;
}

#lblOption {
    margin-right: 10px;
}