.skill-circle p {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 50px; 
  background-color: blue; 
  color: white; 
  margin: 5px; 
}

.cert-circle p {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 50px; 
  background-color: green; 
  color: white; 
  margin: 5px; 
}

.proj-circle p {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 50px; 
  background-color: red; 
  color: white; 
  margin: 5px;
}

