<div class="container" *ngIf="UserProfile$ | async as profile; else NoUser">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
        <div class="table-responsive">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                Personal Details
              </th>
              <th></th>
            </tr>
          </thead>
          <table>
            <tbody>
              <tr>
                <td class="align-middle">Full Name</td>
                <td class="align-middle">
                  {{ profile["userProfile"]?.firstName }}
                  {{ profile["userProfile"]?.lastName }}
                </td>
              </tr>
              <tr>
                <td class="align-middle">E-Mail</td>
                <td class="align-middle">
                  {{ profile["userProfile"]?.email }}
                </td>
              </tr>
              <tr>
                <td class="align-middle">Level</td>
                <td class="align-middle">{{ profile["userProfile"]?.level }}</td>
              </tr>
              <tr>
                <td class="align-middle">Phone</td>
                <td *ngIf="!isEdit; else PhoneEdit" class="align-middle">
                  {{ profile["userProfile"]?.phone }}
                </td>
                <ng-template #PhoneEdit>
                  <input type="text" [value]="PhoneEdit" [(ngModel)]="phoneEdit" />
                </ng-template>
              </tr>
              <tr>
                <td class="align-middle">Bio</td>
                <td *ngIf="!isEdit; else BioEdit" class="align-middle">
                  {{ profile["userProfile"]?.bio }}
                </td>
                <ng-template #BioEdit>
                  <input type="text" [value]="bioEdit" [(ngModel)]="bioEdit" />
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card">
        <div class="table-responsive">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                Socials
              </th>
            </tr>
          </thead>
          <table>
            <tbody>
              <tr>
                <td class="align-middle">Discord</td>
                <td *ngIf="!isEdit; else DiscordEdit" class="align-middle">
                  {{ profile["userProfile"]?.socials[0]?.discord }}
                </td>
                <ng-template #DiscordEdit>
                  <input type="text" [value]="discordEdit" [(ngModel)]="discordEdit" />
                </ng-template>
              </tr>
              <tr>
                <td class="align-middle">CodeWars</td>
                <td *ngIf="!isEdit; else CodewarsEdit" class="align-middle">
                  {{ profile["userProfile"]?.socials[0]?.codeWars }}
                </td>
                <ng-template #CodewarsEdit>
                  <input type="text" [value]="codewarsEdit" [(ngModel)]="codewarsEdit" />
                </ng-template>
              </tr>
              <tr>
                <td class="align-middle">GitHub</td>
                <td *ngIf="!isEdit; else GitHubEdit" class="align-middle">
                  {{ profile["userProfile"]?.socials[0]?.gitHub }}
                </td>
                <ng-template #GitHubEdit>
                  <input [value]="gitHubEdit" [(ngModel)]="gitHubEdit" type="text" />
                </ng-template>
              </tr>
              <tr>
                <td class="align-middle">Linkedin</td>
                <td *ngIf="!isEdit; else LinkedInEdit" class="align-middle">
                  {{ profile["userProfile"]?.socials[0]?.linkedIn }}
                </td>
                <ng-template #LinkedInEdit>
                  <input [value]="linkedInEdit" [(ngModel)]="linkedInEdit" type="text" />
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <h4 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
          Skills
        </h4>
        <div class="skill-circle">
          <div *ngIf="!isEdit; else EditSkills">
            <div *ngFor="let skill of profile['userProfile']?.skills">
              <p>{{ skill.title }}</p>
            </div>
          </div>
          <ng-template #EditSkills>
            <button (click)="addSkill()">Add Skill</button>
            <div *ngIf="showNewSkill">
              <label>Title</label>
              <input type="text" [(ngModel)]="editSkillTitle" />
              <label>Description</label>
              <input type="text" [(ngModel)]="editSkillDescription" />
              <button (click)="saveSkill(profile)" [disabled]="!editSkillTitle || !editSkillDescription">
                Add</button><button (click)="cancelSkill()">Cancel</button>
            </div>
            <div *ngFor="let skill of editSkills; let i = index">
              <button (click)="removeSkill(skill, i)">Remove</button>
              <button (click)="editSkill(skill, i)">Edit</button>
              <p *ngIf="i != editSkillIndex; else EditASkill">
                {{ skill.title }} <br />
                {{ skill.description }}
              </p>
              <ng-template #EditASkill>
                <label>Title</label>
                <input type="text" [value]="editASkillTitle" [(ngModel)]="editASkillTitle" />
                <label>Description</label>
                <input type="text" [value]="editASkillDescription" [(ngModel)]="editASkillDescription" />
                <button (click)="saveEditSkill(skill, i)" [disabled]="editSkillTitle && editSkillDescription">
                  Save</button><button (click)="cancelEditSkill()">Cancel</button>
              </ng-template>
            </div>
          </ng-template>
        </div>
        <div class="card">
          <h4 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
            Certifications
          </h4>
          <div class="cert-circle">
            <div *ngIf="!isEdit; else EditCert">
              <div *ngFor="let cert of profile['userProfile']?.certifications">
                <p>{{ cert.title }}</p>
              </div>
            </div>
            <ng-template #EditCert>
              <button (click)="addCert()">Add Certification</button>
              <div *ngIf="showNewCert">
                <label>Title</label>
                <input type="text" [(ngModel)]="editCertTitle" />
                <label>Description</label>
                <input type="text" [(ngModel)]="editCertDescription" />
                <button (click)="saveCert(profile)" [disabled]="!editCertTitle || !editCertDescription">
                  Add</button><button (click)="cancelCert()">Cancel</button>
              </div>
              <div *ngFor="let cert of editCertifications; let i = index">
                <button (click)="removeCert(cert, i)">Remove</button>
                <button (click)="editCert(cert, i)">Edit</button>
                <p *ngIf="i != editCertIndex; else EditACert">
                  {{ cert.title }} <br />
                  {{ cert.description }}
                </p>
                <ng-template #EditACert>
                  <label>Title</label>
                  <input type="text" [(ngModel)]="editACertTitle" />
                  <label>Description</label>
                  <input type="text" [(ngModel)]="editACertDescription" />
                  <button (click)="saveEditCert(cert, i)">Save</button><button
                    (click)="cancelEditCert()">Cancel</button>
                </ng-template>
              </div>
            </ng-template>
          </div>
        </div>

        <div class="card">
          <div class="table-responsive">
            <h4 class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
              Projects
            </h4>
            <div class="proj-circle">
              <div *ngIf="!isEdit; else EditProject">
                <div *ngFor="let proj of profile['userProfile']?.projects">
                  <p>{{ proj.name }}</p>
                </div>
              </div>
              <ng-template #EditProject>
                <button (click)="addProject()">Add Project</button>
                <div *ngIf="showNewProject">
                  <label>Name</label>
                  <input type="text" [(ngModel)]="editProjectName" />
                  <label>Role</label>
                  <input type="text" [(ngModel)]="editProjectRole" />
                  <label>Description</label>
                  <textarea type="text" [(ngModel)]="editProjectDescription"></textarea>
                  <button (click)="saveProject(profile)" [disabled]="
                      !editProjectName ||
                      !editProjectDescription ||
                      !editProjectRole
                    ">
                    Add</button><button (click)="cancelProject()">Cancel</button>
                </div>
                <div *ngFor="let project of editProjects; let i = index">
                  <button (click)="removeProject(project, i)">Remove</button>
                  <button (click)="editProject(project, i)">Edit</button>
                  <p *ngIf="i != editProjectIndex; else EditAProject">
                    {{ project.name }} <br />
                    {{ project.role }} <br />
                    {{ project.description }}
                  </p>
                  <ng-template #EditAProject>
                    <label>Name</label>
                    <input type="text" [(ngModel)]="editAProjectName" />
                    <label>Role</label>
                    <input type="text" [(ngModel)]="editAProjectRole" />
                    <label>Description</label>
                    <textarea type="text" [(ngModel)]="editAProjectDescription"></textarea>
                    <button (click)="saveEditProject(project, i)">Save</button><button
                      (click)="cancelEditProject()">Cancel</button>
                  </ng-template>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <button *ngIf="!isEdit" (click)="toggleEditMode(profile)" type="button" mat-raised-button
          class="btn btn-primary">
          Update My Profile
        </button>
        <button *ngIf="isEdit" (click)="SaveProfileChanges(profile)" type="button" mat-raised-button
          class="btn btn-primary">
          Save Changes
        </button>
        <button *ngIf="isEdit" (click)="cancel()" type="button" mat-raised-button class="btn btn-primary">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #NoUser>
  <h1>No Users in the database</h1>
</ng-template>
