<div class="charts-wrapper">

  <a href="/create-charts">
    <button class="edit-button">Edit Dashboard</button>
  </a>

<div class="numberofempoyees">
  <h5>Total number of employees: {{numberOfEmployees}}</h5>
</div>
  <div class="chart-container">
    <div *ngFor="let chart of chartData;" class="chart-item">
      {{chart.name}}
      <canvas
        baseChart
        [datasets]="[{ data: chart.data, label: chart.label }]"
        [labels]="chart.labels"
        [options]="chart.labels"
        [type]="chart.type"
      ></canvas>
    </div>
  </div>
</div>
