main {
    width: 100%;
    background: #E8EFFF;
}

form {
    min-width: 70%;
}

.form-styling {
    width: 70%;
    position: relative;
    background: white;
    border-radius: 20px;
}


.heading {
    padding-top: 1rem;
    font-size: 2rem;
    font-family: Roboto;
    font-weight: 400;
    line-height: 52px;
    word-wrap: break-word;
}

.heading-text {
    width: 332px;
    text-align: center;
    color: #0029C6;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.text-input {
    color: #49454F;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.50px;
    word-wrap: break-word;
}

.upload_description {
    color: #fff;
    font-weight: 500;
    background-color: #f3f7fe;
    border-radius: 20px;
    padding: 0 1rem;
}

#import-files {
    width: 80%;
    background-color: #f3f7fe;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.no-border {
    border: none;
}

.form-buttons {
    font-family: Montserrat;
}

.form-buttons button {
    width: 100%;
}

.form-floating-width {
    width: 60%;
}

.file {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0 0.5rem;
    background-color: #fff;
    color: #000;
}

.custom-row-content {
    max-width: 70%;
    margin: auto;
}