main {
    width: 100%;
    background: #E8EFFF;
}

#newEmployeeForm {
    min-width: 70%;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.heading-text {
    width: 332px;
    text-align: center;
    color: #0029C6;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.no-border {
    border: none;
}

.form-buttons button {
    width: 100%;
}

#fileUploadCursor {
    cursor: pointer;
    color: #0029C6;
    background-color: #D7DFFF;
    border-radius: 100px;
}

.additional-fields-label {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
}

.title-line-height {
    line-height: .5rem;
}

#createEmployee {
    font-size: 45px;
    font-weight: 400;
    line-height: 52px;
}

#heading {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    word-wrap: break-word;
}