<form [formGroup]="newEmployeeForm" (ngSubmit)="onSubmit(false)" id="newEmployeeForm">
  <main class="d-flex flex-column align-items-center p-4">
    <div class="p-5 rounded-4 w-75 bg-white row flex-column justify-content-center align-items-center">
      <div class="col-md-12">
        <h1 class="text-center fs-1 lh-base mt-3">Create employee profile</h1>
        <span class="text-center roboto-font" style="font-size: 12px; line-height: 10px; color: #0029C6;">
          <p>Please enter the employee’s information in</p>
          <p>order to create a profile for them.</p>
        </span>
      </div>
      <br>
      <div class="row flex-column justify-content-center align-items-center col-md-12">
        <div class="row flex-column justify-content-center align-items-center roboto-font">
          <h1 class="col-6 fs-1">Employee Details</h1>
          <p class="col-6">Note: *The asterisk indicates required fields</p>
        </div>
        <br>
        <div class="row flex-column justify-content-center align-items-center roboto-font title-line-height">
          <span class="col-6 fs-5">Title</span>
          <br>
          <mat-radio-group class="col-6" formControlName="title">
            <mat-radio-button *ngFor="let title of titles" [value]="title">{{title}}</mat-radio-button>
          </mat-radio-group>
        </div>
        <br>
        <div class="row flex-column justify-content-center align-items-center">
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Full name</mat-label>
            <input matInput type="text" formControlName="name">
            <mat-error *ngIf="newEmployeeForm.controls['name'].hasError('required')">
              Full name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Last name</mat-label>
            <input matInput type="text" formControlName="surname">
            <mat-error *ngIf="newEmployeeForm.controls['surname'].hasError('required')">
              Last name is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Initials</mat-label>
            <input matInput type="text" formControlName="initials">
            <mat-error *ngIf="newEmployeeForm.controls['initials'].hasError('required')">
              Initials are required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Work Email</mat-label>
            <input matInput type="email" formControlName="email">
            <mat-error *ngIf="newEmployeeForm.controls['email'].hasError('required')">
              Work email is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Personal Email</mat-label>
            <input matInput type="email" formControlName="personalEmail">
            <mat-error *ngIf="newEmployeeForm.controls['personalEmail'].hasError('required')">
              Personal email is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Select role</mat-label>
            <mat-select formControlName="employeeType">
              <mat-option *ngFor="let type of employeeTypes" [value]="type">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Select level</mat-label>
            <mat-select formControlName="level">
              <mat-option *ngFor="let level of levels" [value]="level">{{level}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Start Date</mat-label>
            <input matInput formControlName="engagementDate" [matDatepicker]="engagementDatePicker">
            <mat-datepicker-toggle matSuffix [for]="engagementDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #engagementDatePicker></mat-datepicker>
            <mat-error *ngIf="newEmployeeForm.controls['engagementDate'].hasError('required')">
              Engagement date is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>Date of Birth</mat-label>
            <input matInput formControlName="dateOfBirth" [matDatepicker]="dateOfBirthPicker">
            <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
            <mat-datepicker #dateOfBirthPicker></mat-datepicker>
            <mat-error *ngIf="newEmployeeForm.controls['dateOfBirth'].hasError('required')">
              Engagement date is required
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-50">
            <mat-label>ID number</mat-label>
            <input matInput type="text" formControlName="idNumber">
            <mat-error *ngIf="newEmployeeForm.controls['idNumber'].hasError('required')">
              ID number is required
            </mat-error>
          </mat-form-field>
        </div>
        <form [formGroup]="settingsForm" class="row flex-column justify-content-center align-items-center roboto-font col-12">
          <div class="col-6">
            <label class="fw-base pe-3 custom-label" for="additionalFieldsToggle">Additional fields</label>
            <mat-slide-toggle color="primary" id="additionalFieldsToggle" formControlName="toggleAdditionalFields"></mat-slide-toggle>
          </div>
        </form>
      </div>
    </div>
    <br>
  </main>
  <footer class="bg-white col-12 p-3 d-flex">
    <div class="col-9 d-flex justify-content-end">
      <button mat-button type="button" color="primary" class="text-primary bg-white rounded-pill border border-black mx-2"
        (click)="CaptureEvent()">Cancel</button>
      <button mat-raised-button type="submit" color="primary" class="text-white rounded-pill border-primary bg-primary"
        matStepperNext>Next</button>
    </div>
  </footer>
</form>