pre {
    border: 1px solid #ccc;
    color: #000;
    background-color: #fff;
}

.card, .form-control {
    width: fit-content;
    margin: 0.rem 0.1rem;
    padding: 0.5rem 0.5rem;
    font-size: large;
    font-weight: 700;
}

div .d-flex {
    flex-wrap: wrap;
}

.selected {
    box-shadow: inset 0 0 0 0.2rem #000;
}