#menu-icon {
  color: #0029c6;
  margin: 0 auto;
}

#image-container>img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#header-container {
  background-color: white;
}

.mat-sidenav {
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
}

img {
  width: 100%;
}

#content { 
  background-color: #E8EFFF;
  min-height: 100vh;
}

mat-sidenav{
  width: 275px;
  padding: 0 2%;
}

.mat-sidenav-container {
  background-color: #E8EFFF;
}