#edit-button-width {
    border: none;
    border-radius: 2rem;
    background-color: #D7DFFF;
    color: #0029C6;
    width: 170px;
}
::ng-deep .mat-pseudo-checkbox{
  height:0px !important;
  width:0px !important;
  display:none !important;
}
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after{
    height:0px !important;
    width:0px !important;
}

#move-icon{
 margin-top:1px;
 padding-right: 35px;
}

#move-icon2{
  margin-top: -10px;
 }

.align-text-icon{
  display: flex;
  flex-direction: row;
  height:30px;
  width:400px;
}
