#edit-button-width {
    border: none;
    border-radius: 2rem;
    background-color: #D7DFFF;
    color: #0029C6;
    width: 170px;
}
::ng-deep .mat-pseudo-checkbox{
  height:0px !important;
  width:0px !important;
  display:none !important;
}
.mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after{
    height:0px !important;
    width:0px !important;
}
#required-icon{
  color:#B3261E;
}
.align-text-icon{
  display: flex;
  flex-direction: row;
}