<div class="col-12">
  <div class="m-3 border-bottom">
    <h1 class="page-heading border-bottom">New User</h1>
    <div style="overflow: auto">
      <div class="container-fluid">
        <form [formGroup]="newUserForm" (submit)="onSubmit()">
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3 row">
                <div class="col-sm-12">
                  <label class="col-form-label">Grad Group</label>
                  <select type="text" class="form-control" formControlName="gradGroupId">
                    <option *ngFor="let gradGroup of gradGroups" [value]="gradGroup.id">
                      {{gradGroup.title}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-12">
                  <label class="col-form-label">First Name</label>
                  <input type="text" class="form-control" formControlName="firstName" />
                  <div
                    *ngIf="newUserForm.controls['firstName'].invalid && (newUserForm.controls['firstName'].dirty || newUserForm.controls['firstName'].touched)"
                    class="alert">
                    Please enter first name
                  </div>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-12">
                  <label class="col-form-label">Last Name</label>
                  <input type="text" class="form-control" formControlName="lastName" />
                  <div
                    *ngIf="newUserForm.controls['lastName'].invalid && (newUserForm.controls['lastName'].dirty || newUserForm.controls['lastName'].touched)"
                    class="alert">
                    Please enter last name
                  </div>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-12">
                  <label class="col-form-label">Email</label>
                  <input type="text" class="form-control" formControlName="email" />
                  <div
                    *ngIf="newUserForm.controls['email'].invalid && (newUserForm.controls['email'].dirty || newUserForm.controls['email'].touched)"
                    class="alert">
                    Please enter email
                  </div>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-12">
                  <label class="col-form-label">Type</label>
                  <input type="text" class="form-control" formControlName="type" />
                  <div
                    *ngIf="newUserForm.controls['type'].invalid && (newUserForm.controls['type'].dirty || newUserForm.controls['type'].touched)"
                    class="alert">
                    Please enter a user type
                  </div>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-12">
                  <label class="col-form-label">Status</label>
                  <select type="text" class="form-control" formControlName="status">
                    <option *ngFor="let status of statuses" [value]="status.id">
                      {{status.title}}
                    </option>
                  </select>
                  <div
                    *ngIf="newUserForm.controls['status'].invalid && (newUserForm.controls['status'].dirty || newUserForm.controls['status'].touched)"
                    class="alert">
                    Please enter status
                  </div>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-12">
                  <label class="col-form-label">Join Date</label>
                  <input type="date" class="form-control" formControlName="joinDate" />
                  <div
                    *ngIf="newUserForm.controls['joinDate'].invalid && (newUserForm.controls['joinDate'].dirty || newUserForm.controls['joinDate'].touched)"
                    class="alert">
                    Please enter join date
                  </div>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-sm-12">
                  <button type="submit" class="form-control" formControlName="group">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>