<ul class="nav">
    <li class="nav-item">
        <input type="button" class="btn btn-danger" (click)="backToEvaluations()" value="Back">
    </li>
    <li class="nav-item">
        <input type="button" (click)="currentTab = 'Template'" value="Template" [ngClass]="{
        'nav-link btn btn-primary active': currentTab === 'Template',
        'nav-link btn btn-info': currentTab !== 'Template'
      }" />
    </li>
    <li class="nav-item">
        <input type="button" (click)="currentTab = 'Audience'" value="Audience" [ngClass]="{
        'nav-link btn btn-primary active': currentTab === 'Audience',
        'nav-link btn btn-info': currentTab !== 'Audience'
      }" />
    </li>
    <li class="nav-item">
        <input type="button" (click)="currentTab = 'Rating'" value="Rating" [ngClass]="{
        'nav-link btn btn-primary active': currentTab === 'Rating',
        'nav-link btn btn-info': currentTab !== 'Rating'
      }" />
    </li>
</ul>

<datalist id="email-list">
    <option *ngFor="let employee of employees$ | async" [value]="employee['email']">
        {{ employee["name"] + " " + employee["surname"] }}
    </option>
</datalist>
<section class="fluid-contaier" *ngIf="currentTab === 'Template'">
    <form [formGroup]="EvaluationForm">
        <header class="fluid-container p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary" *ngIf="selectedEvaluation === null"
                    (click)="saveEvaluation()">
                    Save
                </button>
                <button type="submit" class="btn btn-warning" *ngIf="selectedEvaluation !== null"
                    (click)="updateEvaluation()">
                    Update
                </button>
                <button type="button" class="btn btn-danger" *ngIf="selectedEvaluation !== null"
                    (click)="removeEvaluation()">
                    Delete
                </button>
            </div>
            <hr />
            <div class="row g2">
                <div class="form-floating mb-3 col-md">
                    <input list="email-list" class="form-control form-control-sm col-auto border-bottom border-success"
                        id="owner" aria-describedby="owner-email" formControlName="ownerEmail"
                        [value]="selectedEvaluation?.owner?.email" />
                    <label for="owner" class="p-3">Email Address(Owner)</label>
                </div>
                <div class="form-floating mb-3 col-md">
                    <input list="email-list" class="form-control form-control-sm col-auto border-bottom border-success"
                        id="employee" aria-describedby="employee-email" formControlName="employeeEmail" />
                    <label for="employee" class="p-3">Email Address(Employee)</label>
                </div>
                <div class="form-floating mb-3 col-md">
                    <input class="form-control form-control-sm col-auto border-bottom border-success" id="subject"
                        aria-describedby="subject" formControlName="subject" />
                    <label for="subject" class="p-3">Subject</label>
                </div>
                <div class="form-floating mb-3 col-md">
                    <datalist id="template-list" (change)="tempChange($event)">
                        <option *ngFor="let template of templates$ | async" [value]="template.description">
                            {{ template["description"] }}
                        </option>
                    </datalist>
                    <input (input)="templateChange()" list="template-list"
                        class="form-control form-control-sm col-auto border-bottom border-success" id="description"
                        aria-describedby="template" formControlName="template" />
                    <label for="description" class="p-3">Template</label>
                </div>
            </div>
        </header>
        <div *ngIf="EvaluationForm.controls['template'].valid">
            <section class="card" *ngFor="let templateDesc of templateItems | keyvalue">
                <div class="card-header">
                    <h4>
                        Template: <b>{{ templateDesc.key }}</b>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="border-bottom border-secondary" *ngFor="let section of templateDesc.value | keyvalue">
                        <h5 class="card-title">
                            <b>{{ section.key }}</b>
                        </h5>
                        <span class="card-text" *ngFor="let item of section.value">
                            {{ item }}
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </form>
</section>
<section class="fluid-contaier" *ngIf="currentTab === 'Audience'">
    <div class="row g2">
        <h5><i>Audience Members:</i></h5>
        <form [formGroup]="AudienceForm" class="d-flex">
            <button type="submit" class="btn btn-primary btn-sm" (click)="saveEvaluationAudience()">
                <i class="material-icons">add_circle</i>
            </button>
            <div class="form-floating col-md">
                <input type="email" list="email-list"
                    class="form-control form-control-sm col-sm border-bottom border-success" id="newAudience"
                    formControlName="email" />
                <label for="newAudience" class="p-3">Audience</label>
            </div>
        </form>
        <hr />
        <div class="mb-3 col-md d-flex" *ngFor="let member of audience">
            <button type="submit" class="btn btn-danger btn-sm" (click)="deleteEvaluationAudience(member.email)">
                <i class="material-icons">remove_circle</i>
            </button>
            <span>
                <b>{{ member.name }}</b>
                <br />
                <i>{{ member.email }}</i>
            </span>
        </div>
    </div>
</section>
<section class="fluid-contaier" *ngIf="currentTab === 'Rating'">
    <form [formGroup]="RatingForm">
        <div class="btn-group" role="group">
            <input type="submit" class="btn btn-primary" value="Save" (click)="saveEvaluationRating()" />
            <input type="submit" class="btn btn-warning" value="Clear" (click)="clearRatingForm()" />
        </div>
        <div class="form-floating mb-3 col-md">
            <input class="form-control form-control-md col-auto border-bottom border-success" type="text"
                id="description" formControlName="description" />
            <label for="description">Description</label>
        </div>
        <hr />
        <div class="mb-3 col-md">
            <label>
                Score
                <span *ngFor="let star of stars; index as i" [ngClass]="{
            'star-filled': i < RatingForm.value.score,
            star: i >= RatingForm.value.score
          }">&#9733;</span>
            </label>
            <br />
            <input type="range" list="markers" min="0" max="5" step="1" id="score" formControlName="score" />
            <datalist id="markers">
                <option value="0" label="0"></option>
                <option value="1" label="1"></option>
                <option value="2" label="2"></option>
                <option value="3" label="3"></option>
                <option value="4" label="4"></option>
                <option value="5" label="5"></option>
            </datalist>
        </div>
        <hr />
        <div class="form-floating mb-3 col-md">
            <textarea class="form-control form-control-md col-auto border-bottom border-success" type="text"
                id="comment" formControlName="comment"></textarea>
            <label for="comment">Comment</label>
        </div>
    </form>
    <div *ngFor="let rating of rating$ | async">
        <div class="star-rating">
            <button type="submit" class="btn btn-danger btn-sm" (click)="deleteEvaluationRating(rating)">
                <i class="material-icons">remove_circle</i>
            </button>
            <span>{{ rating["description"] }}</span>
            <span *ngFor="let star of stars; index as i" [ngClass]="{
          'star-filled': i < rating['score'],
          star: i >= rating['score']
        }">&#9733;</span>
        </div>

        <div class="comments-section">
            <label for="comments">Comments:</label>
            <textarea id="comments" class="form-control" rows="4" disabled>
            {{ rating["comment"] }}
        </textarea>
        </div>
    </div>
</section>