<div class="container">
    <h2>Create a Chart</h2>

    <div class="chart-form">
        <label for="chartType">Chart Type:</label>
        <select id="chartType" [(ngModel)]="chartType">
            <option value="bar">Bar Chart</option>
            <option value="line">Line Chart</option>
            <option value="pie">Pie Chart</option>
            <option value="doughnut">Doughnut</option>
        </select>
    </div>

    <div class="chart-form">
        <label for="chartData">Chart Name:</label>
        <input type="text" id="chartData" [(ngModel)]="chartName">
    </div>

    <div class="chart-form">
        <label for="chartData">Chart Data Item:</label>
        <ng-multiselect-dropdown id="chartData" [placeholder]="'Select Data Items'" [data]="columns"
            [(ngModel)]="selectedDataItems" (onSelect)="onDropDownChange()" (onDeSelect)="onDropDownChange()"
            [settings]="dropdownSettings">
        </ng-multiselect-dropdown>
    </div>
    <div class="chart-container">
        <canvas baseChart [datasets]="[{ data: chartData, label: chartName }]" [labels]="chartLabels" [type]="chartType"
            [options]="chartOptions">
        </canvas>
    </div>
    <button class="create-button" (click)="createChart()">Create Chart</button>
</div>