<div id="field-container" [ngClass]="navService.showNavContainer ? 'my-4' : 'my-2'">
    <div id="form-container" class="py-4" [ngClass]="this.isMobileScreen ? 'form-container-mobile' : ''">
        <h3>{{ systemService.isEditing ? 'Create a new custom field' : 'Edit a custom field' }}</h3>
        <form class="row mx-0" [formGroup]="customFieldForm">
            <h1 id="field-heading">Name and describe the field:</h1>
            <div class="col-12">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" (input)="formatCustomFieldCodeFromName()"
                        [(ngModel)]="fieldCodeCapture">
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Description</mat-label>
                    <input matInput formControlName="description">
                </mat-form-field>
            </div>
            <div>
                <h1 id="radio-headings" class="mb-0">Select where it goes on the employee profile:</h1>
                <mat-radio-group aria-label="Category" formControlName="category">
                    <mat-radio-button [value]=0 (change)="checkOption($event)">Profile Details</mat-radio-button> <br>
                    <mat-radio-button [value]=1 (change)="checkOption($event)">Bank Information</mat-radio-button> <br>
                    <mat-radio-button [value]=2 (change)="checkOption($event)">Career Summary</mat-radio-button> <br>
                    <mat-radio-button [value]=3 (change)="checkOptionDocuments($event)">Documents</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-12">
                <h1 id="radio-headings" class="mb-0">Select what type of field it should be</h1>
                <mat-radio-group aria-label="Type" formControlName="type" (change)="checkSelectedOption($event)">
                    <mat-radio-button [value]=0 [disabled]="isDisabledDocuments()">Date - For specific calendar days, like birthdays</mat-radio-button>
                    <br>
                    <mat-radio-button [value]=1 [disabled]="isDisabledDocuments()">String - For storing text, like names or messages</mat-radio-button>
                    <br>
                    <mat-radio-button [value]=2 [disabled]="isDisabledDocuments()">Integer - Whole counting numbers, like 1, 2, 3...</mat-radio-button>
                    <br>
                    <mat-radio-button [value]=3 [disabled]="isDisabledDocuments()">Float - For numbers with decimal points, like
                        currency</mat-radio-button>
                    <br>
                    <mat-radio-button [value]=4 [disabled]="isDisabledDocuments()">Options - Choices, which can be words or numbers</mat-radio-button>
                    <br>
                    <mat-radio-button [value]=5 [disabled]="isDisabled()">Custom Documents - For file uploads, personal or required documents</mat-radio-button>

                </mat-radio-group>
                <div *ngIf="customFieldForm.get('type')?.value == 4 && customFieldForm.get('options') as optionsArray"
                    formArrayName="options" cdkDropList (cdkDropListDropped)="drop($event)" class="mt-2">
                    <div *ngFor="let option of options.controls; let i = index" class="row mx-0" cdkDrag>
                        <div id="icon-circle" (click)="removeOption(i)" class="col-1">
                            <mat-icon id="icon">close</mat-icon>
                        </div>
                        <div class="col-10">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Option {{i + 1}} Title*</mat-label>
                                <input matInput [formControlName]="i">
                            </mat-form-field>
                        </div>
                        <div id="drag-icon" class="col-1">
                            <mat-icon>drag_indicator</mat-icon>
                        </div>
                    </div>
                    <div>
                        <button mat-raised-button class="ms-5" (click)="addOption()" id="add-button">+ Add Option</button>
                    </div>
                </div>
            </div>
            <br>
            <div class="col-12">
                <mat-checkbox formControlName="required" (change)="toggleRequired()">
                    Make custom field mandatory
                </mat-checkbox>
            </div>
            <div class="col-12" id="toggle-advanced">
                <mat-slide-toggle [disabled]="isDisabledDocuments()" (toggleChange)="toggleShowAdvance()">Advance fields</mat-slide-toggle>
            </div>
            <div *ngIf="showAdvanced">
                <div class="col-12">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Code</mat-label>
                        <input matInput formControlName="code">
                    </mat-form-field>
                </div>
                <div class="col-12">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>RegEx</mat-label>
                        <input matInput formControlName="regex">
                    </mat-form-field>
                </div>
            </div>
            <div id="button-container">
                <div>
                    <button mat-raised-button id="save-button" (click)="onSubmit()" [disabled]="optionsValid">
                        {{ systemService.isEditing ? 'Save' : 'Update' }}
                    </button>
                </div>
                <div>
                    <button mat-raised-button id="cancel-button" (click)="back()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>