#field-container {
    background-color: white;
    border-radius: 20px;
    width: 100%;
    max-width: 884px;
    min-height: 919px;
    text-align: center;
    margin: 0px auto;
}

#form-container>form {
    max-width: 484px;
    width: 100%;
    min-height: 623px;
    margin: auto;
    display: inline-block;
    text-align: left !important;
}

#form-container>form>div {
    margin: auto;
    width: 400px;
    padding: 0;
}

.form-container-mobile {
    padding: 25px; 
    border-radius: 25px; 
    min-height: auto; 
}

h3 {
    color: var(--m-3-black, var(--colour-primary-0, #000));
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-bottom: 64px;
}

.mat-radio-button {
    height: 48px;
}

#button-container>button {
    border-radius: 100px;
    background: var(--m-3-sys-light-primary, #0029C6);
    border-width: 0;
    color: white;
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#button-container {
    width: 400px;
}

#button-container>div>button:first-child {
    margin-bottom: 20px;
}

#save-button {
    padding: 10px 24px;
    width: 100%;
    max-width: 400px; 
}

button:disabled,
button[disabled],
#save-add-button:disabled,
#save-add-button[disabled] #save-button:disabled,
#save-button[disabled] {
    background: var(--m-3-state-layers-light-on-surface-opacity-012, rgba(29, 27, 32, 0.12));
    color: var(--m-3-sys-light-on-surface-variant, #49454F);
    border: none;
}

#cancel-button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #0029c6;
    color: #0029c6;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    width: 100%;
    max-width: 400px;  
}

#radio-headings {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
}

#field-heading {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-left: 30px;
}

#icon-circle:hover,
#drag-icon {
    cursor: pointer;
}

#icon-circle {
    color: #DC362E;
}

.mat-icon {
    margin-top: 1rem;
}

#add-button {
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 8px;
    background: #0029c6;
    border-radius: 30px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    width: 137px;
    box-shadow: none;
}

#toggle-advanced {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

#type-info {
    margin: 0 0 10px 0;
}

#type-info>p {
    margin: 0;
}