.container {
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    width: 60%;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    min-height: 100%;
    height: 100%;
}

.container-missing-info {
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    width: 60%;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    min-height: 90vh;
    height: 40%;
    margin-left: 300px;
}

.sub-container>h1 {
    margin-top: 10px;
}

#button-pdf {
    color: #0029c6;
}

#retro-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-summary {
    width: 80%;
    margin-left: 10%;
}

.container-summary>p {
    margin-top: 10px;
}

.container-skills {
    width: 80%;
    margin-left: 10%;
}

.skill>h5 {
    margin-left: 12px;
    font-size: 14px;
}

.container-certification {
    width: 80%;
    margin-left: 10%;
}


.sub-cert>h3 {
    font-weight: 500;
}

.doc-name-info>button {
    width: 350px;
    border: none;
    background-color: transparent;
}

.doc-name-info>button:hover {
    background-color: transparent;
}

.btn-download>h4 {
    color: #0029c6;
    margin-left: 5px;
    font-size: 12px;
    border: none;
}

.container-doc-name {
    margin-top: -15px;
}

.container-experience {
    width: 80%;
    margin-left: 10%;
}

.container-experience>h1 {
    margin-top: 10px;
}

.container-project>h4 {
    font-weight: 500;
}

#noResults h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    word-wrap: break-word;
}

#noResults h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    word-wrap: break-word;
}

#main-content {
    margin-top: 150px;
}

@media print {
    .container {
        width: 100%;
        overflow: visible;
        min-height: 100vh;
        height: 100%;
        max-width: 100%;
    }

    .container-doc-name {
        display: none;
        visibility: hidden;
    }

    .sub-cert>h3 {
        margin-top: 5px;
    }

    .sub-cert {
        width: 100%;
        height: 80px;
    }

    .cert {
        margin-top: -15px;
        width: 100%;
    }

    #button-pdf {
        display: none;
        visibility: hidden;
    }
}