.container {
    margin-top: 20px;
    background:white;
    border-radius: 10px;
    width:60%;
    height:100%;
}
.container-summary{
    /* border:1px solid red; */
    width:80%;
    margin-left:10%;
}
.container-summary > p{
    margin-top:10px;
}
.container-skills{
    /* border:1px solid red; */
    width:80%;
    margin-left:10%;
    display: flex;
    flex-direction: column;
}
.container-skills >h1{
    margin-top:10px;
}
.skill{
    display: flex;
    flex-direction: row;
    margin-top:10px;

}
.skill >h3{
    margin-left: 10px;
}
.cert{
  display: flex;
  flex-direction: row;
  margin-top:10px;
}
.cert >h3{
    margin-left: 10px;
}

.category-icon{
    height:10%;
    width:10%;
}
.container-certification{
    /* border:1px solid red; */
    width:80%;
    margin-left:10%;
}
.container-certification >h1{
    margin-top:10px;
}
.container-experience{
    /* border:1px solid red; */
    width:80%;
    margin-left:10%;
    display: flex;
    flex-direction: column;
}
.container-experience >h1{
    margin-top:10px;
}
.container-project>h4{
    font-weight: 500;

}