#dialog-content{
    align-items: center;
    background: #FFF;
    border-radius: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 24px 40px;
    width: 461px;
    height: 296px;
}

#dialog-header{
    width: 381px;
    height: 112px;
    text-align: center;
    margin-bottom: 40px;
}

#dialog-header > h2{
    color: var(--m-3-black, #000);
    text-align: center;
    /* M3/display/medium */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 115.556% */
    margin-bottom: 16px;
    padding:0;
}

#dialog-header > h4{
    color: var(--m-3-sys-light-primary, #0029C6);
    text-align: center;
    margin: auto;
    /* Body */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: -0.32px;
    width: 265px;
}

#button-container{
    width: 381px;
    min-height: 96px;
}

#save-button{
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 100px;
    background: var(--m-3-sys-light-primary, #0029C6);
    width: 381px;
    margin-bottom: 16px;
    color: white
}

#cancel-button{
    border-radius: 100px;
    border: 1px solid var(--m-3-sys-light-primary, #0029C6);
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    width: 381px;
}