<div class="container">
  <mat-stepper [ngClass]="navService.showNavContainer ? 'rounded-4 mt-4' : 'rounded-4'" [linear]="isLinear" #stepper>
    <div class="container-fluid p-4 col-8" [ngClass]="{'fullscreen-modal': isMobileScreen}">
      <mat-step [stepControl]="newEmployeeForm" label="Basic Information">
        <ng-template matStepLabel>Basic Information</ng-template>
        <div class="col-12 offset-0 col-md-8 offset-md-2 col-lg-6 offset-lg-3 ">
          <div class="row justify-content-center align-items-center">
            <div class="col-12">
              <h2 class="text-center" id="create-employee">Create Employee Profile</h2>
              <span class="text-center roboto-font" id="heading-text">
                <p>Please Enter the Employee’s Information in</p>
                <p>Order to Create a Profile for them.</p>
              </span>
            </div>
          </div>
          <form [formGroup]="newEmployeeForm" (ngSubmit)="onSubmit(false)" id="newEmployeeForm">
            <div class="row justify-content-center align-items-center">
              <div class="row justify-content-center align-items-center roboto-font col-md-12 pb-3">
                <h1 class=" mb-0 mb-md-1" id="heading">Employee Details</h1>
                <p class="">Note: *The Asterisk Indicates Required Fields</p>
              </div>
              <div class="row flex-column justify-content-center align-items-center col-md-12">
                <mat-form-field appearance="outline" class=" mb-3">
                  <mat-label>First Name</mat-label>
                  <input matInput type="text" formControlName="name" />
                  <mat-error *ngIf="newEmployeeForm.controls['name'].hasError('required')">
                    First name is required
                  </mat-error>
                  <mat-error
                    *ngIf="newEmployeeForm.controls['name'].hasError('pattern') && !newEmployeeForm.controls['name'].hasError('required') ">
                    First Name Must Not Contain Numbers
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class=" mb-3">
                  <mat-label>Last Name</mat-label>
                  <input matInput type="text" formControlName="surname" />
                  <mat-error *ngIf="newEmployeeForm.controls['surname'].hasError('required')">
                    Last name is required
                  </mat-error>
                  <mat-error
                    *ngIf="newEmployeeForm.controls['surname'].hasError('pattern') && !newEmployeeForm.controls['surname'].hasError('required') ">
                    Last name must not contain numbers
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class=" mb-3">
                  <mat-label>Initials</mat-label>
                  <input matInput type="text" formControlName="initials" />
                  <mat-error *ngIf="newEmployeeForm.controls['initials'].hasError('required')">
                    Initials are required
                  </mat-error>
                  <mat-error class="mat-error"
                    *ngIf="newEmployeeForm.controls['initials'].hasError('pattern') && !newEmployeeForm.controls['initials'].hasError('required')">
                    Initials must not contain numbers
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class=" mb-3">
                  <mat-label>Personal Email</mat-label>
                  <input matInput type="email" formControlName="personalEmail" />
                  <mat-error *ngIf="newEmployeeForm.controls['personalEmail'].hasError('required')">
                    Personal email is required
                  </mat-error>
                  <mat-error
                    *ngIf="newEmployeeForm.controls['personalEmail'].hasError('pattern') && !newEmployeeForm.controls['personalEmail'].hasError('required')">
                    This is not a valid email
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class=" mb-3">
                  <mat-label>Work Email</mat-label>
                  <input matInput type="email" formControlName="email" />
                  <mat-error *ngIf="newEmployeeForm.controls['email'].hasError('required')">
                    Work email is required
                  </mat-error>
                  <mat-error
                    *ngIf="newEmployeeForm.controls['email'].hasError('pattern') && !newEmployeeForm.controls['email'].hasError('required')">
                    Work email must end with @retrorabbit.co.za
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class=" mb-3">
                  <mat-label>People's Champion</mat-label>
                  <input type="text" placeholder="" matInput formControlName="peopleChampion"
                    [matAutocomplete]="autoChampion" (input)="filterChampions($event)">
                  <mat-autocomplete #autoChampion="matAutocomplete">
                    <mat-option *ngFor="let peopleChampion of filteredPeopleChamps"
                      [value]="peopleChampion.name + ' ' + peopleChampion.surname"
                      (onSelectionChange)="getId(peopleChampion, 'champion')">
                      {{ peopleChampion.name }}
                      {{ peopleChampion.surname }}</mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="outline" class="cellphone-container">
                  <mat-label class="cellphone-label">Cellphone Number</mat-label>
                  <ngx-mat-intl-tel-input #inputField matInput [preferredCountries]="['za', 'gb']"
                    [enablePlaceholder]="true" [enableSearch]="true" [required]="true" formControlName="cellphoneNo"
                    (input)="onCellphoneInputCheck(inputField.value ?? '')"></ngx-mat-intl-tel-input>
                  <mat-error
                    *ngIf="newEmployeeForm.controls['cellphoneNo'].hasError('required') && newEmployeeForm.controls['cellphoneNo'].value=='' ">
                    Cellphone number is required
                  </mat-error>
                  <mat-error
                    *ngIf="newEmployeeForm.controls['cellphoneNo'].value != '' && newEmployeeForm.controls['cellphoneNo'].invalid">
                    This is not a valid cellphone number.
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class=" mb-3">
                  <mat-label>Role</mat-label>
                  <mat-select formControlName="employeeType" hideSingleSelectionIndicator="true">
                    <mat-option *ngFor="let type of employeeTypes" [value]="type">{{ type.name }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="newEmployeeForm.controls['employeeType'].hasError('required')">
                    Role is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class=" mb-3">
                  <mat-label>Select Level</mat-label>
                  <mat-select formControlName="level" hideSingleSelectionIndicator="true">
                    <mat-option *ngFor="let level of levels" [value]="level">{{ level }}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="newEmployeeForm.controls['level'].hasError('required')">
                    Level is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class=" mb-3">
                  <mat-label>Start Date</mat-label>
                  <input matInput formControlName="engagementDate" [matDatepicker]="engagementDatePicker" />
                  <mat-datepicker-toggle matSuffix [for]="engagementDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #engagementDatePicker></mat-datepicker>
                  <mat-error *ngIf="newEmployeeForm.controls['engagementDate'].hasError('required')">
                    Start date is required
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class=" mb-3">
                  <mat-label>ID Number</mat-label>
                  <input matInput type="text" formControlName="idNumber" (blur)="getGenderBirthday($event)" />
                  <mat-error
                    *ngIf="newEmployeeForm.controls['idNumber'].hasError('invalidIdNumber') && !newEmployeeForm.controls['idNumber'].hasError('required')">
                    Not a valid south african ID number
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="">
                  <mat-label>Date of Birth</mat-label>
                  <input matInput formControlName="dateOfBirth" [matDatepicker]="dateOfBirthPicker" />
                  <mat-datepicker-toggle matSuffix [for]="dateOfBirthPicker"></mat-datepicker-toggle>
                  <mat-datepicker #dateOfBirthPicker></mat-datepicker>
                  <mat-error *ngIf="newEmployeeForm.controls['dateOfBirth'].hasError('required')">
                    Date of birth is required
                  </mat-error>
                </mat-form-field>
                <div class="mb-3">
                  <span class="roboto-font pb-3">Do You Have Any Disabilities?</span>
                  <mat-radio-group formControlName="disability" class="row" (change)="setHasDisability($event)">
                    <mat-radio-button class="col-12 p-1" *ngFor="let check of [false, true]" [value]="check">
                      {{ check ? "Yes" : "No"}}
                    </mat-radio-button>
                  </mat-radio-group>
                  <mat-error *ngIf="newEmployeeForm.controls['disability'].hasError('required')">
                    Disability is required
                  </mat-error>
                </div>
                <mat-form-field appearance="outline" class=" mb-3" *ngIf="hasDisability">
                  <mat-label>Disability Types</mat-label>
                  <mat-select formControlName="disabilityType" hideSingleSelectionIndicator="true"
                    (selectionChange)="setTypeOther($event)">
                    <mat-option *ngFor="let type of disabilityType" [value]="type.value">{{ type.value }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" *ngIf="typeOther">
                  <mat-label>Disability Notes</mat-label>
                  <textarea matInput type="text" formControlName="disabilityNotes"></textarea>
                  <mat-error *ngIf="newEmployeeForm.controls['disabilityNotes'].hasError('required')">
                    Disability notes are required
                  </mat-error>
                </mat-form-field>
              </div>
              <form [formGroup]="settingsForm"
                class="row flex-column justify-content-center align-items-center roboto-font col-md-12">
                <div class="d-flex justify-content-md-start justify-content-end align-self-start"> <label
                    class="fw-base pe-3 col-11 col-md-auto" id="additional-fields-label"
                    for="additionalFieldsToggle">Additional Fields</label>
                  <mat-slide-toggle class="col-1" color="primary" id="additionalFieldsToggle"
                    formControlName="toggleAdditionalFields"></mat-slide-toggle>
                </div>
              </form>
              <div *ngIf="settingsForm.controls['toggleAdditionalFields'].value === true "
                class="row justify-content-center align-items-center col-md-12 p-0">
                <div class="row flex-column justify-content-center align-items-center roboto-font">
                  <h1 class=" pb-3" id="heading">Additional Information</h1>
                  <div class=" pb-3">
                    <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Profile Photo</mat-label>
                      <input matInput type="text" [value]="imageName" />
                      <span mat-icon-button matSuffix (click)="uploadFile.click()" class="pe-3">
                        <mat-icon id="file-upload-cursor">file_upload</mat-icon>
                        <input type="file" #uploadFile (change)="onFileChange($event)" hidden
                          accept=".jpeg, .jpg, .png" />
                      </span>
                    </mat-form-field>
                    <div id="image-preview" *ngIf="imageUrl !== ''">
                      <img [src]="imageUrl" />
                    </div>
                  </div>
                  <div class="row flex-column col-lg-12 col-md-12 pb-3">
                    <span class="col-lg-7 fs-5 roboto-font pb-3">Gender</span>
                    <mat-radio-group class="col-lg-7 row d-flex" formControlName="gender">
                      <mat-radio-button class="p-0" *ngFor="let gender of genders; index as i" [value]="i">
                        {{ gender}}
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <mat-form-field appearance="outline" class="">
                    <mat-label>Race</mat-label>
                    <mat-select formControlName="race" placeholder="Select race" hideSingleSelectionIndicator="true">
                      <mat-option *ngFor="let race of races; index as i" [value]="i">{{ race }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field *ngIf="newEmployeeForm.controls['idNumber'].value === ''" appearance="outline"
                    class="">
                    <mat-label>Passport Number</mat-label>
                    <input matInput type="number" formControlName="passportNumber" />
                  </mat-form-field>
                  <mat-form-field *ngIf="newEmployeeForm.controls['idNumber'].value === ''" appearance="outline"
                    class="">
                    <mat-label>Passport Expiration Date</mat-label>
                    <input matInput formControlName="passportExpiryDate" [matDatepicker]="passportExpiryDate" />
                    <mat-datepicker-toggle matSuffix [for]="passportExpiryDate"></mat-datepicker-toggle>
                    <mat-datepicker #passportExpiryDate></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field *ngIf="newEmployeeForm.controls['idNumber'].value === ''" appearance="outline"
                    class=" custom-mat-select">
                    <mat-label>Country of Issue</mat-label>
                    <input matInput type="text" formControlName="passportCountryIssue" />
                    <mat-select #countrySelect formControlName="passportCountryIssue" hidden
                      hideSingleSelectionIndicator="true">
                      <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                    </mat-select>
                    <mat-icon matSuffix (click)="countrySelect.open()">Search</mat-icon>
                  </mat-form-field>

                  <mat-form-field appearance="outline" class=""
                    *ngIf="!postalAddressForm.controls['sameAsPhysicalAddress'].value">
                    <mat-label>Notes</mat-label>
                    <textarea matInput type="text" formControlName="notes"> </textarea>
                  </mat-form-field>
                </div>
                <form [formGroup]="physicalAddress"
                  class="row flex-column justify-content-center align-items-center roboto-font col-md-12 mb-3">
                  <h1 class="mt-2" id="heading">Physical Address</h1>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country" (selectionChange)="onCountryChange($event.value)"
                      hideSingleSelectionIndicator="true">
                      <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Province</mat-label>
                    <mat-select formControlName="province" (selectionChange)="loadCities($event.value)"
                      hideSingleSelectionIndicator="true">
                      <mat-option *ngFor="let province of provinces" [value]="province">{{ province }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Suburb/District</mat-label>
                    <mat-select formControlName="suburbDistrict" hideSingleSelectionIndicator="true">
                      <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>City/Town</mat-label>
                    <input matInput type="text" formControlName="city" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Unit Number</mat-label>
                    <input matInput type="text" formControlName="unitNumber" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Complex Name</mat-label>
                    <input matInput type="text" formControlName="complexName" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Street Number</mat-label>
                    <input matInput type="text" formControlName="streetNumber" />
                    <mat-error *ngIf="physicalAddress.controls['streetNumber'].hasError('pattern')">
                      Please Enter a Valid Street Number
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Street Name</mat-label>
                    <input matInput type="text" formControlName="streetName" />
                    <mat-error *ngIf="physicalAddress.controls['streetName'].hasError('pattern')">
                      Street Name Must Only Contain Letters
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Postal Code</mat-label>
                    <input matInput type="text" formControlName="postalCode" />
                    <mat-error *ngIf="physicalAddress.controls['postalCode'].hasError('pattern')">
                      Postal Code Must Contain Only Numbers.
                    </mat-error>
                  </mat-form-field>
                  <form class=" mt-2" [formGroup]="postalAddressForm">
                    <div class="row">
                      <mat-checkbox [checked]="isSameAddress" value="isSameAddress" inputId="checkbox"
                        (change)="postalSameAsPhysicalAddress($event.checked)" class="col-1">
                      </mat-checkbox>
                      <label class="col ms-1" for="checkbox">
                        Postal address is the same as physical address
                      </label>
                    </div>
                  </form>
                </form>
                <form [formGroup]="postalAddress" *ngIf="!isSameAddress"
                  class="row flex-column justify-content-center align-items-center roboto-font col-md-12">
                  <h1 id="heading" class="mt-2">Postal Address</h1>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="country" (selectionChange)="onCountryChange($event.value)"
                      hideSingleSelectionIndicator="true">
                      <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Province</mat-label>
                    <mat-select formControlName="province" (selectionChange)="loadCities($event.value)"
                      hideSingleSelectionIndicator="true">
                      <mat-option *ngFor="let province of provinces" [value]="province">{{ province }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Suburb/District</mat-label>
                    <mat-select formControlName="suburbDistrict" hideSingleSelectionIndicator="true">
                      <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>City/Town</mat-label>
                    <input matInput type="text" formControlName="city" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Unit Number</mat-label>
                    <input matInput type="text" formControlName="unitNumber" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Complex Name</mat-label>
                    <input matInput type="text" formControlName="complexName" />
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Street Number</mat-label>
                    <input matInput type="text" formControlName="streetNumber" />
                    <mat-error *ngIf="physicalAddress.controls['streetNumber'].hasError('pattern')">
                      Street number must only contain numbers
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Street Name</mat-label>
                    <input matInput type="text" formControlName="streetName" />
                    <mat-error *ngIf="physicalAddress.controls['streetName'].hasError('pattern')">
                      Street name must only contain letters
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class=" mt-2">
                    <mat-label>Postal Code</mat-label>
                    <input matInput type="text" formControlName="postalCode" />
                    <mat-error *ngIf="physicalAddress.controls['postalCode'].hasError('pattern')">
                      Postal code must contain only numbers.
                    </mat-error>
                  </mat-form-field>
                </form>
              </div>
            </div>
            <div id="footer"
              class="d-flex justify-content-center justify-content-md-end ps-2 pe-2 ps-lg-0 pe-lg-3 ps-md-2 pe-md-3">
              <button class="col-12 col-md-3" id="cancel-button" [ngClass]="screenWidth < 768 ? 'button-mobile' : ''"
                (click)="goToPreviousPage()">Cancel</button>
              <button class="col-12 col-md-2" id="next-button"
                [ngClass]="screenWidth < 768 ? 'button-mobile button-top' : ''">Next</button>
            </div>
          </form>
        </div>
      </mat-step>
      <mat-step [stepControl]="uploadDocumentForm" label="Upload Documents">
        <button mat-button id="back" [ngClass]="screenWidth < 768 ? 'back-button-mobile' : ''" matStepperPrevious>
          <mat-icon>arrow_back</mat-icon>
          Back
        </button>
        <ng-template matStepLabel>Documents</ng-template>
        <form [formGroup]="uploadDocumentForm">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-lg-12">
              <h2 class="text-center" id="create-employee">Starter kits</h2>
              <span class="text-center roboto-font" id="heading-text">
                <p>Please Upload Employee’s Starter Kit Documents Below</p>
              </span>
            </div>
          </div>
          <div class="container upload-drop-container">
            <div class="row justify-content-center align-items-center">
              <div class="upload-drop-section row">
                <ngx-file-drop dropZoneClassName="upload-drop-section" contentClassName="" accept=".pdf"
                  (onFileDrop)="dropped($event, 0)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" directory="true"
                    multiple="true">
                    <div class="justify-content-center align-items-center p-2 m-2">
                      <div class="row">
                        <div class="col-5">
                          <div id="align">
                            <mat-icon *ngIf="categories[0].state == false" id="icon">check_circle</mat-icon>
                          </div>
                          <div class="roboto-font" *ngIf="categories[0].state == true" id="align">
                            <p id="title">Employment Contract</p>
                            <p id="supported">PDF is Supported</p>
                          </div>
                          <div class="roboto-font" *ngIf="categories[0].state == false" id="align">
                            <p id="title">Employment Contract</p>
                            <p id="document-text">{{categories[0].name}}</p>
                          </div>
                        </div>
                        <div class="col d-none d-lg-block file-mention" id="align-left"
                          *ngIf="categories[0].state == true">
                          <p id="drop-file" alig>Drop Your Files Here</p>
                        </div>
                        <div class="col">
                          <div id="align-buttons">
                            <div id="remove-upload-button-container">
                              <button mat-button id="file-button" *ngIf="categories[0].state == false" class="mx-2"
                                type="button" (click)="removeByCategory(0)">
                                <mat-icon>clear</mat-icon>
                                Remove
                              </button>
                              <button mat-button id="upload-button" class="text-white border-primary mx-2" type="button"
                                (click)="openFileSelector()" [disabled]="categories[0].state == false">
                                <svg id="svg-icon-w" width="24" height="24" viewBox="0 0 24 24" fill="#e3e3e4ff"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <g id="Icons/file_upload">
                                    <path id="icon-w"
                                      d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20 20 19.1 20 18V15H18ZM7 9L8.41 10.41L11 7.83V16H13V7.83L15.59 10.41L17 9L12 4L7 9Z"
                                      fill="#fff" />
                                  </g>
                                </svg>
                                Upload
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-file-drop>
              </div>
              <div class="upload-drop-section row">
                <ngx-file-drop dropZoneClassName="upload-drop-section" contentClassName="" accept=".pdf"
                  (onFileDrop)="dropped($event, 2)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" directory="true"
                    multiple="true">
                    <div class="justify-content-center align-items-center p-2 m-2">
                      <div class="row">
                        <div class="col-5">
                          <div id="align">
                            <mat-icon *ngIf="categories[2].state == false" id="icon">check_circle</mat-icon>
                          </div>
                          <div class="roboto-font" *ngIf="categories[2].state == true" id="align">
                            <p id="title">Medical Aid</p>
                            <p id="supported">PDF Is Supported</p>
                          </div>
                          <div class="roboto-font" *ngIf="categories[2].state == false" id="align">
                            <p id="title">Medical Aid</p>
                            <p id="document-text">{{categories[2].name}}</p>
                          </div>
                        </div>
                        <div class="col d-none d-lg-block file-mention" id="align-left"
                          *ngIf="categories[2].state == true">
                          <p id="drop-file">Drop Your Files Here</p>
                        </div>
                        <div class="col">
                          <div id="align-buttons">
                            <div id="remove-upload-button-container">
                              <button mat-button id="file-button" *ngIf="categories[2].state == false" class="mx-2"
                                type="button" (click)="removeByCategory(2)">
                                <mat-icon>clear</mat-icon>
                                Remove
                              </button>
                              <button mat-button id="upload-button" class="text-white border-primary mx-2" type="button"
                                (click)="openFileSelector()" [disabled]="categories[2].state == false">
                                <svg id="svg-icon-w" width="24" height="24" viewBox="0 0 24 24" fill="#e3e3e4ff"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <g id="Icons/file_upload">
                                    <path id="icon-w"
                                      d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20 20 19.1 20 18V15H18ZM7 9L8.41 10.41L11 7.83V16H13V7.83L15.59 10.41L17 9L12 4L7 9Z"
                                      fill="#fff" />
                                  </g>
                                </svg>
                                Upload
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-file-drop>
              </div>
              <div class="upload-drop-section row">
                <ngx-file-drop dropZoneClassName="upload-drop-section" contentClassName="" accept=".pdf"
                  (onFileDrop)="dropped($event, 1)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector" directory="true"
                    multiple="true">
                    <div class="justify-content-center align-items-center p-2 m-2">
                      <div class="row">
                        <div class="col-5">
                          <div id="align">
                            <mat-icon *ngIf="categories[1].state == false" id="icon">check_circle</mat-icon>
                          </div>
                          <div class="roboto-font" *ngIf="categories[1].state == true" id="align">
                            <p id="title">Retirement Annuity</p>
                            <p id="supported">PDF Is Supported</p>
                          </div>
                          <div class="roboto-font" *ngIf="categories[1].state == false" id="align">
                            <p id="title">Retirement Annuity</p>
                            <p id="document-text">{{categories[1].name}}</p>
                          </div>
                        </div>
                        <div class="col d-none d-lg-block file-mention" id="align-left"
                          *ngIf="categories[1].state == true">
                          <p id="drop-file">Drop Your Files Here!</p>
                        </div>
                        <div class="col">
                          <div id="align-buttons">
                            <div id="remove-upload-button-container">
                              <button mat-button id="file-button" *ngIf="categories[1].state == false" class="mx-2"
                                type="button" (click)="removeByCategory(1)">
                                <mat-icon>clear</mat-icon>
                                Remove
                              </button>
                              <button mat-button id="upload-button" class="text-white border-primary mx-2" type="button"
                                (click)="openFileSelector()" [disabled]="categories[1].state == false">
                                <svg id="svg-icon-w" width="24" height="24" viewBox="0 0 24 24" fill="#e3e3e4ff"
                                  xmlns="http://www.w3.org/2000/svg">
                                  <g id="Icons/file_upload">
                                    <path id="icon-w"
                                      d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20 20 19.1 20 18V15H18ZM7 9L8.41 10.41L11 7.83V16H13V7.83L15.59 10.41L17 9L12 4L7 9Z"
                                      fill="#fff" />
                                  </g>
                                </svg>
                                Upload
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngx-file-drop>
              </div>
            </div>
          </div>
          <div id="footer">
            <button id="cancel-button" [ngClass]="screenWidth < 768 ? 'button-mobile' : ''"
              (click)="goToPreviousPage()">Cancel</button>
            <button id="save-add-button" [ngClass]="screenWidth < 768 ? 'button-mobile' : ''"
              (click)="saveAndAddAnother()" type="button">Save
              and add another</button>
            <button id="save-button" [ngClass]="screenWidth < 768 ? 'button-mobile  button-top' : ''"
              (click)="saveAndExit()">Save</button>
          </div>
        </form>
      </mat-step>
    </div>
  </mat-stepper>
</div>
<div class="spinner-container" *ngIf="isLoadingAddEmployee == true">
  <mat-spinner></mat-spinner>
</div>