
main {
    width: 100%;
    background: hsl(222, 100%, 95%);
}

.roboto-font {
    font-family: "Roboto", sans-serif;
}

.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #0029C6 !important;
}

.heading-text {
    width: 332px;
    text-align: center;
    color: #0029c6;
    font-size: 16px;
    font-family: Inter;
    font-weight: 400;
    line-height: 22px;
    word-wrap: break-word;
}

.no-border {
    border: none;
}

.form-buttons button {
    width: 100%;
}

#file-upload-cursor {
    cursor: pointer;
    color: #0029c6;
    background-color: #d7dfff;
    border-radius: 100px;
}

#additional-fields-label {
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
}

.title-line-height {
    line-height: 0.5rem;
}

#create-employee {
    margin-top: 30px;
    font-size: 36px;
    font-weight: 400;
    line-height: 52px;
}

#heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 44px;
    word-wrap: break-word;
    margin-top: 32px;
}

#heading-text {
    font-size: 16px;
    line-height: 22px;
    color: #0029c6;
}

#back-to-employees {
    color: #0029c6;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    word-wrap: break-word;
}

.mat-mdc-standard-chip {
    --mdc-chip-label-text-font: Roboto, normal;
    --mdc-chip-label-text-color: #000;
    --mdc-chip-label-text-line-height: 20px;
    --mdc-chip-label-text-size: 14px;
    --mdc-chip-label-text-tracking: 0.0178571429em;
    --mdc-chip-label-text-weight: 500;
    --mdc-chip-elevated-container-color: #fff;
    --mdc-chip-elevated-container-elevation: 1;
    border-radius: 8px;
    color: #000;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    width: fit-content;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
    letter-spacing: 0.1px;
}

#footer {
    display: flex;
    width: 100%;
    height: 101px;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.file-mention {
    margin-right: 13px;
}

#next-button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #0029c6;
    border-radius: 30px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

#save-button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #0029c6;
    border-radius: 30px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

#cancel-button {
    display: flex;
    padding: 10px 40px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #0029c6;
    color: #0029c6;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

#save-add-button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #fff;
    border-radius: 30px;
    border: 1px solid #0029c6;
    color: #0029c6;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

::ng-deep .mat-pseudo-checkbox{
    height:0px !important;
    width:0px !important;
    display:none !important;
  }
  .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after{
      height:0px !important;
      width:0px !important;
  }
  
#upload-button {
    margin-top: 7px;
    padding: 10px 24px;
    height: 40px;
    width: 132px;
    gap: 8px;
    background: #0029c6;
    border-radius: 30px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    justify-content: center;
}

#file-button {
    margin-top: 7px;
    padding: 10px 24px;
    gap: 8px;
    height: 40px;
    width: 132px;
    border-style: solid;
    border-radius: 30px;
    border-color: #B3261E;
    border-width: 1px;
    background: white;
    color: #B3261E;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

#back {
    border: none;
    font-family: Roboto;
    text-align: justify;
    font-size: 14px;
    font-weight: 500;
    width: 80px;
    height: 30px;
    line-height: 20px;
    background-color: #FFF;
    color: #0029c6;
}

.upload-drop-container {
    border-radius: 20px;
    background: #D7DFFF;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.upload-drop-section {
    background: #153bd2;
    border-radius: 20px;
    background: #FFF;
    margin: 10px;
    width: 900px;
    padding: auto;
    justify-content: center;
    margin-bottom: 15px;
}

.upload-drop-mie {
    background: #D7DFFF;
    border-radius: 20px;
    background: #FFF;
    margin: 10px;
    width: 900px;
    padding: auto;
    justify-content: center;
}

#image-preview>img {
    display: block;
    margin: auto;
    width: 50%;
}

.mat-stepper-vertical,
.mat-stepper-horizontal {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 70px;
}

.container {
    margin-top: 70px;
}

#document-text {
    color: blue;
    line-height: 24px;
    font-size: 14px;
}

#icon {
    margin-top: 15px;
    margin-right: 12px;
    color: #3FCB0E;
}

#align {
    float: left;
}

#align-buttons {
    float: right
}

#align-left {
    float: left;
    margin-left: 35px;
    margin-right: 13px;
}

#align-mie-two {
    float: left;
    margin-right: 37px;
}

#title {
    font-size: 22px;
}

#drop-file {
    margin-top: 20px;
    margin-right: 30px;
    font-weight: 500;
}

#supported {
    color: #625B71;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.25px;
}

.back-button-mobile {
    display: none;
}

.button-mobile {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #0029c6;
    border-radius: 30px;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    margin-bottom: 20px;
}

.button-top {
    order: -1;
}

.title-mobile {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10000000149011612px;
    text-align: left;
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #0029C6 !important;
}

button:disabled,
button[disabled],
#save-add-button:disabled,
#save-add-button[disabled]
#save-button:disabled,
#save-button[disabled] {
  background: var(--m-3-state-layers-light-on-surface-opacity-012, rgba(29, 27, 32, 0.12));
  color: var(--m-3-sys-light-on-surface-variant, #49454F);
  border: none;
}

@media (max-width: 767px) {

    .container {
        margin-top: 0%;
        padding: 0%;
    }

    ::ng-deep #content.col-12 {
        background-color: white;
    }

    .mat-stepper-vertical,
    .mat-stepper-horizontal {
        width: 100%;
        height: 100%;
        margin: 0%;
    }

    #title {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.10000000149011612px;
        text-align: left;
    }

    #create-employee {
        font-family: Roboto;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
    }

    .upload-drop-container {
        margin-bottom: 10px;
        padding: 24px;
    }

    #footer {
        display: flex;
        margin-top: 40px;
        height: 0%;
        justify-content: unset;
        flex-direction: column;
        gap: 0px;
    }

    #supported {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }

    #align-buttons {
        align-content: end;
    }

    #upload-button {
        width: 120px;
        font-size: 12px;
        order: -1;
    }

    #file-button {
        width: 120px;
        font-size: 12px;
    }

    .upload-drop-section {
        margin-bottom: 10px;
    }

    #remove-upload-button-container {
        display: flex;
        justify-content: unset;
        flex-direction: column;
    }

    #cancel-button {
        order: +2;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {

    .mat-stepper-vertical,
    .mat-stepper-horizontal {
        width: 100%;
        height: 100%;
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 40px;
    }

    #footer {
        display: flex;
        width: 100%;
        height: 101px;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }

    #title {
        font-family: Roboto;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.10000000149011612px;
        text-align: left;
    }

    #drop-file {
        display: none;
    }

    #upload-button {
        width: 120px;
        font-size: 12px;
        order: -1;
    }

    #file-button {
        width: 120px;
        font-size: 12px;
        order: -1;
    }

    .upload-drop-section {
        margin-bottom: 10px;
    }

    #remove-upload-button-container {
        display: flex;
        justify-content: unset;
        flex-direction: row;
    }
}

.cellphone-label {
    margin-left: 95px; 
  }
  
.cellphone-container:focus-within .cellphone-label,
.cellphone-container.has-value .cellphone-label {  
    margin-left: 0; 
}

.cellphone-container {
    margin-bottom: 1rem;
}