<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 border-radius-xl shadow-none" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3">
      <h6 class="font-weight-bolder mb-0">Dashboard</h6>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <div class="input-group input-group-outline"></div>
      </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center">
          <button (click)="Logout()" type="button" mat-raised-button class="btn btn-danger">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>