.google-logo {
  width: 24px;
  height: 24px;
  margin-right: 0.5rem;
}

.left-side {
  position: relative;
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../../../assets/img/Image_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
}

.right-side {
  position: relative;
  background-color: #ffffff;
  height: 50vh;
  overflow: hidden;
  background-image: url("../../../../assets/img/Image_1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: content-box;
}

.right-side img {
  height: 100%;
}

.right-side .retro-logo {
  position: absolute;
  bottom: -40%;
  left: 50%;
  width: 50%;
  transform: translate(-50%);
}

.right-side-gone {
  display: none;
}

button:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.signin-btn {
  border: 1px solid #0029C6;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: white;
}

.bg-white .row {
  margin: 0;
}

.half-screen-col {
  width: 50%;
  height: 100vh;
}

.full-screen-col {
  width: 100%;
}

.hide-login-image {
  width: 0%;
}

.formatting-form {
  color: white;
  text-align: center;
  position: relative;
  bottom: 100px;
}

.formatting-logo {
  text-align: center;
  width: 100%;
  height: auto;
  position: absolute;
  top: 114px;
  left: 0;
}

.left-side .retro-logo {
  height: 43px;
  width: 300px;
}

.formatting-button {
  text-align: center;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 75px;
  left: 0;
}

.formatting-button .google-logo {
  width: auto;
}

.mobile-button-width {
  border: 1px solid #0029C6;
  border-radius: 0.25rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-weight: 500;
  background-color: white;
  width: 85%;
}

#button-inside {
  display: flex;
}

#button-google {
  text-align: center;
}

#button-google-font {
  color: #0029C6;
  text-align: center;
  padding-top: 3px;
}