<main class="bg-white">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-self-center"
      [ngClass]="screenWidth <= 767 ? 'left-side px-0' : 'half-screen-col'">
      <form (ngSubmit)="Login()" class="mx-auto p-5">
        <div class="container">
          <div [ngClass]="screenWidth <= 767 ? 'formatting-logo' : ''" class="d-flex justify-content-center">
            <img src="../../../../assets/img/RR Logo.svg" alt="Retro Rabbit Logo" class="retro-logo d-sm-block d-md-none d-lg-none">
          </div>
        </div>
        <h2 class="fw-normal fs-1 font-sans-serif" [ngClass]="screenWidth <= 767 ? 'formatting-form' : ''">Sign into HRIS</h2>
        <div [ngClass]="screenWidth <= 767 ? 'formatting-button' : ''">
          <button tabindex="0" type="submit" aria-label="Continue with Google" id="button-google"
            [ngClass]="screenWidth <= 767 ? 'rounded-pill text-primary fw-medium text-uppercase bg-white mobile-button-width' : 'rounded-pill signin-btn text-primary fw-medium text-uppercase bg-white'">
            <div id="button-inside" class="justify-content-center">
              <img src="../../../../assets/img/Google_Logo.svg" alt="Google Logo" class="google-logo"> 
              <div id="button-google-font">Continue with Google</div>
            </div>
          </button>
        </div>
      </form>
    </div>
    <div class="col-md-6 right-side d-none d-md-block px-0"
      [ngClass]="screenWidth <= 767 ? 'right-side-gone hide-login-image' : 'half-screen-col'">
      <img src="../../../../assets/img/RR Logo.svg" alt="Retro Rabbit Logo" class="retro-logo">
    </div>
  </div>
</main>