#menu-icon {
    color: #0029c6;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

#sidenav-container {
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#side-content-box{
    width: 100%;
    height: 100vh;
    z-index: 1000;
}

#sidenav-menu {
    border-radius: 16px 16px 0px 0px;
    left: 0px;
    display: flex;
    width: 275px;
    height: 810px;
    padding: 12px;
    flex-direction: column;
    /* align-items: flex-start; */
    flex-shrink: 0;
}

#sidenav-menu-header-container {
    display: flex;
    height: 56px;
    padding: 8px 8px 8px 16px;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}

#sidenav-menu-header {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

#sidenav-menu-title-container {
    display: flex;
    padding: 18px 16px;
    /* align-items: center; */
    gap: 10px;
    align-self: stretch;
}

#sidenav-menu-title {
    color: var(--M3-sys-light-on-surface-variant, #49454F);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

#sidenav-list {
    display: flex;
    flex-direction: column;
    /* align-items: start; */
    width: 100%;
}

.sidenav-list-item {
    display: flex;
    /* align-items: center; */
    display: flex;
    padding: 16px 24px 16px 16px;
    /* align-items: center; */
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    text-decoration: none;
}

.list-icon {
    color: #000000;
    margin: 5px;
}

.list-text {
    color: var(--M3-sys-light-on-surface-variant, #49454F);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-transform: capitalize;
}

.list-number {
    color: #000000;
    margin-left: auto;
    color: var(--M3-sys-light-on-surface-variant, #49454F);
    text-align: right;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-transform: capitalize;
}

#divider {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    align-self: stretch;
    background-color: var(--M3--sys-light-outline-variant, #CAC4D0);
}

:host ::ng-deep .active-list-item {  
    border-radius: 50px;
    background-color: #E8EFFF;
}

:host ::ng-deep .active-list-item:hover {
    border-radius: 50px;
    background-color: #E8EFFF;
}