<app-confirm-dialog *ngIf="showConfirmDialog" [dialogType]="dialogTypeData"
  (confirmation)="dialogFeedBack($event)"></app-confirm-dialog>
<div class='row'>
  <div class="col-12 mt-3" id="button-save-container">
    <button *ngIf="screenWidth > 767" mat-button id="savechangesbtn" (click)="openDialog()"
      class="btn btn-primary rounded-pill">Save</button>
  </div>
  <ngx-skeleton-loader *ngIf="isLoading" [count]="1" appearance="line" animation="pulse" [theme]="{
    'background-color': '#D7DFFF',
    'border': '2px solid #D7DFFF',
    'border-radius': '10px',
    'height': '80vh',
    width: '100%',
  }" />
  <table *ngIf="!isLoading">
    <thead id="tableheader">
      <th id="table-header" [ngClass]="screenWidth <= 767 ? 'px-3 px-3-borders-right' : 'px-3'">Permissions</th>
      <th *ngFor="let p of roles" id="table-header" [ngClass]="screenWidth <= 767 ? 'px-3-display-none' : 'px-3'">
        {{ p.description === "SuperAdmin" ? "Super Admin" : p.description }}
      </th>
    </thead>
    <tbody>
      <tr>
        <th class="py-2 px-3" scope="row" id="subheader">
          Charts
        </th>
        <th [ngClass]="screenWidth <= 767 ? 'px-3-display-none' : 'py-2 px-3'" scope="row" *ngFor="let r of roles"
          id="allsubheader">
          <mat-checkbox [(ngModel)]="allCheckboxesState[r.description]"
            (change)="toggleAllCheckboxes(r.description, $event)">
            <label class="ps-3">All</label>
          </mat-checkbox>
        </th>
      </tr>
      <tr *ngFor="let n of chartPermissions">
        <th class='py-2 px-3' scope="row" id="permissions">
          {{splitAndCapitalizeCamelCase(n.permission)}}
          <mat-icon *ngIf="screenWidth <= 767" (click)="this.openMobileDialog(n)">more_vert</mat-icon>
        </th>
        <td [ngClass]="screenWidth <= 767 ? 'px-3-display-none' : 'py-2 px-3'" *ngFor="let r of roles">
          <mat-checkbox [(ngModel)]="checkboxStates[r.description + n.permission]"
            (change)="onChangeRoleAccess($event, r.description, n.permission, n.grouping)">
          </mat-checkbox>
        </td>
      </tr>
      <tr>
        <th class="py-2 px-3" scope="row" id="subheader">
          Employee Data
        </th>
        <td [ngClass]="screenWidth <= 767 ? 'px-3-display-none' : 'py-2 px-3'" scope="row" *ngFor="let r of roles"
          id="allsubheader">
          <mat-checkbox [(ngModel)]="allEmployeeDataCheckboxesState[r.description]"
            (change)="toggleAllEmployeeDataCheckboxes(r.description, $event)">
            <label class="ps-3">All</label>
          </mat-checkbox>
        </td>
      </tr>
      <tr *ngFor="let n of employeePermissions">
        <th class="py-2 px-3" scope="row" id="permissions">
          {{splitAndCapitalizeCamelCase(n.permission)}}
          <mat-icon *ngIf="screenWidth <= 767" (click)="this.openMobileDialog(n)">more_vert</mat-icon>
        </th>
        <td [ngClass]="screenWidth <= 767 ? 'px-3-display-none' : 'py-2 px-3'" *ngFor="let r of roles">
          <mat-checkbox [(ngModel)]="checkboxStatesEmployeePermissions[r.description + n.permission]"
            (change)="onChangeRoleAccess($event, r.description, n.permission, n.grouping)">
          </mat-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #mobileRoleManagement>
  <table *ngIf="!isLoading" id="mobile-table">
    <th id="mobile-table-header" class="px-3">
      {{this.permissisonsObj.permission}}
    </th>
    <tbody class="col-12">
      <tr *ngFor="let r of roles" class='py-2 px-3'>
        <td class="col-6 mobile-roles-title">{{r.description}}</td>
        <td *ngIf="this.permissisonsObj.grouping === 'Charts'" class='col-2 py-2 px-3'>
          <mat-checkbox [(ngModel)]="checkboxStates[r.description + this.permissisonsObj.permission]"
            (change)="onChangeRoleAccess($event, r.description, this.permissisonsObj.permission, this.permissisonsObj.grouping)">
          </mat-checkbox>
        </td>
        <td *ngIf="this.permissisonsObj.grouping === 'Employee Data'" class='col-2 py-2 px-3'>
          <mat-checkbox [(ngModel)]="checkboxStatesEmployeePermissions[r.description + this.permissisonsObj.permission]"
            (change)="onChangeRoleAccess($event, r.description, this.permissisonsObj.permission,this.permissisonsObj.grouping)">
          </mat-checkbox>
        </td>
      </tr>
    </tbody>
    <tfoot class="col-12">
      <button class="mobile-cancel" (click)="closeMobileDialog()">Cancel</button>
      <button class="mobile-save" (click)="openDialog()">Save</button>
    </tfoot>
  </table>
</ng-template>