@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

#dialog-title,
#dialog-subtitle {
  width: 100%;
}

pre {
  border: 1px solid #ccc;
  color: #000;
  background-color: #fff;
}

.card,
.form-control {
  width: fit-content;
  margin: 0.1rem 0.1rem;
  padding: 0.5rem 0.5rem;
  font-size: large;
  font-weight: 700;
}

div .d-flex {
  flex-wrap: wrap;
}

.selected {
  box-shadow: inset 0 0 0 0.2rem #000;
}

#tableheader {
  background-color: #D7DFFF;
  height: 60px;
  padding-bottom: 20px;
}

#savechangesbtn {
  background-color: #0029C6;
  color: #FFFFFF;
  float: right;
  margin-right: 0;
  margin-bottom: 20px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 20px;
}

#subheader {
  background-color: #F7F2FA;
  padding-bottom: 10px;
  padding-top: 20px;
}

#permissions {
  padding-bottom: 10px;
  padding-top: 20px;
  align-items: start;
  color: var(--m-3-sys-light-on-surface, #1D1B20);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
}

#allsubheader {
  background-color: #F7F2FA;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.15000000596046448px;
}

#table-header {
  width: 8%;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

th#permissions,
td {
  background-color: white;
  border-bottom: 1px solid #ccc;
}

th#table-header,
label,
th#subheader {
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
}

th#table-header:first-child {
  border-top-left-radius: 20px;
}

th#table-header:last-child {
  border-top-right-radius: 20px;
}

#mobile-table:last-child td:last-child {
  border-bottom-right-radius: 0px;
}

tr:last-child th:first-child {
  border-bottom-left-radius: 20px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

.px-3-display-none{
  display: none;
}

.px-3-borders-right{
  border-top-right-radius: 20px;
}
.align-icon {
  display: flex !important;
}
#mobile-table-header {
  width: 8%;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  padding: 30px;
}
.mobile-roles-title {
  padding: 20px;
  border-radius: none;
}
 .custom-style {
  /* border-radius: 100px; */
 }

 /* .mat-dialog-container {
  overflow: hidden !important;
  border-radius: 5px !important;
  padding: 5px !important;
} */
.mobile-cancel , .mobile-save {
  background: none;
  border: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.10000000149011612px;
  text-align: center;   
  color: #0029C6;
}
.mobile-cancel {
  margin-right: 15px;
} 
.mobile-save {
  margin-right: 40px;
}
tfoot {
  width: 100%;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: absolute;
}
#mobile-table{
  width: 100%;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 20px !important;
}