<main class="row mx-0 my-4">
  <div class="col-3 mt-4" id="side-menu" *ngIf="navService.showSystemNavbar && screenWidth > 767">
    <h1>System Settings</h1>
    <h5>Manage System Settings</h5>
    <div id="button-container">
      <div id="icon-text-container" (click)="displayCustomFieldsManagement()"
        [ngClass]="systemNavItemService.selectedMenuItem =='Custom Field management' ? 'active' : ''">
        <mat-icon id="mat-icon">mode_edit_24px</mat-icon>
        <span>Custom Field Management</span>
      </div>
    </div>
    <div id="button-container" *ngIf="!hideRoleManagement">
      <div id="icon-text-container" (click)="displayRoleManagement()"
        [ngClass]="systemNavItemService.selectedMenuItem =='Role Management' ? 'active' : ''">
        <mat-icon id="mat-icon">person_outline_24px</mat-icon>
        <span>Role Management</span>
      </div>
    </div>
    <div id="button-container">
      <div id="icon-text-container" (click)="displayPropertyAccessManagement()"
        [ngClass]="systemNavItemService.selectedMenuItem =='Property Access Management' ? 'active' : ''">
        <mat-icon id="mat-icon">lock_open_24px</mat-icon>
        <span>Property Access Management</span>
      </div>
    </div>
  </div>
  <div class="col-3 mt-4" id="bottom-menu" *ngIf="navService.showSystemNavbar && screenWidth <= 767">
    <div id="mobile-icon-text-container" (click)="displayCustomFieldsManagement()">
      <mat-icon [ngClass]="systemNavItemService.selectedMenuItem =='Custom Field management' ? 'active' : ''"
        id="mat-icon">mode_edit_24px</mat-icon>
      <span [ngClass]="systemNavItemService.selectedMenuItem =='Custom Field management' ? 'active' : ''">Custom
        Field</span>
    </div>
    <div id="mobile-icon-text-container" (click)="displayRoleManagement()">
      <mat-icon [ngClass]="systemNavItemService.selectedMenuItem =='Role Management' ? 'active' : ''"
        id="mat-icon">person_outline_24px</mat-icon>
      <span [ngClass]="systemNavItemService.selectedMenuItem =='Role Management' ? 'active' : ''">Role Management</span>
    </div>
  </div>
  <div [ngClass]="screenWidth <= 767 ? 'col-12' : 'col-8 ps-4 ms-3'">
    <app-manage-field-code
      *ngIf="systemNavItemService.selectedMenuItem === 'Custom Field management'"></app-manage-field-code>
    <app-role-manager *ngIf="systemNavItemService.selectedMenuItem === 'Role Management'"></app-role-manager>
    <app-property-access
      *ngIf="systemNavItemService.selectedMenuItem === 'Property Access Management'"></app-property-access>
    <app-pending-bank-statements
      *ngIf="systemNavItemService.selectedMenuItem === 'Employee Banking'"></app-pending-bank-statements>
  </div>
</main>