<ngx-skeleton-loader *ngIf="isLoading" [count]="1" appearance="line" animation="pulse" [theme]="{ 
    'background-color': '#D7DFFF',
    'border': '2px solid #D7DFFF',
    'border-radius': '4rem',
    'padding': '2rem',
    'margin': '2rem',
    'top': '10px',
    'height': '80vh',
    width: '100%',
  }"/>
<div *ngIf="!isLoading" class="container mt-4">
    <div *ngIf="!showDetailedEntry;else ShowDetails">
        <ng-container *ngIf="pendingBankApplications.length > 0; else NoBankApplications">
            <table mat-table [dataSource]="pendingBankApplications" class="mat-elevation-z8" [style.min-width]="'50rem'">

                <ng-container matColumnDef="employee">
                    <th mat-header-cell *matHeaderCellDef> Employee </th>
                    <td mat-cell *matCellDef="let entry"> {{ entry.employee?.name }} ({{entry.employee?.initials}}) {{ entry.employee?.surname }} </td>
                </ng-container>

                <ng-container matColumnDef="bankName">
                    <th mat-header-cell *matHeaderCellDef> Bank Name </th>
                    <td mat-cell *matCellDef="let entry"> {{ entry?.bankName }} </td>
                </ng-container>

                <ng-container matColumnDef="accountType">
                    <th mat-header-cell *matHeaderCellDef> Account Type </th>
                    <td mat-cell *matCellDef="let entry"> {{ entry?.accountType == 1 ? 'Savings' : 'Cheque' }} </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let entry"> {{ entry?.status == 1 ? 'Pending' : 'Approved' }} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let entry">
                        <button mat-icon-button (click)="viewEntry(entry)" id="edit-icon-button">
                            <mat-icon matSuffix id="edit-icon">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['employee', 'bankName', 'accountType', 'status', 'edit']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['employee', 'bankName', 'accountType', 'status', 'edit'];"></tr>
            </table>
        </ng-container>
        <ng-template #NoBankApplications>
            <div style="text-align: center;">
                <h1>No pending application</h1>
            </div>
        </ng-template>
    </div>
    <ng-template #ShowDetails>
        <button mat-raised-button color="warn" (click)="showTable()">Back</button>
        <div class="row p-4">
            <div class="py-2 col-md-3">
                <label class="form-label">Account Holder</label>
                <input readonly class="form-control" type="text" [value]="selectedApplication?.accountHolderName">
            </div>
            <div class="py-2 col-md-3">
                <label class="form-label">Bank Name</label>
                <input readonly class="form-control" type="text" [value]="selectedApplication?.bankName">
            </div>
            <div class="py-2 col-md-3">
                <label class="form-label">Branch</label>
                <input readonly class="form-control" type="text" [value]="selectedApplication?.branch">
            </div>
            <div class="py-2 col-md-3">
                <label class="form-label">Account Number</label>
                <input readonly class="form-control" type="text" [value]="selectedApplication?.accountNo">
            </div>
            <div class="py-2 col-md-3">
                <label class="form-label">Account Type</label>
                <input readonly class="form-control" type="text"
                    [value]="selectedApplication?.accountType == 1 ? 'Savings' : 'Cheque'">
            </div>
            <div class="py-2 col-md-3">
                <label class="form-label">Status</label>
                <input readonly class="form-control" type="text"
                    [value]="selectedApplication?.status == 1 ? 'Pending' : 'Approved'">
            </div>
            <div class="py-2 col-md-3">
                <label class="form-label">Proof of Account</label> <br>
                <button mat-button color="primary" (click)="convertFileToBase64()">Download</button>
            </div>

            <div class="col-12" id="acceptance-container">
                <h3>Accept or Reject Application</h3>
                <div class="row">
                    <div class="col-12 mx-2">
                        <mat-radio-group aria-label="Select status" (change)="setSelectedResponse($event)">
                            <mat-radio-button [value]=0>Approve</mat-radio-button>
                            <mat-radio-button [value]=2>Reject</mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div *ngIf="copyOfSelected?.status == 2" class="col-12 mx-2">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Reason</mat-label>
                            <input matInput [(ngModel)]="declineReason">
                            <mat-hint>Please provide a reason</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button mat-button (click)="updateEntry()">Submit</button>
                    </div>
                </div>
            </div>
        </div>

    </ng-template>
</div>