<main class="row mx-0 my-4">
        <div class="col-2 mt-4" id="side-menu" *ngIf="!hideSideMenuFromJourney()">    
      <h1>Employees</h1>
      <h5>Manage employees</h5>
      <div id="button-container">
        <div id="icon-text-container" (click)="displayEmployeeApprovals()" [ngClass]="systemNavItemService.selectedEmployeeMenuItem =='Employee Approvals' ? 'active' : ''">
          <mat-icon id="mat-icon">mode_edit_24px</mat-icon>
          <span id="approvals-text">Approvals</span>
          <div>{{empBankStarterService.pendingCount$ | async}}</div>
        </div>
      </div>
      <div id="button-container">
        <div id="icon-text-container" (click)="displayEmployees()" [ngClass]="systemNavItemService.selectedEmployeeMenuItem =='View Employees' ? 'active' : ''">
          <mat-icon id="mat-icon">person_outline_24px</mat-icon>
          <span>Employees</span>
        </div>
      </div>
    </div>
    <div class="col-9 ps-4 ms-3">
      <app-employee-approvals *ngIf="systemNavItemService.selectedEmployeeMenuItem === 'Employee Approvals'"></app-employee-approvals>
      <app-view-employee *ngIf="systemNavItemService.selectedEmployeeMenuItem === 'View Employees'"></app-view-employee>
    </div>
  </main>