<div class="roleManagerBody">
    <header class="roleManagerHeader bg-light p-3">
        <form [formGroup]="newRoleForm" class="container">
            <div class="d-flex" *ngIf="roles$ | async as roles">
                <label><em>Roles:</em></label>
                <br>
                <button
                    class="card btn"
                    type="button"
                    (click)="changeRole(role)"
                    *ngFor="let role of roles"
                    formControlName="role">
                    <span class="selected" *ngIf="role === newRoleForm.value.role">{{role}}</span>
                    <span *ngIf="role != newRoleForm.value.role">{{role}}</span>
                </button>
            </div>
            <div *ngIf="roleAccesses$ | async as roleAccesses">
                <div class="d-flex" *ngIf="getPermissions(roleAccesses) as permissions">
                    <label><em>Permissions:</em></label>
                    <br>
                    <button
                        class="card btn"
                        type="button"
                        (click)="changePermission(permission)"
                        *ngFor="let permission of permissions"
                        formControlName="role">
                        <span class="selected" *ngIf="permission === newRoleForm.value.permission">{{permission}}</span>
                        <span *ngIf="permission != newRoleForm.value.permission">{{permission}}</span>
                    </button>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="!newRoleForm.valid" (click)="onAdd()">Add</button>
            <button type="submit" class="btn btn-danger" [disabled]="!newRoleForm.valid" (click)="onDelete()">Delete</button>
            <br>
            <div class="alert alert-info" *ngIf="saved || deleted">
                operation succeded
            </div>
            <br>
            <div class="alert alert-warning" *ngIf="failed">
                operation failed
            </div>
            <div>
                <button type="button" (click)="getRole(newRoleForm.value.role!)">
                    View Permissions of {{ newRoleForm.value.role! }}:
                </button>
                <code>
                    <pre>
                        {{ currRole | json}}
                    </pre>
                </code>
            </div>
        </form>
    </header>
</div>