<div class="roleManagerBody">
    <header class="roleManagerHeader bg-light p-3">
        <form [formGroup]="newRoleForm" class="container">
            <section>
                <div>
                    <div *ngIf="rawRoles$ | async as raw">
                        <label for="roles" class="col-form-label">Roles:</label>
                        <input class="form-control" list="roleList" name="selectedRole" id="roles" formControlName="role">
                        <datalist id="roleList">
                            <option value="" selected>None</option>
                            <option *ngFor="let role of getRoles(raw)" [value]="role">
                                {{ role }}
                            </option>
                        </datalist>
                        <div
                          *ngIf="newRoleForm.controls.role.invalid &&
                            (newRoleForm.controls.role.dirty || newRoleForm.controls.role.touched)"
                          class="alert alert-danger mt-2">
                          Please enter a role
                        </div>
                        <br>
                        <label for="permission" class="col-form-label">Permission:</label>
                        <input class="form-control" list="permissionList" name="selectedPermission" id="permission" formControlName="permission">
                        <datalist id="permissionList">
                            <option value="" selected>None</option>
                            <option *ngFor="let permission of getPermissions(raw)" [value]="permission">
                                {{ permission }}
                            </option>
                        </datalist>
                        <div
                          *ngIf="newRoleForm.controls.permission.invalid &&
                            (newRoleForm.controls.permission.dirty || newRoleForm.controls.permission.touched)"
                          class="alert alert-danger mt-2">
                            Please enter a permission
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="!newRoleForm.valid" (click)="onAdd()">Add</button>
            <button type="submit" class="btn btn-danger" [disabled]="!newRoleForm.valid" (click)="onDelete()">Delete</button>
            <br>
            <div class="alert alert-info" *ngIf="saved || deleted">
                operation succeded
            </div>
            <br>
            <div class="alert alert-warning" *ngIf="failed">
                operation failed
            </div>
        </form>
    </header>
</div>