<div class="roleManagerBody">
    <header class="roleManagerHeader bg-light p-3">
        <form [formGroup]="newRoleForm" class="container">
            <section>
                <div>
                    <div>
                        <label for="employees" class="col-form-label">Employee:</label>
                        <input class="form-control" list="employeeList" name="selectedEmployee" id="employees" formControlName="employee">
                        <datalist id="employeeList">
                            <option value="" selected>None</option>
                            <option *ngFor="let employee of employees$ | async" [value]="employee['email']">
                                {{ employee["email"] }}
                            </option>
                        </datalist>
                        <div
                          *ngIf="newRoleForm.controls.employee.invalid &&
                            (newRoleForm.controls.employee.dirty || newRoleForm.controls.employee.touched)"
                          class="alert alert-danger mt-2">
                          Please enter a email
                        </div>
                    </div>
                    <div *ngIf="rawRoles$ | async as raw">
                        <label for="roles" class="col-form-label">Roles:</label>
                        <input class="form-control" list="roleList" name="selectedRole" id="roles" formControlName="role">
                        <datalist id="roleList">
                            <option value="" selected>None</option>
                            <option *ngFor="let role of getRoles(raw)" [value]="role">
                                {{ role }}
                            </option>
                        </datalist>
                        <div
                          *ngIf="newRoleForm.controls.role.invalid &&
                            (newRoleForm.controls.role.dirty || newRoleForm.controls.role.touched)"
                          class="alert alert-danger mt-2">
                          Please enter a role
                        </div>
                        <br>
                        <label for="permission" class="col-form-label">Permission:</label>
                        <input class="form-control" list="permissionList" name="selectedPermission" id="permission" formControlName="permission">
                        <datalist id="permissionList">
                            <option value="" selected>None</option>
                            <option *ngFor="let permission of getPermissions(raw)" [value]="permission">
                                {{ permission }}
                            </option>
                        </datalist>
                        <div
                          *ngIf="newRoleForm.controls.permission.invalid &&
                            (newRoleForm.controls.permission.dirty || newRoleForm.controls.permission.touched)"
                          class="alert alert-danger mt-2">
                            Please enter a permission
                        </div>
                    </div>
                </div>
            </section>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="!newRoleForm.valid" (click)="onAdd()">Add</button>
            <button type="submit" class="btn btn-danger" [disabled]="!newRoleForm.valid" (click)="onDelete()">Delete</button>
            <br>
            <div *ngIf="saved || deleted">
                operation succeded
            </div>
            <br>
            <div *ngIf="failed">
                operation failed
            </div>
            <br>
            <div class="figure" *ngIf="this.newRoleForm.value.employee != null && this.newRoleForm.value.employee != undefined && this.newRoleForm.value.employee != ''">
                <button type="button" class="btn" (click)="getRole(this.newRoleForm.value.employee!)">Load current access:</button>
                <br>
                <pre>
                    <code class="figure-caption">{{ currRole | json }}</code>
                </pre>
            </div>
        </form>
    </header>
</div>