html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-button__label{
  margin-right: 0px !important;
}

.mat-mdc-radio-button.mat-accent {
  --mdc-radio-disabled-selected-icon-color: #000;
  --mdc-radio-disabled-unselected-icon-color: #000;
  --mdc-radio-unselected-hover-icon-color: #212121;
  --mdc-radio-unselected-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-unselected-pressed-icon-color: rgba(0, 0, 0, 0.54);
  --mdc-radio-selected-focus-icon-color: #0029C6;
  --mdc-radio-selected-hover-icon-color: #0029C6;
  --mdc-radio-selected-icon-color: #0029C6;
  --mdc-radio-selected-pressed-icon-color: #0029C6;
  --mat-radio-ripple-color: #000;
  --mat-radio-checked-ripple-color: #0029C6;
  --mat-radio-disabled-label-color: rgba(0, 0, 0, 0.38);
  --mat-radio-checked-label-color: #0029C6;
}

.title {
  text-align: center;
}

#save-button {
  border: none;
  border-radius: 2rem;
  background-color: #0029C6;
  color: white;
  padding: 1rem;
}

#cancel-button {
  border: 1px solid #0029C6;
  border-radius: 2rem;
  background-color: white;
  color: #0029C6;
  padding: 1rem;
  box-shadow: none !important;
}

#graphs-btn>button {
  background: #0029c6;
  border: none;
  border-radius: 4rem;
  color: white;
  padding: 0.5rem;
  width: 12rem;
}

#no-graphs {
  background-color: white;
  border-radius: 2rem;
  min-height: 35vh;
  text-align: center;
}

.mat-radio-button.mat-radio-checked .mat-radio-label-content {
  color: #0029C6 !important;
}

.custom-btn {
  border: 1px outset;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  padding: 0;
  margin-left: 20px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
}

#btnRemoveOption,
#btnAddOption {
  border: 1px outset;
  height: 30px;
  width: 30px;
  border-radius: 20px;
  padding: 0;
  margin-left: 20px;
}

#new-hire>button {
  background: #0029c6;
  border: none;
  border-radius: 4rem;
  color: white;
  margin-right: 4rem;
  padding: 0.5rem;
  width: 12rem;
}

.snack-error {
  --mdc-snackbar-supporting-text-color: #fff;
  --mdc-snackbar-supporting-text-line-height: 50px;
  --mdc-snackbar-container-color: #B3261E;
  --mat-snack-bar-button-color: white;
  text-align: center;
}

.snack-success {
  --mdc-snackbar-supporting-text-color: #fff;
  --mdc-snackbar-supporting-text-line-height: 50px;
  --mdc-snackbar-container-color: #0FAF4B;
  --mat-snack-bar-button-color: white;
  text-align: center;
}


.mdc-switch:enabled .mdc-switch__track::after {
  background-color: #0029C6;
}

.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-focus-state-layer-color: #0029C6;
  --mdc-switch-selected-handle-color: #0029C6;
  --mdc-switch-selected-hover-state-layer-color: #0029C6;
  --mdc-switch-selected-pressed-state-layer-color: #0029C6;
  --mdc-switch-selected-focus-handle-color: #0029C6;
  --mdc-switch-selected-hover-handle-color: #0029C6;
  --mdc-switch-selected-pressed-handle-color: #0029C6;
  --mdc-switch-selected-focus-track-color: #0029C6;
  --mdc-switch-selected-hover-track-color: #0029C6;
  --mdc-switch-selected-pressed-track-color: #0029C6;
  --mdc-switch-selected-track-color: #0029C6;
}

.mat-mdc-checkbox {
  --mdc-checkbox-state-layer-size: 16px;
  --mdc-checkbox-selected-checkmark-color: #fff;

  &.mat-accent {
    --mdc-checkbox-selected-focus-icon-color: #0029C6 !important;
    --mdc-checkbox-selected-hover-icon-color: #0029C6 !important;
    --mdc-checkbox-selected-icon-color: #0029C6 !important;
    --mdc-checkbox-selected-pressed-icon-color: #0029C6 !important;
  }
}

.mat-pseudo-checkbox-checked,
.mat-pseudo-checkbox-indeterminate,
.mat-accent .mat-pseudo-checkbox-checked,
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background: #0029C6 !important;
}
.sr-only {
  display: none !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__leading,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__notch,
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused
  .mdc-notched-outline__trailing {
  border-color: #0029C6 !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label, 
.mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-floating-label--float-above {
   color: #0029c6 !important
}
.mat-mdc-progress-bar {
  --mdc-linear-progress-track-height: 7px !important;
  --mdc-linear-progress-active-indicator-height: 6.5px !important;
  --mdc-linear-progress-active-indicator-color: #0029c6;
  --mdc-linear-progress-track-color: #D7dfff;
  --mdc-linear-progress-track-shape: 1rem !important;
  border-radius: 1rem !important;
  border-bottom-width: 10px !important;
}

.matChip{
  --mdc-chip-label-text-color: #0029C6;
  --mdc-chip-with-trailing-icon-trailing-icon-color: #0029C6;
  --mdc-chip-elevated-container-color: #D7DFFF;
  
}

.mat-mdc-standard-chip {
  --mdc-chip-label-text-weight: 500;
}

/* Stepper background color */

mat-stepper {
  --mat-stepper-header-selected-state-icon-background-color: #0029C6;
  --mat-stepper-header-edit-state-icon-background-color: #0029C6;
  --mat-stepper-header-done-state-icon-background-color: #119604;
}

/* Slider to toggle things */

.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: #0029C6;
}

.mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: #3a57ca !important;
}

/* Date picker Icon for the field */

.mat-datepicker-toggle {
  color: grey !important;
}

.mat-datepicker-toggle-active {
  color: #0029C6 !important;
}

/* Calendar for the datepicker */

mat-calendar {
  --mat-datepicker-calendar-date-selected-state-background-color: #0029C6;
  --mat-datepicker-calendar-date-hover-state-background-color: #98aaf1;
  --mat-datepicker-calendar-date-focus-state-background-color: #98aaf1;
  --mat-datepicker-calendar-date-today-outline-color: #0029c6;
}

/* Select drop down arrow */

mat-select {
  --mat-select-focused-arrow-color: #0029C6;
}

/* Select drop down text select */

mat-option {
  --mat-option-selected-state-label-text-color: #0029C6;
}