<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar (selectedItem)="handleSelectedItem($event)"></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-header></app-header>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ps ps--active-y">

      <div *ngIf="selectedPage === 'Workshops'">
        <app-workshops  (selectedItem)="handleSelectedItem($event)"></app-workshops>
      </div>
      <div *ngIf="selectedPage === 'Events'">
        <app-events></app-events>
      </div>
      <div *ngIf="selectedPage === ''" #ShowDashBoard>
        <h1>You are on the dashboard</h1>
      </div>
      <div *ngIf="selectedPage === 'Personal Project'">
        <app-personal-project></app-personal-project>
      </div>
      <div *ngIf="selectedPage === 'Forms'">
        <app-forms></app-forms>
      </div>
      <div *ngIf="selectedPage === 'Add User'">
        <app-add-user></app-add-user>
      </div>
      <div *ngIf="selectedPage === 'Viewable Workshop'">
        <app-viewable-workshop-page (selectedItem)="handleSelectedItem($event)"></app-viewable-workshop-page>
      </div>
      <div *ngIf="selectedPage === 'User Profile'">
        <app-user-profile></app-user-profile>
      </div>
      <div *ngIf="selectedPage === 'Settings'">
        <app-view-users (selectedItem)="handleSelectedItem($event)"></app-view-users>
      </div>
    </main> 
  </div>
</div>
