<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar (selectedItem)="handleSelectedItem($event)"></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-header></app-header>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ps ps--active-y">
      <!-- <div>
        <div class="row mb-4 justify-content-center">
          <div class="col-lg-8 col-md-6 mb-md-0 mb-4">
            <div *ngIf="GetUserType() === 4">
              ADMIN
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-lg-6 col-7">
                      Users
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="GetUserType() === 3">
              MENTOR
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-lg-6 col-7">
                      Mentees
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="GetUserType() === 2">
              PRESENTER
            </div>
            <div *ngIf="GetUserType() === 1">
              DEV GRAD
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-lg-6 col-7">
                      Personal Project
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="GetUserType() === 0">
              DESIGN GRAD
              <div class="card">
                <div class="card-header">
                  <div class="row">
                    <div class="col-lg-6 col-7">
                      Personal Project
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer py-4  ">
          <div class="container-fluid">
            <div class="row align-items-center justify-content-lg-between">
              <div class="col-lg-6 mb-lg-0 mb-4">
                <div class="copyright text-center text-sm text-muted text-lg-start">
                  ©
                  <script>
                    document.write(new Date().getFullYear())
                  </script>2023, made by
                  <a href="/home/#" class="font-weight-bold" target="_blank">Retro Rabbit</a>
                  for a better web.
                </div>
              </div>
              <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                  <li class="nav-item">
                    <a href="/home/#aboutus" class="nav-link text-muted" target="_blank">About Us</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://www.creative-tim.com/blog" class="nav-link text-muted" target="_blank">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a href="https://www.creative-tim.com/license" class="nav-link pe-0 text-muted"
                      target="_blank">License</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
      </div> -->
      <div *ngIf="selectedPage === 'Workshops'; else ShowDashBoard">
        <app-workshops-page></app-workshops-page>
      </div>
      <ng-template #ShowDashBoard>
        <h1>You are on the dashboard</h1>
      </ng-template>
    </main>
  </div>
</div>