<div class="wrapper">
  <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
    <app-sidebar (selectedItem)="handleSelectedItem()"></app-sidebar>
    <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
  </div>
  <div class="main-panel">
    <app-header></app-header>
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ps ps--active-y">
      <div *ngIf="selectedPage === '' || selectedPage === 'Dashboard'" #ShowDashBoard>
        <app-employee-profile></app-employee-profile>
      </div>
      <div *ngIf="selectedPage === 'Add User'">
        <app-add-user></app-add-user>
      </div>
      <div *ngIf="selectedPage === 'New Employee'">
        <app-new-employee></app-new-employee>
      </div>
    </main> 
  </div>
</div>
