<div class="col-12" id="accordion-container">
  <mat-accordion id="accordion" class="row">
    <mat-expansion-panel class="mt-3 rounded-3" (opened)="sharedAccordionFunctionality.panelOpenState = true"
      (closed)="sharedAccordionFunctionality.panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Additional Information
        </mat-panel-title>
        <mat-panel-description *ngIf="sharedAccordionFunctionality.additionalFormProgress != 100 && customFields.length > 0" class="pe-0 pe-md-5">
          <mat-icon class="mx-1">error</mat-icon><span class="d-none d-md-block d-lg-block">Missing Information</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form *ngIf="customFields.length > 0;else NoFieldCodes" [formGroup]="sharedAccordionFunctionality.additionalInfoForm">
        <div
          *ngIf="!sharedAccordionFunctionality.editAdditional"
          class="col-12 mb-2 d-flex justify-content-end">
          <button class="col-12 d-md-none" *ngIf="employeeId == undefined && !sharedAccordionFunctionality.editAdditional" mat-button
            id="edit-button" (click)="editAdditionalDetails()" [ngClass]="screenWidth <= 767 ?'col-12':''">
            <mat-icon>edit</mat-icon>Edit Details
          </button>
        </div>
        <div class="row">
          <div class="row">
            <div class="col-12 col-md-9 col-lg-10">
              <div class="row">
                <div class="col-12 row">
                  <div class="col-12 col-md-6 my-2" *ngFor="let fieldcode of customFields">
                    <mat-form-field appearance="outline" style="width: 100%;">
                      <mat-label>{{fieldcode.name}}</mat-label>
                      <div *ngIf="fieldcode.type == sharedAccordionFunctionality.fieldTypes[4].id">
                        <mat-select formControlName="{{fieldcode.code}}" hideSingleSelectionIndicator="true">
                          <mat-option *ngFor="let option of fieldcode.options" [value]="option.option">
                            {{option.option}}
                          </mat-option>
                        </mat-select>
                      </div>
                      <div *ngIf="fieldcode.type == sharedAccordionFunctionality.fieldTypes[0].id" class="d-flex align-items-center" style="max-height: 24px;">
                        <mat-datepicker #picker1></mat-datepicker>
                        <input matInput [matDatepicker]="picker1" formControlName="{{fieldcode.code}}">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                      </div>
                      <div *ngIf="fieldcode.type != sharedAccordionFunctionality.fieldTypes[4].id && fieldcode.type != sharedAccordionFunctionality.fieldTypes[0].id">
                        <input type="number" matInput formControlName="{{fieldcode.code}}">
                      </div>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div
              *ngIf="!sharedAccordionFunctionality.editAdditional"
              class="col-lg-2 col-md-3 d-none d-md-flex mt-md-2 justify-content-end">
              <button *ngIf="employeeId == undefined && !sharedAccordionFunctionality.editAdditional" mat-button id="edit-button-width"
                (click)="editAdditionalDetails()" [ngClass]="screenWidth <= 767 ?'col-12':''">
                <mat-icon>edit</mat-icon>Edit Details
              </button>
            </div>
          </div>
          <div class="col-12 d-block d-md-none" id="edit-buttons">
            <button *ngIf="sharedAccordionFunctionality.editAdditional" mat-button id="save-button" type="submit"
              (click)="saveAdditionalEdit()" class="col-12 mb-2">
              Save
            </button>
            <button *ngIf="sharedAccordionFunctionality.editAdditional" mat-button id="cancel-button"
              (click)="cancelAdditionalEdit()" class="col-12">
              Cancel
            </button>
          </div>
          <div class="col-12 d-none d-md-flex" id="edit-buttons">
            <button *ngIf="sharedAccordionFunctionality.editAdditional" mat-button id="cancel-button"
              (click)="cancelAdditionalEdit()">
              Cancel
            </button>
            <button *ngIf="sharedAccordionFunctionality.editAdditional" mat-button id="save-button" type="submit"
              (click)="saveAdditionalEdit()">
              Save
            </button>
          </div>
        </div>
      </form>
      <ng-template #NoFieldCodes>
        <div id="no-information">
          <h1 class="headingTitle">No Additional Information</h1>
          <h5 class="subtitle">Only an admin can create custom fields that will appear here</h5>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
