#edit-button-width {
    border: none;
    border-radius: 2rem;
    background-color: #D7DFFF;
    color: #0029C6;
    width: 170px;
}

#no-information {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subtitle {
  color: #0029C6;
  font-size: 14px;
}

.headingTitle {
  font-size: 22px;
}

#style-date{
  max-height: 24px;
}