<div class="container">
    <div class="container-fluid p-4" [ngClass]="{'fullscreen-modal': isMobileScreen}">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="text-center" id="create-candidate">Add a new Candidate</h1>
            </div>
        </div>
        <form [formGroup]="newcandidateForm" id="newcandidateForm">
            <div class="row justify-content-center align-items-center">
                <div class="row justify-content-center align-items-center">
                    <div class="profile-photo">
                        <img *ngIf="imageUrl !== ''" [src]="imageUrl" [alt]="employeeProfile.photo"
                            class="rounded-circle profile-img">
                        <img *ngIf="imageUrl === ''" [src]="employeeProfile.photo" [alt]="employeeProfile.photo"
                            class="rounded-circle profile-img">
                    </div>
                    <div class="col-12 text-center roboto-font pb-3">
                        <h2 *ngIf="isValidProfileImage" class="center-bold">Profile Picture</h2>
                        <p *ngIf="isValidProfileImage" class="profile-text">PNG, JPG, SVG</p>
                        <p *ngIf="isValidProfileImage" class="profile-text">10 MB Max limit size</p>
                        <p id="change-color-heading" *ngIf="!isValidProfileImage" class="profile-text">File size
                            exceeded. Maximum limit is 10 MB.</p>
                            <button id="upload-button" mat-icon-button (click)="uploadFile.click()" class="upload-button">
                                <mat-icon id="file-upload-cursor">file_upload</mat-icon>
                                <span class="button-text">Upload Picture</span>
                              </button>                              
                        <input type="file" #uploadFile (change)="onImageChange($event)" hidden />
                        <p class="col-md-12 col-lg-7 mt-5 info-text">*Required fields</p>
                    </div>
                </div>
                <div class="row flex-column justify-content-center align-items-center col-md-12">
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7">
                        <mat-label>First name</mat-label>
                        <input matInput type="text" formControlName="name" />
                        <mat-error *ngIf="newcandidateForm.controls['name'].hasError('required')">
                            First name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Last name</mat-label>
                        <input matInput type="text" formControlName="surname" />
                        <mat-error *ngIf="newcandidateForm.controls['surname'].hasError('required')">
                            Last name is required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-1">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email" />
                        <mat-error *ngIf="newcandidateForm.controls['email'].hasError('required')">
                            valid Email is required
                        </mat-error>
                    </mat-form-field>
                </div>
                <!-- *ngIf="isValidEmail"  -->
                <div  class="row col-md-12 flex-column justify-content-center align-items-center">
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Contact number</mat-label>
                        <input matInput type="text" formControlName="contactNumber" />
                    </mat-form-field>
                    <mat-radio-group formControlName="role" class="col-md-12 col-lg-7 my-2 info-text">
                        <p class="col-md-12 col-lg-7 info-text">Role:</p>
                        <mat-radio-button value="UI/UX Designer">UI/UX Designer</mat-radio-button> <br />
                        <mat-radio-button value="Developer">Developer</mat-radio-button> <br />
                        <mat-radio-button value="Business Support">Business Support</mat-radio-button> <br />
                        <mat-radio-button value="Scrum Master">Scrum Master</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Select level</mat-label>
                        <mat-select formControlName="potentialLevel">
                            <mat-option *ngFor="let level of levels" [value]="level">{{ level }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Location</mat-label>
                        <input matInput type="text" formControlName="location" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Attach link</mat-label>
                        <input matInput type="text" formControlName="linkedInProfile" />
                        <mat-error *ngIf="newcandidateForm.controls['linkedInProfile'].hasError('required')">
                            Valid linkedIn Profile link is required
                        </mat-error>
                        <mat-icon matSuffix>link</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>CV</mat-label>
                        <input matInput type="text" [value]="cvFilename" />
                        <span mat-icon-button matSuffix class="pe-3">
                            <mat-icon *ngIf="isValidCVFile" (click)="uploadCVFile.click()"
                                id="file-upload-cursor">attach_file</mat-icon>
                            <mat-icon *ngIf="!isValidCVFile" (click)="clearCVFileUpload()"
                                id="change-close-color">error</mat-icon>
                        </span>
                        <input type="file" #uploadCVFile (change)="onCVFileChange($event)" hidden
                            accept=".pdf,.ppt,.pptx,.doc,.docx" />
                    </mat-form-field>
                    <div *ngIf="cvUrl !== ''">
                        <p>Selected CV: {{ cvFilename }}</p>
                    </div>
                    <p *ngIf="isValidCVFile" class="col-md-12 col-lg-7">PDF,PPT,PPTX,doc,Docx are supported</p>
                    <p *ngIf="isValidCVFile" class="col-md-12 col-lg-7">10 MB Max limit size</p>
                    <h3 id="change-color-heading" *ngIf="!isValidCVFile" class="col-md-12 col-lg-7">Unsupported file
                        format :</h3>
                    <p id="change-close-color" *ngIf="!isValidCVFile" class="col-md-12 col-lg-7">The selected file type
                        is not supported.</p>
                    <p id="change-close-color" *ngIf="!isValidCVFile" class="col-md-12 col-lg-7"> Please upload a PDF,
                        PPT, PPTX, DOC or DOCX file</p>
                    <h4 class="col-md-12 col-lg-7 info-text">Portfolio</h4>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Attach website link</mat-label>
                        <input matInput type="text" formControlName="portfolioLink" />
                        <mat-icon matSuffix>link</mat-icon>
                        <mat-error *ngIf="newcandidateForm.controls['portfolioLink'].hasError('required')">
                            valid website link is required.
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>PDF</mat-label>
                        <input matInput type="text" [value]="portfolioFilename" />
                        <span mat-icon-button matSuffix class="pe-3">
                            <mat-icon *ngIf="isValidPortfolioFile" (click)="uploadPortfolioFile.click()"
                                id="file-upload-cursor">attach_file</mat-icon>
                            <mat-icon *ngIf="!isValidPortfolioFile" (click)="clearPortfolioFileUpload()"
                                id="change-close-color">error</mat-icon>
                        </span>
                        <input type="file" #uploadPortfolioFile (change)="onPortfolioFileChange($event)" hidden
                            accept=".pdf,.ppt,.pptx,.doc,.docx" />
                    </mat-form-field>
                    <div *ngIf="portfolioUrl!== ''">
                        <p>Selected CV: {{ portfolioFilename }}</p>
                    </div>
                    <p class="col-md-12 col-lg-7">PDF,PPT,PPTX,doc,Docx are supported</p>
                    <p class="col-md-12 col-lg-7">10 MB Max limit size</p>
                    <mat-slide-toggle class="col-md-12 col-lg-7 mb-3" color="primary" id="additionalFieldsToggle"
                        (click)="toggleAdditionalFields()">
                        Additional fields
                    </mat-slide-toggle>
                    <div *ngIf="additionalFieldsVisible"
                        class="row col-md-12 flex-column justify-content-center align-items-center">
                        <mat-radio-group formControlName="role" class="col-md-12 col-lg-7 my-2 info-text">
                            <p class="col-md-12 col-lg-7 info-text">Gender:</p>
                            <mat-radio-button value="Unclassified">Unclassified</mat-radio-button> <br />
                            <mat-radio-button value="Male">Male</mat-radio-button> <br />
                            <mat-radio-button value="Female">Female</mat-radio-button> <br />
                        </mat-radio-group>
                        <mat-form-field appearance="outline" class="col-lg-7 col-md-12">
                            <mat-label>Race</mat-label>
                            <mat-select formControlName="race">
                                <mat-option *ngFor="let race of races; index as i" [value]="i">{{ race }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                            <mat-label>ID Number/ Passport</mat-label>
                            <input matInput type="text" formControlName="idNumber" />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-lg-7 col-md-12">
                            <mat-label>Referral</mat-label>
                            <input matInput placeholder="Referral" [formControl]="searchControl"
                                [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let employee of filteredEmployees | async" [value]="employee.id">
                                    {{ employee.name }} {{ employee.surname}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <h4 class="col-md-12 col-lg-7 mb-2 info-text">Qualifications</h4>
                        <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                            <mat-icon matPrefix>search</mat-icon>
                            <mat-label>Highest Qualification</mat-label>
                            <mat-select formControlName="highestQualification">
                                <mat-option *ngFor="let qualification of qualifications; index as i" [value]="i">{{
                                    qualification }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-1">
                            <mat-icon matPrefix>search</mat-icon>
                            <mat-label>School</mat-label>
                            <mat-select *ngIf="!optionIsOther" formControlName="school"
                                (selectionChange)="toggleOtherSchoolField($event)">
                                <mat-option *ngFor="let school of schools; index as i" [value]="i">{{ school
                                    }}</mat-option>
                            </mat-select>
                            <input *ngIf="optionIsOther" matInput type="text" formControlName="school"
                                placeholder="Enter other school">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                            <mat-label>Date Obtained</mat-label>
                            <mat-select formControlName="startDate" placeholder="Select start year">
                                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div id="footer" class="col-md-12">
                    <button id="cancel-button" [ngClass]="screenWidth < 768 ? 'button-mobile' : ''"
                        (click)="goToPreviousPage()">Cancel</button>
                    <button *ngIf="!isValidEmail" id="next-button"
                        [ngClass]="screenWidth < 768 ? 'button-mobile button-top' : ''"
                        (click)="checkEmailValidity()">Next</button>

                    <button *ngIf="isValidEmail" id="save-add-button"
                        [ngClass]="screenWidth < 768 ? 'button-mobile' : ''" (click)="checkEmailValidity()">Save and add
                        another</button>

                    <button *ngIf="isValidEmail" id="save-button"
                        [ngClass]="screenWidth < 768 ? 'button-mobile  button-top' : ''"
                        (click)="saveCanidateAndExit()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>