<div class="container">
    <div class="container-fluid p-4" [ngClass]="{'fullscreen-modal': isMobileScreen}">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="text-center" id="create-candidate">Add a New Candidate</h1>
            </div>
        </div>
        <form [formGroup]="newCandidateForm" id="newcandidateForm">
            <div class="row justify-content-center align-items-center">
                <div class="row justify-content-center align-items-center">
                    <div class="profile-photo">
                        <img *ngIf="imageUrl !== ''" [src]="imageUrl" [alt]="employeeProfile.photo" class="rounded-circle profile-img">
                        <img *ngIf="imageUrl === ''" [src]="employeeProfile.photo" [alt]="employeeProfile.photo" class="rounded-circle profile-img" accept=".png, .svg,.jpg">
                    </div>
                    <div class="col-12 text-center roboto-font pb-3 mt-3">
                        <h2 *ngIf="isValidProfileImage" class="center-bold">Profile Picture</h2>
                        <p *ngIf="isValidProfileImage" class="profile-text">PNG, JPG, SVG</p>
                        <p *ngIf="isValidProfileImage" class="profile-text">10 MB Max limit size</p>
                        <p id="change-color-heading" *ngIf="!isValidProfileImage" class="profile-text">File size exceeded. Maximum limit Is 10 MB.</p>
                        <div id="actionCellUpload" class="col-12 col-md-auto">
                            <button (click)="uploadFile.click()"
                                [ngStyle]="{'color': '#F8F8F8', 'background-color': '#0029C6'}"
                                [ngClass]="screenWidth <= 767 ? 'upload-download-button' : ''">
                                <svg id="svg-icon-w" width="24" height="24" viewBox="0 0 24 24" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg">
                                    <g id="Icons/file_upload">
                                        <path id="icon-w" d="M18 15V18H6V15H4V18C4 19.1 4.9 20 6 20H18C19.1 20, 20 19.1 20 18V15H18ZM7 9L8.41 10.41L11 7.83V16H13V7.83L15.59 10.41L17 9L12 4L7 9Z"fill="currentColor" />
                                    </g>
                                </svg> Upload Picture
                            </button>
                        </div>
                        <input type="file" #uploadFile (change)="onImageChange($event)" hidden />
                        <p class="col-md-12 col-lg-7 mt-5 info-text">*Required fields</p>
                    </div>
                </div>
                <div class="row flex-column justify-content-center align-items-center col-md-12">
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7">
                        <mat-label>First name</mat-label>
                        <input matInput type="text" formControlName="name" />
                        <mat-error *ngIf="newCandidateForm.controls['name'].hasError('required')">
                            First Name Is Required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Last name</mat-label>
                        <input matInput type="text" formControlName="surname" />
                        <mat-error *ngIf="newCandidateForm.controls['surname'].hasError('required')">
                            Last Name Is Required
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-1">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" (change)="onEmailChange($event)" />
                        <mat-error *ngIf="newCandidateForm.controls['email'].hasError('pattern')">
                            Please Enter a Valid Email Address
                        </mat-error>
                        <mat-error *ngIf="newCandidateForm.controls['email'].hasError('required')">
                            Email Address Is Required
                        </mat-error>
                    </mat-form-field>
                    <div class="col-md-12 col-lg-7 my-1">
                        <h3 *ngIf="candidateExists" class="warning-message">Duplicate Canidate Found</h3>
                        <h3 *ngIf="isBlacklisted" class="warning-message">Blacklisted Canidate</h3>
                        <h3 *ngIf="candidateWarning" class="warning-message">This Candidate Has a Warning</h3>
                        <p *ngIf="isBlacklisted">This Candidate Has Been Blacklisted From the Company.<br>Go To Their Profile To See the Reason or Lift the Blacklisting</p>
                        <p *ngIf="candidateExists">The Candidate Already Exists in Our System</p>
                        <p *ngIf="candidateWarning">This Candidate Has Received a Warning in the System</p>
                    </div>
                </div>
                <div *ngIf="isValidEmail && !isBlacklisted && !candidateExists && !candidateWarning"
                    class="row col-md-12 flex-column justify-content-center align-items-center">
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Contact Number</mat-label>
                        <input matInput type="text" formControlName="cellphoneNumber" pattern="^\+27\d{9}$"
                            placeholder="+27 XXXXXXXXX" />
                            <mat-error *ngIf="newCandidateForm.controls['cellphoneNumber'].hasError('pattern')">
                                Please Enter a Valid Cellphone Number
                            </mat-error>
                    </mat-form-field>
                    <mat-radio-group formControlName="jobPosition" class="col-md-12 col-lg-7 my-2 info-text" (change)="checkSelectedOption($event)">
                        <p class="col-md-12 col-lg-7 info-text">Role:</p>
                        <mat-radio-button [value]=0>UI/UX Designer</mat-radio-button> <br />
                        <mat-radio-button [value]=1>Developer</mat-radio-button> <br />
                        <mat-radio-button [value]=2>Business Support</mat-radio-button> <br />
                        <mat-radio-button [value]=3>Scrum Master</mat-radio-button>
                    </mat-radio-group>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Select Level</mat-label>
                        <mat-select formControlName="potentialLevel" hideSingleSelectionIndicator="true">
                            <mat-option *ngFor="let level of levels" [value]="level">{{ level }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Location</mat-label>
                        <input matInput type="text" formControlName="location" />
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>Attach LinkedIn Link</mat-label>
                        <input matInput type="text" formControlName="linkedInProfile" />
                        <mat-error *ngIf="newCandidateForm.controls['linkedInProfile'].hasError('pattern')">
                            Valid LinkedIn Profile Link Is Required
                        </mat-error>
                        <mat-icon matSuffix>link</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                        <mat-label>CV</mat-label>
                        <input matInput type="text" [value]="cvFilename" (click)="uploadCVFile.click()" />
                        <span mat-icon-button matSuffix class="pe-3">
                            <mat-icon *ngIf="!isValidCVFileSize" id="change-close-color" (click)="clearCVFileUpload()">error</mat-icon>
                            <mat-icon *ngIf="!cvFileUploaded" id="file-upload-cursor">attach_file</mat-icon>
                            <mat-icon *ngIf="cvFileUploaded && isValidCVFile && isValidCVFileSize" id="change-close-color" (click)="clearCVFileUpload()">close</mat-icon>
                            <mat-icon *ngIf="!isValidCVFile" (click)="clearCVFileUpload()" id="change-close-color">error</mat-icon>
                        </span>
                        <input type="file" #uploadCVFile (change)="onCVFileChange($event)" hidden accept=".pdf" />
                    </mat-form-field>
                    <div  class="col-md-12 col-lg-7">
                        <h3 *ngIf="!isValidCVFileSize" class="warning-message"> File size exceeded:</h3>
                        <p *ngIf="!isValidCVFileSize" id="change-close-color">File size exceeds max limit of 10MB</p>
                    </div>
                    <div *ngIf="cvUrl !== ''">
                        <p>Selected CV: {{ cvFilename }}</p>
                    </div>
                    <p *ngIf="isValidCVFileSize" class="col-md-12 col-lg-7">Please upload a PDF</p>
                    <p *ngIf="isValidCVFileSize" class="col-md-12 col-lg-7">10 MB Max limit size</p>
                    <h3 id="change-color-heading" *ngIf="!isValidCVFile" class="col-md-12 col-lg-7">Unsupported file format :</h3>
                    <p id="change-close-color" *ngIf="!isValidCVFile" class="col-md-12 col-lg-7">The selected file type is not supported. <br> Please upload a PDF</p>
                    <div class="col-md-12 col-lg-7" *ngIf="optionValid == true">
                        <h4 class="col-md-12 info-text">Portfolio</h4>
                        <mat-form-field appearance="outline" class="col-md-12 my-2">
                            <mat-label>Attach Website Link</mat-label>
                            <input matInput type="text" formControlName="portfolioLink" />
                            <mat-icon matSuffix>link</mat-icon>
                            <mat-error *ngIf="newCandidateForm.controls['portfolioLink'].hasError('pattern')">
                                Valid Website Link Is Required.
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-12 my-2">
                            <mat-label>Portfolio PDF</mat-label>
                            <input matInput type="text" [value]="portfolioFilename" (click)="uploadPortfolioFile.click()" />
                            <span mat-icon-button matSuffix class="pe-3">
                                <mat-icon *ngIf="!isValidPortfolioFileSize" id="change-close-color" (click)="clearPortfolioFileUpload()">error</mat-icon>
                                <mat-icon *ngIf="!portfolioFileUploaded" id="file-upload-cursor">attach_file</mat-icon>
                                <mat-icon *ngIf="portfolioFileUploaded && isValidPortfolioFile && isValidPortfolioFileSize" id="change-close-color"
                                    (click)="clearPortfolioFileUpload()">close</mat-icon>
                                <mat-icon *ngIf="!isValidPortfolioFile" (click)="clearPortfolioFileUpload()" id="change-close-color">error</mat-icon>
                            </span>
                            <input type="file" #uploadPortfolioFile (change)="onPortfolioFileChange($event)" hidden
                                accept=".pdf" />
                        </mat-form-field>
                        <div  class="col-md-12 col-lg-7">
                            <h3 *ngIf="!isValidPortfolioFileSize" class="warning-message"> File Size Exceeded:</h3>
                            <p *ngIf="!isValidPortfolioFileSize" id="change-close-color">File Size Exceeds Max Limit of 10MB</p>
                        </div>
                        <div *ngIf="portfolioUrl!== ''">
                            <p>Selected CV: {{ portfolioFilename }}</p>
                        </div>
                        <p *ngIf="isValidPortfolioFileSize" class="col-md-12 col-lg-7">Please Upload a PDF</p>
                        <p *ngIf="isValidPortfolioFileSize" class="col-md-12 col-lg-7">10 MB Max Limit Size</p>
                        <h3 id="change-color-heading" *ngIf="!isValidPortfolioFile" class="col-md-12 col-lg-7">Unsupported File Format :</h3>
                        <p id="change-close-color" *ngIf="!isValidPortfolioFile" class="col-md-12 col-lg-7">The Selected File Type is not Supported.<br> Please Upload a PDF</p>
                    </div>
                    <mat-slide-toggle class="col-md-12 col-lg-7 mb-3" color="primary" id="additionalFieldsToggle" (click)="toggleAdditionalFields()">
                        Additional Fields
                    </mat-slide-toggle>
                    <div *ngIf="additionalFieldsVisible"
                        class="row col-md-12 flex-column justify-content-center align-items-center">
                        <mat-radio-group formControlName="gender" class="col-md-12 col-lg-7 my-2 info-text">
                            <p class="col-md-12 col-lg-7 info-text">Gender:</p>
                            <mat-radio-button [value]=0>Male</mat-radio-button> <br />
                            <mat-radio-button [value]=1>Female</mat-radio-button> <br />
                            <mat-radio-button [value]=2>Prefer Not to Say</mat-radio-button> <br />
                        </mat-radio-group>
                        <mat-form-field appearance="outline" class="col-lg-7 col-md-12">
                            <mat-label>Race</mat-label>
                            <mat-select formControlName="race" hideSingleSelectionIndicator="true">
                                <mat-option *ngFor="let race of races; index as i" [value]="i">{{ race }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                            <mat-label>ID Number/ Passport</mat-label>
                            <input matInput type="text" formControlName="idNumber" />
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-lg-7 col-md-12" >
                            <mat-label>Referral</mat-label>
                            <input matInput placeholder="Referral" [formControl]="searchControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let employee of allEmployees" [value]='employee.name + " " + employee.surname'
                                    (onSelectionChange)="showSelectedReferral($event)">{{ employee.name }} {{ employee.surname}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <h4 class="col-md-12 col-lg-7 mb-2 info-text">Qualifications</h4>
                        <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                            <mat-icon matPrefix>search</mat-icon>
                            <mat-label>Highest Qualification</mat-label>
                            <mat-select formControlName="highestQualification" hideSingleSelectionIndicator="true">
                                <mat-option *ngFor="let qualification of qualifications; index as i" [value]="qualification">{{qualification }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-1">
                            <mat-icon matPrefix>search</mat-icon>
                            <mat-label>School</mat-label>
                            <mat-select *ngIf="!optionIsOther" formControlName="school"
                                (selectionChange)="toggleOtherSchoolField($event, schools)" hideSingleSelectionIndicator="true">
                                <mat-option *ngFor="let school of schools; index as i" [value]="school">{{school}}</mat-option>
                            </mat-select>
                            <input *ngIf="optionIsOther" matInput type="text" formControlName="school"
                                placeholder="Enter other school">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-12 col-lg-7 my-2">
                            <mat-label>Year Obtained</mat-label>
                            <mat-select formControlName="endDate" placeholder="Select start year" hideSingleSelectionIndicator="true">
                                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div id="footer" class="col-md-12">
                    <button id="cancel-button" [ngClass]="screenWidth < 768 ? 'button-mobile' : ''"
                        (click)="goToPreviousPage()">Cancel</button>
                    <button *ngIf="!isValidEmail" id="next-button"
                        [ngClass]="screenWidth < 768 ? 'button-mobile button-top' : ''"
                        [hidden]="candidateExists"
                        (click)="validateAndCheckCandidateEmail()">Next</button>
                    <button *ngIf="isValidEmail && !isBlacklisted && !candidateExists && !candidateWarning"
                        id="save-add-button" [ngClass]="screenWidth < 768 ? 'button-mobile' : ''"
                        (click)="saveAndAddAnotherCandidate()">Save and Add Another</button>
                    <button *ngIf="isBlacklisted || candidateWarning || candidateExists" id="save-button">Go to
                        Profile</button>
                    <button *ngIf="isValidEmail && !isBlacklisted && !candidateExists && !candidateWarning"
                        id="save-button" [ngClass]="screenWidth < 768 ? 'button-mobile  button-top' : ''"
                        (click)="saveCandidateAndExit()">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>