<div class="container">
    <div class="container-fluid p-4" [ngClass]="{'fullscreen-modal': isMobileScreen}">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <h1 class="text-center" id="create-candidate">Add a new Candidate</h1>
            </div>
        </div>
        <form [formGroup]="newcandidateForm" (ngSubmit)="onSubmit(false)" id="newcandidateForm">
            <div class="row justify-content-center align-items-center">
                <div id="profile-image">
                    <img src="assets/profile-image" alt="Profile Photo" class="profile-image">
                    <input type="file" #uploadFile (change)="onFileChange($event)" hidden />
                </div>
                <button id="upload-button" mat-icon-button matSuffix (click)="uploadFile.click()" class="upload-button">
                    Upload Picture
                </button>
                <div class="col-12 text-center roboto-font pb-3">
                    <h3 class="text-center">Profile Picture</h3>
                    <p class="text-center">Note: *The asterisk indicates required fields</p>
                </div>
                <div class="col-md-12 text-center">
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7">
                        <mat-label>First name</mat-label>
                        <input matInput type="text" formControlName="name" />
                        <mat-error *ngIf="newcandidateForm.controls['name'].hasError('required')">
                            First name is required
                        </mat-error>
                        <mat-error
                            *ngIf="newcandidateForm.controls['name'].hasError('pattern') && !newcandidateForm.controls['name'].hasError('required') ">
                            First name must not contain numbers
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7">
                        <mat-label>Last name</mat-label>
                        <input matInput type="text" formControlName="surname" />
                        <mat-error *ngIf="newcandidateForm.controls['surname'].hasError('required')">
                            Last name is required
                        </mat-error>
                        <mat-error
                            *ngIf="newcandidateForm.controls['surname'].hasError('pattern') && !newcandidateForm.controls['surname'].hasError('required') ">
                            Last name must not contain numbers
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-md-12 col-lg-7">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" />
                        <mat-error *ngIf="newcandidateForm.controls['email'].hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error
                            *ngIf="newcandidateForm.controls['email'].hasError('pattern') && !newcandidateForm.controls['email'].hasError('required')">
                            Email must be valid
                        </mat-error>
                    </mat-form-field>
                </div>
                <div id="footer">
                    <button id="cancel-button" [ngClass]="screenWidth < 768 ? 'button-mobile' : ''"
                        (click)="goToPreviousPage()">Cancel</button>
                    <button id="next-button"
                        [ngClass]="screenWidth < 768 ? 'button-mobile button-top' : ''">Next</button>
                </div>
            </div>
        </form>
    </div>
</div>