#header-name {
    font-family: Poppins;
    text-align: left;
    font-size: 36px;
    font-weight: 400;
}

#header-role {
    color: #555454;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}

#header-based {
    color: #555454;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-align: left;
}

#header-email {
    color: #555454;
    text-align: left;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
    text-transform: lowercase;
}

#header-email>.row {
    display: flex;
    justify-content: flex-end;
    padding-left: 20px;
}

#header-email-clip {
    color: #0000ff;
    transform: rotate(-45deg);
    width: 20px;

}

#header-label {
    color: #555454;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

#header-value {
    color: #555454;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.container-fluid {
    border: 1px solid black;
}

.data-info {
    margin-top: 10px;
    font-weight: 500;
    margin-right: 20px;
}

.resigned-status {
    border: 1px solid #B3261E;
    padding: 10px;
    color: #B3261E;
    text-align: center;
    margin-right: 20px;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    text-transform: capitalize;
}

.download-doc {
    display: flex;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 8px;
    margin-right: 20px;
}

.resigned-info {
    border: 1px solid #006E2B;
    padding: 5px;
    color: #006E2B;
    text-align: center;
    margin-right: 30px;
    border-radius: 10px;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.email-info {
    gap: 10px;
    color: #555454;
    text-align: center;
    margin-right: 20px;
    border-radius: 8px;
    border: 1px solid var(--m-3-state-layers-light-on-surface-variant-opacity-012, rgba(73, 69, 79, 0.12));
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
    cursor: pointer;
}

#profile-header {
    background-color: white;
    border-radius: 2rem;
}

#profile-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

#profile-image>img {
    height: 100%;
    width: 100%;
    cursor: pointer;
    justify-content: center;
    border-radius: 50%;
}

#outer-icon-container {
    padding: 0;
}

#outer-icon-container>div {
    border-radius: 50%;
    background-color: #D7DFFF;
    color: #0029C6;
    display: table;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    width: 50px;
}

#outer-icon-container>div>mat-icon {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#accordions-nav {
    background-color: #0029C6;
    padding-top: 1rem;
    display: flex;
}

#nav-item>div {
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

#nav-item>div:hover {
    cursor: pointer;
}

#nav-item>div.active {
    text-align: center;
    color: white;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.nav-item-mobile {
    width: 150px;
    max-width: 100%;
    overflow-x: scroll;
    flex-shrink: 0;
    display: flex;
    margin-left: 7%;
}

#selected-line-box {
    width: 90px;
    height: 14px;
    position: relative;
    margin: 0 auto;
}

#selected-line {
    width: 100%;
    height: 3px;
    left: 2px;
    top: 11px;
    position: absolute;
    background: white;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

#EndEmploymentButton>button {
    border: 1px solid #0029C6;
    border-radius: 2rem;
    background-color: white;
    margin-right: 20px;
    color: #0029C6;
    padding: 1.3rem;
    width: 11rem;
}

:host ::ng-deep .mat-expansion-panel {
    padding: 0;
}

:host ::ng-deep .mat-accordion .mat-expansion-panel,
:host ::ng-deep .mat-expanded,
:host ::ng-deep .mat-accordion .mat-expansion-panel,
:host ::ng-deep .mat-expansion-panel-spacing {
    border-radius: 1rem;
    box-shadow: none;
}

:host ::ng-deep .mat-expansion-panel-header-description {
    color: #B3261E;
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
}

:host ::ng-deep #edit-button {
    border: none;
    border-radius: 2rem;
    background-color: #D7DFFF;
    color: #0029C6;
    padding: 1rem;
}

:host ::ng-deep #edit-buttons {
    display: flex;
    justify-content: flex-end;
}

:host ::ng-deep #edit-buttons>button {
    margin-right: 1rem;
}

:host ::ng-deep #file-buttons {
    border-radius: 2rem;
    height: 36px;
    width: 140px;
}

:host ::ng-deep .upload-button {
    border: none;
    background-color: #0029C6;
    color: #FFF;
}

:host ::ng-deep .upload-disabled {
    border: none;
    background-color: #E3E3E4;
    color: var(--M3-sys-light-on-surface, rgba(29, 27, 32, 0.12));
}

:host ::ng-deep .download-button {
    border: 1px solid #0029C6;
    background-color: #FFF;
    color: #0029C6;
}

:host ::ng-deep .download-disabled {
    border: 1px solid rgba(29, 27, 32, 0.12);
    background-color: #FFF;
    color: var(--M3-sys-light-on-surface, rgba(29, 27, 32, 0.12));
}

#uploadfile:hover {
    cursor: pointer;
}

#profile-completion {
    background-color: white;
    border-radius: 2rem;
}

#completion-header-container {
    display: flex;
    align-items: center;
}

#horizontal {
    height: 0px;
    margin: auto 0;
    padding: 0;
}

#progress-stats {
    border-radius: 0.5rem;
    background-color: #d7dfff;
    color: #0029c6;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width:20%;
}

#progress-stats>h5 {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1px;
    margin: 0;
}

#overall-text>h4 {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.15px;
}

#progress-require-message {
    color: #828282;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.25px;
}

:host ::ng-deep #back-button {
    color: #0029C6;
    font-size: 14px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.10px;
    word-wrap: break-word;
}

:host ::ng-deep #statuses>div {
    color: white;
    text-align: center;
    width: fit-content;
    border-radius: 0.3rem;
}

:host ::ng-deep #status-0 {
    background: #0faf4bff;
    padding: 0.3rem 0.7rem;
}

:host ::ng-deep #status-1 {
    background: #322f35ff;
    padding: 0.3rem 0.7rem;
}

:host ::ng-deep #status-2 {
    background: #b3261eff;
    padding: 0.3rem 0.7rem;
}

:host ::ng-deep #status-3 {
    background: rgb(32, 103, 209);
    padding: 0.3rem 0.7rem;
}

:host ::ng-deep #status-null {
    background: white;
    color: #0029c6;
    padding: 0.3rem 0.7rem;
}

:host ::ng-deep #reject-reason {
    color: #b3261eff;
}

.col-2>#line {
    min-height: 2rem;
    width: 0px;
    border: 1px solid grey;
}

div.row {
    padding: 0;
}

#overall-progress-bar {
    border-color: #0029C6;
}

#progress-container{
    margin-top: 0.8rem !important;
}