<app-confirm-dialog *ngIf="showConfirmDialog" [dialogType]="dialogTypeData"
  (confirmation)="dialogFeedBack($event)"></app-confirm-dialog>
<div id="field-code-container" class="mt-4">
  <div class="d-sm-flex flex-sm-column flex-lg-row flex-md-row justify-content-between ms-3"[ngClass]="navService.showSideBar ? 'interact-fields-mobile' : 'interact-fields-desktop'">
    <div id="search-container" class="row mt-3">
      <div class="col-10 ps-2">
        <input pInputText [(ngModel)]="filterText" (input)="filterData()" type="text" placeholder="Search" class="w-100"
          id="search-field">
      </div>
      <div id="icon" class="col-1 pt-2 ps-4 me-3">
        <mat-icon>search</mat-icon>
      </div>
    </div>
    <div id="button-container" class="mt-3 offset-0 d-flex justify-content-lg-end">
      <button (click)="addNewField()" [ngClass]="navService.showSideBar ? 'add-button-mobile' : 'add-button-desktop'">+
        Add New Field</button>
    </div>
  </div>
  <div id="tab-buttons" class="mb-0">
    <div id="tab" (click)="changeTab(0)" [ngClass]="activeTab == 0 ? 'activeTab' : ''">
      Active ({{activeFieldsSearch == 0 ? activeFields : activeFieldsSearch}})
    </div>
    <div id="tab" (click)="changeTab(-1)" [ngClass]="activeTab == -1 ? 'activeTab' : ''">
      Archived ({{archiveFieldsSearch == 0 ? passiveFields : archiveFieldsSearch}})
    </div>
  </div>
  <hr class="m-0 p-0">
  <div id="field-table-container">
    <div id="table-buttons">
      <button (click)="showDialog(0)" [ngClass]="selectedCustomFields.length == 0 ? 'inactive-tab-button' : ''"
        id="save-button" [disabled]="!hasSelected()" *ngIf="activeTab == 0" style="width: 118px;">
        Archive {{selectedCustomFields.length == 0 ? '' : "(" + selectedCustomFields.length + ")"}}
      </button>
      <button (click)="showDialog(-1)" [ngClass]="selectedCustomFields.length == 0 ? 'inactive-tab-button' : ''"
        id="save-button" [disabled]="!hasSelected()" *ngIf="activeTab != 0" style="width: 167px">
        Move To Active {{selectedCustomFields.length == 0 ? '' :"(" + selectedCustomFields.length + ")"}}
      </button>
    </div>
    <ngx-skeleton-loader *ngIf="isLoading" [count]="1" appearance="line" animation="pulse" [theme]="{
      'background-color': '#D7DFFF',
      'border': '2px solid #D7DFFF',
      'border-radius': '2rem',
      'height': '80vh',
      width: '100%',
    }" />
    <div id="table-body" class="row">
      <div class="card px-0">
        <div [hidden]="isLoading || dataSource.filteredData.length <= 0" class="table-responsive p-0 m-0">
          <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="!isLoading">
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
              <mat-cell *matCellDef="let element">
                <mat-checkbox [(ngModel)]="element.isSelected" (change)="onRowSelect(element,$event)">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ getType(element.type) }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
              <mat-cell *matCellDef="let element">{{ element.status === 0 ? 'Active' : 'Archived' }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="edit">
              <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
              <mat-cell *matCellDef="let element" class="justify-edit-end">
                <mat-icon id="mat-icon">mode_edit_24px</mat-icon>
                <input *ngIf="activeTab == 0;" value="Edit" id="cancel-button" class="mt-1"
                  (click)="saveCustomField(element)" />
                <span *ngIf="activeTab !== 0" id="move-to-active" (click)="moveToActive (element)">Move to active</span>
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <mat-paginator hidden></mat-paginator>
        </div>
        <div *ngIf="!isLoading && dataSource.filteredData.length <= 0"
          class="d-flex flex-row justify-content-center align-items-center">
          <img class="col-6" style="max-width: 30%;" src="../../../../assets/img/12463945_4966448.svg" alt="">
          <span id="noSearchResults" class="col-6 d-flex flex-column justify-content-center align-items-center">
            <h1>No Matches Found</h1>
            <h2>
              It looks like there are no results matching your search criteria.<br>
              Try again or create a new entry by selecting 'Add New Field'.
            </h2>
          </span>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center align-items-center mt-2"
        *ngIf="!isLoading && dataSource.filteredData.length > 0">
        <div class="col-lg-4 col-md-4 fs-6 d-none d-md-flex" id="paginatorText">
          <span class="fw-medium d-none d-md-flex me-1">
            Showing {{ start }}-{{ end }}
          </span>
          <span>of {{ paginator.length }} results</span>
        </div>
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
          <button mat-icon-button (click)="paginator.previousPage()" [disabled]="!paginator.hasPreviousPage()">
            <mat-icon>arrow_left</mat-icon>
          </button>
          <button mat-icon-button *ngFor="let page of visiblePages" (click)="goToPage(page)">
            <span class="paginator" [ngClass]="{ active: page === pageIndex + 1 }">
              {{ page }}
            </span>
          </button>
          <button mat-icon-button (click)="paginator.nextPage()" [disabled]="!paginator.hasNextPage()">
            <mat-icon>arrow_right</mat-icon>
          </button>
        </div>
        <div class="col-lg-4 col-md-4 row justify-content-end align-items-center d-none d-md-flex" id="paginator-text">
          <span class="col-lg-4 col-md-7 fw-medium d-none d-md-flex"> Items per page </span>
          <mat-form-field appearance="outline" class="col-md-5" id="paginator-dropdown">
            <mat-select #pageNumber [(ngModel)]="pageSize" hideSingleSelectionIndicator="true">
              <mat-option *ngFor="let pageSize of pageSizes" [value]="pageSize">
                {{ pageSize }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>