.interact-fields-mobile {
  width: 100%;
  margin-bottom: 72px;
}

.interact-fields-desktop {
  width: 100%;
  margin-bottom: 72px;
}

#button-container {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#button-container > button {
  border-radius: 100px;
  background: var(--m-3-sys-light-primary, #0029C6);
  border-width: 0;
  color: white;
  display: flex;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.add-button-desktop {
  width: 220px;
}

.add-button-mobile {
  width: 100%;
  max-width: 220px;
}

.add-button-desktop{
  position: absolute;
  width: 220px !important;
  border-radius: 100px;
  background: var(--m-3-sys-light-primary, #0029C6);
  border-width: 0;
  color: white;
  display: flex;
  height: 40px;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
  margin-left:250px;
}

.add-button-mobile{
  width: 500px !important;
  margin-left:-8px;

}

#tab-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 240px;
  padding: 0px;
}

#tab-buttons>#tab {
  background-color: #ffffff;
  border-bottom: 2px solid transparent;
  color: #49454F;
  display: flex;
  width: 120px;
  height: 48px;
  line-height: 46px;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  flex-shrink: 0;
  transition: 0.5s border;
}

#tab-buttons>#tab:hover {
  border-bottom: 2px solid #0029C6;
  cursor: pointer;
}

#tab-buttons>#tab.activeTab {
  background-color: #B9C8FF;
  color: #0029C6;
  border-bottom: 2px solid #0029C6;
}

#table-buttons {
  height: 40px;
  width: 96px;
  text-align: center;
  margin-bottom: 24px;
  line-height: 40px;
}

#table-buttons>button {
  border: none;
  border-radius: 100px;
  padding: 0 24px;
}

#table-buttons>button.archive-active {
  color: var(--m-3-sys-light-on-surface, #1D1B20);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

  letter-spacing: 0.1px;
  text-transform: capitalize;
}

#field-table-container {
  margin-top: 32px;
}

#search-container {
  border-radius: 28px;
  border: 1px solid var(--m-3-sys-light-primary, #0029C6);
  background: var(--m-3-sys-light-primary-container, #D7DFFF);
  height: 40px;
  min-width: 360px;
  width: 350px;
  margin-bottom: 5px;
}

#search-container > div{
  height: 38px;
  border-radius: 28px;
}

.mat-icon{
  color:#0029C6;
}

#search-field {
  background-color: #d7dfffff;
  border-radius: 28px;
  color: #0029C6;
  font-family: inherit;
  width: 100%;
  height: 37px;
  border: 0;
  outline: 0;
}

#search-field:focus {
  color: #0029C6;
  outline: 0;
}

#search-field::placeholder{
  color: #0029c6;
}


.table-responsive,
.card {
    border-radius: 25px;
    border-color: #E8EFFF;
    overflow: hidden;
}

mat-header-row {
    background-color: #d7dfffff;
}

#paginator-text mat-form-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#paginator-text .mat-form-field-wrapper {
  height: 100%;
}

#paginator-text .mat-form-field-flex {
  align-items: center;
}

.paginator {
  color: #49454f;
  font-size: var(--font-size-1);
  font-weight: 500;
  line-height: 20px;
  letter-spacing: .10px;
  word-wrap: break-word;
  position: relative;
  font-size: 16px;
}

.paginator.active::after {
  content: "";
  position: absolute;
  bottom: -30%;
  left: 0;
  right: 0;
  height: 2px;
  color: var(--primary-color);
  background-color: var(--primary-color);
}

.paginator-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--font-size-1);
  font-weight: 500;
}

#paginator-text mat-form-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.paginator-dropdown {
  border: 1px solid #cac4d0;
}

.boldArrow .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 1 !important;
}

#cancel-button{
  width: 50px !important;
  border:none;
  height: 40px;
  padding: 10px 5px 10px 0px;
  margin-right:60px;
  text-align: center;
}

#cancel-button:hover{
  cursor:pointer;
}

#cancel-button:active {
  outline: 0;
  border:none
}

#move-to-active{
  color: var(--m-3-sys-light-primary, #0029C6);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-transform: capitalize;
}

#move-to-active:hover{
  cursor: pointer;
}

#save-button{
  min-width: 118px;
  height: 40px;
  padding: 10px 24px;
}

.inactive-tab-button{
  background-color: #1D1B201F !important;
  color: #1D1B201F !important;
  border-color: #1D1B201F !important;
}

.justify-edit-end {
  justify-content: flex-end;
}

#noSearchResults h1{
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

#noSearchResults h2 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
  text-align: center;
}