<div class="container-fluid py-4" *ngIf="userStacks$ | async as userStack">
  <div class="container-fluid py-4" >
    <div class="row">
      <div class="col-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Back-end</p>
              <h4 class="mb-0">{{userStack.userstacks?.backend?.title}}</h4>
            </div>
          </div>
          <div class="card-footer p-3">
            <p class="mb-0">{{userStack.userstacks?.backend?.description}}</p>
           <div>
            <a href="{{userStack.userstacks?.backend?.url}}" class="btn btn-primary" target="_blank">View More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Database</p>
              <h4 class="mb-0">{{userStack.userstacks?.database?.title}}</h4>
            </div>
          </div>
          <div class="card-footer p-3">
            <p class="mb-0">{{userStack.userstacks?.database?.description}}</p>
            <div>
            <a href="{{userStack.userstacks?.database?.url}}" class="btn btn-primary" target="_blank">View More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 col-sm-6 mb-xl-0 mb-4">
        <div class="card">
          <div class="card-header p-3 pt-2">
            <div class="text-end pt-1">
              <p class="text-sm mb-0 text-capitalize">Front-end</p>
              <h4 class="mb-0">{{userStack.userstacks?.frontend?.title}}</h4>
            </div>
          </div>
          <div class="card-footer p-3">
            <p class="mb-0">{{userStack.userstacks?.frontend?.description}}</p>
            <div>
              <a href="{{userStack.userstacks?.frontend?.url}}" class="btn btn-primary" target="_blank">View More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
